/*********************************************

CH Staging styles
For testing purposes only
All code must be cleared after it goes live

**********************************************/
/* CHUS Staging Styles - to be left in */
.cms-homepage-promo-grid-ch-us .o-region__inner.column.main,
.cms-homepage-promo-grid-ch-us .o-region__inner.s-promo-grid {
  width: 100%;
}

.cms-homepage-promo-grid-ch-us section.flexslider.pageSection.pageSection--slider.pageSection--fullWidth.fullWidthSlider {
  max-width: 100%;
}

/* END CHUS Staging styles */

/* squarelovin styles */
div#squarelovin-head-container,
.squarelovin-branding {
  display: none;
}

.pageSection {
  display: flex;
  flex-wrap: wrap;
}

section.pageSection.imageSocialFeed span {
  width: 100%;
  text-align: center;
}
section.pageSection.imageSocialFeed {
  padding: 0 0.8%;
}

.imageSocialFeedHeader {
  font-family: $crimreg;
  font-size: 30px;
  line-height: 1;
}

.imageSocialFeedHeader:after {
  content: '';
  width: 100px;
  height: 1px;
  background: #343334;
  display: block;
  margin: 2% auto;
}

.imageSocialFeedInfo {
  font-size: 16px;
  margin-bottom: 2%;
}

.galleryButton {
  border: 1px solid;
  padding: 0.5% 4%;
  margin: 1% auto 0;
}

.galleryButton:hover {
  background: #000;
  color: #fff;
}

ul.slides.fullWidthSlider__slidesList {
  width: 100%;
}

.squarelovin-hover-just-name {
  font-size: 25px !important;
  margin-top: 50px !important;
}

@media only screen and (max-width: 700px){
  .pageSectionHome.pageSection--halves {
    flex-wrap: unset;
  }
}

@media only screen and (max-width: 500px){
  .imageSocialFeedHeader {
    font-size: 7vw;
  }
  .imageSocialFeedInfo {
    line-height: 1.5;
  }
}

/* squarelovin END */