/***************************************************
/* UTILITY CSS
/* All below css is external from reglib
/**************************************************/

/****************************
/* Media Query Mixins
/***************************/

$small-mobile: 450px;
$large-mobile: 740px;
$tablet-width: 1024px;

@mixin smallmobile {
  @media (max-width: #{$small-mobile}) {
    @content;
  }
}

@mixin largemobile {
  @media (max-width: #{$large-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

/****************************
/* Image Styles
/***************************/

.cms-page img{width: 100%;}

/****************************
/* Effects Library
/***************************/

.ease{-webkit-transition: all 300ms ease-out;  -moz-transition: all 300ms ease-out;  -o-transition: all 300ms ease-out;  -ms-transition: all 300ms ease-out;  transition: all 300ms ease-out;}

/****************************
/* Colour Library
/***************************/

.blue{background-color: #0080c5; color: #fff;}
.green{background-color: #5aa11f; color: #fff;}
.black{background-color: #000; color: #fff;}

/****************************
/* Button Styles
/***************************/

.arrow-button{
    padding: 10px 30px 10px 20px;
    text-align: center;
    font-size: 20px;
    background-image: url(https://dbdhuxde2t9el.cloudfront.net/AW16/img/global/white-arrow-line.png);
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 10px;
	  border-radius: 3px;
    box-shadow: 0px 11px 10px -5px rgba(0, 0, 0, 0.29);
		-webkit-transition: all 300ms ease-out;  -moz-transition: all 300ms ease-out;  -o-transition: all 300ms ease-out;  -ms-transition: all 300ms ease-out;  transition: all 300ms ease-out;
		top:0px; position: relative;
}
.arrow-button:hover { position: relative; top: -10px; color:#fff;
-webkit-transition: all 300ms ease-out;  -moz-transition: all 300ms ease-out;  -o-transition: all 300ms ease-out;  -ms-transition: all 300ms ease-out;  transition: all 300ms ease-out;
}


/****************************
/* Redeye Styles
/***************************/

.redeye-form{
.successmessage{text-align: center; font-size: 30px; background: #5AA11F; color: #ffffff; padding: 20px; border-radius: 3px; box-shadow: 0px 11px 10px -10px rgba(0, 0, 0, 0.38); }
.redeye-form{max-width: 1200px; margin: auto;}
.invalid{box-shadow: 0px 0px 5px red;}
.popup{position: absolute;right: 0px;top: -10px;color: red;}
.redeye-form > div { margin: 1%; float: left; width: 31%; position: relative;}
.redeye-form  label { width: 100%;     font-size: 20px;    color: #000000;}
.redeye-form input { width: 100%; height: 40px; border: 1px solid #cecece; border-radius: 3px; }
.newsletter,  .toggles { width: inherit; }
.redeye-form button{clear: both; float: left; margin: 1%; width: 50%; padding: 20px; background: #000000; color: #ffffff; font-size: 20px; text-transform: uppercase; border: 0px; border-radius: 6px;}
.newsletter.first{clear:both;}
 .newsletter { clear: none; width: 31%; margin: 1%; border: solid 1px #d0d0d0; padding: 10px; text-align: center; box-shadow: 0px 10px 10px -10px #909090; }
.form-checkbox { max-width: 18%; text-align: center; border: solid 1px #c5c5c5; padding: 1%; box-shadow: 0px 5px 2px -5px #808080; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; width: 20px !important; height: 14px !important; margin: 10px; }
.title{clear: both;    width: 15%;}
.first-name { clear: left;}
.address-1 { clear: both;}
.postcode {  width: 10%;}
.town{ width: 27.3%;}
.county{ width: 27.3%;}
.country{ width: 27.3%;}
.toggles > label{ float: left;}
.toggles > select{ clear: both; float: left;}
}
.redeye-form > div { margin: 1%; float: left; width: 48%; position: relative; }
.redeye-form input { width: 100%; height: 40px; border: 1px solid #cecece; border-radius: 3px; }
.redeye-form button { clear: both; float: left; margin: 1%; width: 50%; padding: 20px; background: #000000; color: #ffffff; font-size: 20px; text-transform: uppercase; border: 0px; border-radius: 6px; }


@media only screen and (max-width: 767px) {
    html .redeye-form > div { width: 98% !important; }
    html .redeye-form input { max-width: 100%; }
    html .redeye-form button { width: 100%;  }
}



/****************************
/* Flex grid styles
/***************************/

/* base flex styles */
.flex-container{display: flex; flex-wrap: wrap; margin: 10px 0;}
.flex-container.flex-end{justify-content: flex-end;}
.flex-container.flex-start{justify-content: flex-start}
.flex-container.flex-center{justify-content: center}
.flex-container.flex-space{justify-content: space-around}
.flex-item{flex-grow: 1; padding: 0 5px; box-sizing: border-box;}
.flex-item > img{width: 100%;}
.flex-container.flex-end > .flex-item,
.flex-container.flex-start > .flex-item,
.flex-container.flex-center > .flex-item,
.flex-container.flex-space > .flex-item{flex-grow: 0;}
/* flex column styles */
.flex-item.col-1{width: 8.33%;}
.flex-item.col-2{width: 16.66%;}
.flex-item.col-3{width: 24.99%;}
.flex-item.col-4{width: 33.32%;}
.flex-item.col-5{width: 41.65%;}
.flex-item.col-6{width: 49.98%;}
.flex-item.col-7{width: 58.31%;}
.flex-item.col-8{width: 66.64%;}
.flex-item.col-9{width: 74.97%;}
.flex-item.col-10{width: 83.3%;}
.flex-item.col-11{width: 91.63%;}
.flex-item.col-12{width: 100%;}
.flex-item.auto{flex-grow: 1; flex-shrink: 1;}
@media screen and (max-width: 1024px){
/* flex column styles */
.flex-item.col-1{width: 24.99%;}
.flex-item.col-2{width: 24.99%;}
.flex-item.col-3{width: 24.99%;}
.flex-item.col-4{width: 49.98%;}
.flex-item.col-5{width: 49.98%;}
.flex-item.col-6{width: 49.98%;}
.flex-item.col-7{width: 100%;}
.flex-item.col-8{width: 100%;}
.flex-item.col-9{width: 100%;}
.flex-item.col-10{width: 100%;}
.flex-item.col-11{width: 100%;}
.flex-item.col-12{width: 100%;}
.flex-box.tablet-first{order: -1;}
.flex-box.tablet-last{order: 13;}
}
@media screen and (max-width: 740px){
/* flex column styles */
.flex-item.col-1{width: 49.98%;}
.flex-item.col-2{width: 49.98%;}
.flex-item.col-3{width: 49.98%;}
.flex-item.col-4{width: 49.98%;}
.flex-item.col-5{width: 49.98%;}
.flex-item.col-6{width: 49.98%;}
.flex-item.col-7{width: 100%;}
.flex-item.col-8{width: 100%;}
.flex-item.col-9{width: 100%;}
.flex-item.col-10{width: 100%;}
.flex-item.col-11{width: 100%;}
.flex-item.col-12{width: 100%;}
.flex-box.mobile-first{order: -1;}
.flex-box.mobile-last{order: 13;}
}
@media screen and (max-width: 740px){
/* flex column styles */
.flex-item.col-1{width: 100%;}
.flex-item.col-2{width: 100%;}
.flex-item.col-3{width: 100%;}
.flex-item.col-4{width: 100%;}
.flex-item.col-5{width: 100%;}
.flex-item.col-6{width: 100%;}
.flex-item.col-7{width: 100%;}
.flex-item.col-8{width: 100%;}
.flex-item.col-9{width: 100%;}
.flex-item.col-10{width: 100%;}
.flex-item.col-11{width: 100%;}
.flex-item.col-12{width: 100%;}
}

/********************************
/* Product Page Size Table Styles
/*******************************/
.js-size-guide-modal td {
    background: #f9f9f9;
    border: solid 1px #e0e0e0;
    text-transform: uppercase;
    padding: 10px;
}

.js-size-guide-modal .table-heading > td {
    background: #e0e0e0;
    height: 50px;
}

/****************************
/* Toggle Action Styles
/***************************/

*[data-action="toggle"]{
  border: 1px solid #ddd;
  padding: 8px 10px;
  position: relative;
  color: #333;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.05);
  cursor: pointer;
  padding-right: 30px;
}

*[data-action="toggle"]:hover{
  background: #f7f7f7;
}

*[data-action="toggle"]::after{
  content: "";
  border-width: 0.65rem 0.5rem 0 0.5rem;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  display: block;
  position: absolute;
  right: 10px;
  top: 40%;
  transition: all ease 0.5s;
}

*[data-action="toggle"].active::after{
  transform: rotateZ(180deg);
  transition: all ease 0.5s;
}

.action-toggle .toggle-content{
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all ease 0.5s;
}

.action-toggle .toggle-content.active{
  opacity: 1;
  max-height: 2000px;
  transition: all ease 0.5s;
}

/****************************
/* Tabs Styles
/***************************/

.action-tabs .tabs-content{
  border: 1px solid #ddd;
  padding: 10px 20px;
  position: relative;
}

.action-tabs .tabs{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.action-tabs .tabs *[data-action="tab"]{
  border: 1px solid #ddd;
  border-bottom: 0;
  padding: 10px 16px;
  flex-grow: 1;
  margin: 0 0px;
  cursor: pointer;
  font-size: 1.2em;
  flex-basis: 200px;
}

.action-tabs .tabs *[data-action="tab"]:hover{
  background: #f7f7f7;
}

.action-tabs .tabs *[data-action="tab"].active{
  background: #ddd;
}

.action-tabs .tabs-content > *{
  display: none;
}

.action-tabs .tabs-content > *.active{
  display: block
}

/****************************
/* Overlay Banner Styles
/***************************/

.overlay-banner{position: relative; margin-bottom: 40px;}
.overlay-banner img{width: 100%;}
.overlay-banner .overlay-text{position: absolute; top: 0; bottom:0; width: 100%; margin: auto; text-align: center; display: table;}

/****************************
/* Parallax Styles
/***************************/

.action-parallax{
    padding: 15% 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.action-parallax h2{
  text-align: center;
  color: #fff;
  font-size: 4vw;
  text-shadow: 1px 3px 5px rgba(0,0,0,0.5);
  padding: 10px 0;
  background: rgba(0,0,0,0.2);
}


/****************************
/* Wrapper Styles
/***************************/

.content-wrapper{max-width: 1228px; margin: 0 auto; width: 100%;}
@media screen and (max-width: 1227px){
  .content-wrapper{max-width: 990px; margin: 0 auto;}
}
@media screen and (max-width: 989px){
  .content-wrapper{max-width: 740px; margin: 0 auto; padding: 10px;}
}

/****************************
/* Lightbox Styles
/***************************/

.pop-overlay{
	display: none;
}
.pop-overlay.active{
	display: block;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 8;
}
.rl-pop{
	display: none;
}
.rl-pop.active{
	display: block;
	position: fixed;
	z-index: 9;
	background: #fff;
	width: 60%;
	margin: 20% 20% 10px;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
	box-sizing: border-box;
	top: 0;
}
.rl-pop [data-action="pop-close"]{
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px 14px;
	background: #ddd;
	border-radius: 0 0 0 4px;
	line-height: 0;
	font-weight: bold;
	cursor: pointer;

}
@media screen and (max-width: 700px){
	.rl-pop.active{
		width: 90%;
		margin: 20px 5%;
	}
}

/****************************
/* Basket Page Block
/***************************/
#basket-promo {
  max-width: 48%;
  margin: 1%;
  float: left;
}
#basket-promo.returns span {
  max-width: 85%;
  margin: 0;
}
#basket-promo li {
  display: block;
  float: left;
}
#basket-promo li img {
  max-width: 40px;
  margin: 10px;
  float: left;
}
#basket-promo li h3 {
  padding: 10px 0px;
  color: #000000;
  margin: 0;
  float: left;
  border-bottom: solid 1px #eaeaea;
  width: calc(100% - 60px);
}
#basket-promo span {
  padding: 5px 0px;
  display: block;
  float: left;
  margin: 0px 0px 0px 60px;
}
@media only screen and (max-width:989px) {
  #basket-promo {
    max-width: 90%;
  }
  .delivery-basket-container {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

.basket-container-promo-block {
  position: relative;
}


}
@media only screen and (max-width:739px) {
  .delivery-basket-container {
    max-height: none;
    overflow-x: visible;
    overflow-y: visible;
  }
  #basket-promo {
    max-width: 100%;
  }
  #basket-promo li {
    width: 100%;
  }
}


/****************************
/* Customer Service Forms
/***************************/

.cs-form label{
  display: block !important;
  margin: 15px 0 5px;
  width: 100% !important;
}

.cs-form input[type="text"], .cs-form textarea{
  width: 90%;
  display: block !important;
  clear: both !important;
}

.cs-form input[type="checkbox"]{
  display: inline-block;
  position: relative;
  top: 2px;
  left: 6px;
}

.cs-form button{
  margin: 10px 0;
}

.cs-form .newsletter{
  margin-top: 5px;
}

.cs-form .newsletter label{
  display: inline-block;
  margin-bottom: 0; margin-top: 0;
}

.cs-form button{
  float: none !important;
  clear: both !Important;
  display: block;
}
/****************************
/* Misc
/***************************/
.c-icon--extra{
  width: 20px;
}
@media only screen and (max-width: 660px) {
  .c-icon--extra{
    width: 30px;
  }

}

/****************************
/* Monetate - Endcaps
/***************************/
.page-product-configurable .monetate-product-relationships-one, .page-product-configurable .monetate-product-relationships-two {
    max-width: 48%;
    float: left;
    border: solid 1px #dedede;
    border-radius: 2px;
    margin: 1% 1% 2% 1%;
    background: white;
}
.page-product-configurable .monetate-recently-viewed, .page-product-configurable .outfit-builder  {
    clear: both;
    border: solid 1px #dedede;
    border-radius: 2px;
    margin: 1%;
    background: white;
}
html .mt_animate {
    margin: 0px
}
#wrapper .o-region.c-page-wrapper + .o-region .o-region__inner {
    width: 100%;
    background: #efefef;
    padding: 20px 0px;
    position: relative;
    overflow: hidden;
}
.page-product-configurable #wrapper .o-region .o-region__inner:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0%;
    width: 100%;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 10px 20px 0 #b8b8b8;
    z-index: 1;
}
.monetate-container {
    max-width: 1228px;
    margin: auto;
}
.c-tabs.product.info.detailed + .o-region__inner {
    width: 100%;
    background: #efefef;
}
.page-product-configurable .monetate-container {
    max-width: 1228px;
    margin: auto;
    padding: 1% 0%;
}
.monetate-product-relationships-one .mt_sliderMask ul li.mt_item, .monetate-product-relationships-two .mt_sliderMask ul li.mt_item {
    max-width: 245px;
}
.c-tabs.product.info.detailed {
    z-index: 2;
}
.c-tabs.product.info.detailed + .o-region__inner {
    position: relative;
}
.page-product-configurable .c-tabs.product.info.detailed + .o-region__inner:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0%;
    width: 100%;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 10px 20px 0 #b8b8b8;
    z-index: 1;
}
.mt_itemWrapper a {
    text-decoration: none;
}
@media only screen and (max-width:600px) {
    .page-product-configurable .monetate-product-relationships-one, .page-product-configurable .monetate-product-relationships-two {
        max-width: 100%;
    }
    .monetate-product-relationships-one, .monetate-product-relationships-two {
        max-width: 100%;
    }
    .c-tabs.product.info.detailed + .o-region__inner:before {
        display: none;
    }
    .c-tabs.product.info.detailed + .o-region__inner {
        background: transparent;
    }
    .monetate-product-relationships-one, .monetate-product-relationships-two {
        margin: 2% 0%;
    }
    .monetate-product-relationships-one .mt_sliderMask ul li.mt_item, .monetate-product-relationships-two .mt_sliderMask ul li.mt_item {
        max-width: none;
    }
    .monetate-recently-viewed {
        margin: 0;
    }
}
.mt_endcap {
    overflow: hidden;
    position: relative;
}
.mt_sliderMiddle {
    position: relative;
    overflow: hidden;
}
.mt_sliderMask {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.mt_sliderMask ul {
    position: relative;
}
.mt_sliderMask ul li.mt_item {
    box-sizing: border-box;
    padding: 10px;
    list-style: none;
}
.mt_arrowContainer {
    cursor: pointer;
}
.mt_ratings {
    display: inline-block;
    position: relative;
}
.mt_ratings > .mt_rating {
    overflow: hidden;
    white-space: nowrap;
}
.mt_ratings > .mt_rating.full {
    position: relative;
    z-index: 2;
}
.mt_ratings > .mt_rating.empty {
    position: absolute;
    top: 0;
}
.mt_endcap.mt_horizontal {
    width: 100%;
}
.mt_horizontal .mt_sliderMiddle {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
}
.mt_horizontal .mt_sliderMask {
    float: left;
    max-width: calc(100% - 40px);
}
.mt_horizontal .mt_sliderMask ul {
    left: 0;
}
.mt_horizontal .mt_sliderMask ul.mt_animate {
    -webkit-transition: left .25s;
    transition: left .25s;
}
.mt_horizontal li.mt_item {
    display: inline-block;
    vertical-align: top;
}
.mt_horizontal .mt_itemImageContainer .mt_image {
    width: 100%;
    height: auto;
}
.mt_horizontal .mt_arrowContainer {
    float: left;
    position: relative;
}
.mt_sliderTop {
    text-align: center;
    margin: 0%;
    padding: 10px 0px 6px 0px;
}
.mt_sliderTop .mt_title, .mt_item {
    font-family: 'futura-pt-book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #2f2f2f;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;
}
.mt_sliderTop .mt_title {
    padding: 0;
    font-size: 20px;
    border-bottom: solid 0px #d4d4d4;
    width: 96%;
    display: block;
    text-align: left;
    margin: 0px 2%;
    padding: 5px;
    color: #525252;
    text-transform: none;
}
.mt_item {
    font-size: 14px;
}
.mt_item .mt_prodName {
    margin-bottom: 6px;
    overflow: hidden;
    height: 32px;
    font-size: 16px;
    text-align: center;
    color: #676767;
    text-transform: initial;
}
.mt_item a:hover {
    color: #2f2f2f;
}
.mt_item a:hover .mt_prodName {
}
.mt_itemImageContainer {
    margin-bottom: 18px;
    padding: 1px;
}
.mt_description {
}
.mt_priceText {
    text-align: center;
}
.mt_price {
    display: inline-block;
}
.mt_altPrice {
    text-decoration: line-through;
    color: #bfbfbf;
}
.mt_price:before {
    content: 'Now: ';
}
.mt_altPrice:before {
    content: 'RRP: ';
}
.mt_altPrice + .mt_price {
    color: #ba2626;
    padding: 5px 5px 15px 5px;
    font-size: 16px;
}
.mt_currency {
}
.mt_amount {
}
.mt_disabled {
}
/* Footer Endcap Styles */
.page-product-configurable #footer .c-footer .mt_endcap.mt_horizontal, .checkout-index-index #footer .c-footer .mt_endcap.mt_horizontal, .guest-checkout-login-account-login #footer .c-footer .mt_endcap.mt_horizontal, .guest-checkout-login-account-create #footer .c-footer .mt_endcap.mt_horizontal {
  display: none !important;
}
#footer .c-footer .mt_endcap.mt_horizontal {
  background: #efefef;
  padding-top: 20px;
  padding-bottom: 40px;
}
#footer .c-footer .mt_sliderTop, #footer .c-footer .mt_sliderMiddle, #footer .c-footer .mt_sliderBottom {
  max-width: 1228px;
  margin: auto;
  background: #ffffff;
}
#footer .c-footer .mt_sliderTop {
  border-top: solid 1px #dedede;
  border-left: solid 1px #dedede;
  border-right: solid 1px #dedede;
  border-radius: 2px;
}
#footer .c-footer .mt_sliderMiddle {
  border-left: solid 1px #dedede;
  border-right: solid 1px #dedede;
  border-radius: 2px;
}
#footer .c-footer .mt_sliderBottom {
  border-top: solid 1px #dedede;
  border-left: solid 1px #dedede;
  border-right: solid 1px #dedede;
  border-radius: 2px;
}
.mt_sliderTop .mt_title {
  padding: 0;
  font-size: 20px;
  border-bottom: solid 1px #d4d4d4;
  width: 96%;
  display: block;
  text-align: left;
  margin: 0px 2%;
  padding: 5px;
  color: #525252;
  text-transform: none;
}
#footer .c-footer .mt_sliderMiddle {
  padding-top: 10px;
}
.c-footer .mt_endcap.mt_horizontal:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0%;
  width: 100%;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 10px 20px 0 rgba(184, 184, 184, 0.36);
  z-index: 1;
}


/*////////////////////////*/
/*    Responsive Table    */
/*////////////////////////*/

@media only screen and (max-width:500px) {
  .responsive-table::-webkit-scrollbar {
    width: 1em;
    height: 5px;
  }
  .responsive-table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .responsive-table::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
  .responsive-table {
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .responsive-table table {
    width: 250%;
  }
  .responsive-table tr > td:first-child {
    min-width: 120px;
    background: #eaeaea;
    position: absolute;
    width: 33%;
    left: inherit;
    z-index: 1;
    border: solid 1px #cccccc;
  }
  .responsive-table tr td {
    padding: 10px;
    background: #f9f9f9;    /* left: 16%; */

    /* position: relative; */
    z-index: 0;
    border: solid 1px #ece9e9;
  }
  .responsive-table table tr {
    position: relative;
  }
  .responsive-table tr td:nth-child(2) {
    padding-left: 20%;
  }
}
