/*/////////////////////////////////////////*/
/* Regatta Outlet Styles                   */
/* Author: Shaun Pelling & Richard Silcock */
/*/////////////////////////////////////////*/
/* Modules */
/***************************************************
/* UTILITY CSS
/* All below css is external from reglib
/**************************************************/
/****************************
/* Image Styles
/***************************/
.cms-page img {
  width: 100%; }

/****************************
/* Effects Library
/***************************/
.ease {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }

/****************************
/* Colour Library
/***************************/
.blue {
  background-color: #0080c5;
  color: #fff; }

.green {
  background-color: #5aa11f;
  color: #fff; }

.black {
  background-color: #000;
  color: #fff; }

/****************************
/* Button Styles
/***************************/
.arrow-button {
  padding: 10px 30px 10px 20px;
  text-align: center;
  font-size: 20px;
  background-image: url(https://dbdhuxde2t9el.cloudfront.net/AW16/img/global/white-arrow-line.png);
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 10px;
  border-radius: 3px;
  box-shadow: 0px 11px 10px -5px rgba(0, 0, 0, 0.29);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  top: 0px;
  position: relative; }

.arrow-button:hover {
  position: relative;
  top: -10px;
  color: #fff;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }

/****************************
/* Flex grid styles
/***************************/
/* base flex styles */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0; }

.flex-container.flex-end {
  justify-content: flex-end; }

.flex-container.flex-start {
  justify-content: flex-start; }

.flex-container.flex-center {
  justify-content: center; }

.flex-container.flex-space {
  justify-content: space-around; }

.flex-item {
  flex-grow: 1;
  padding: 0 5px;
  box-sizing: border-box; }

.flex-item > img {
  width: 100%; }

.flex-container.flex-end > .flex-item, .flex-container.flex-start > .flex-item, .flex-container.flex-center > .flex-item, .flex-container.flex-space > .flex-item {
  flex-grow: 0; }

/* flex column styles */
.flex-item.col-1 {
  width: 8.33%; }

.flex-item.col-2 {
  width: 16.66%; }

.flex-item.col-3 {
  width: 24.99%; }

.flex-item.col-4 {
  width: 33.32%; }

.flex-item.col-5 {
  width: 41.65%; }

.flex-item.col-6 {
  width: 49.98%; }

.flex-item.col-7 {
  width: 58.31%; }

.flex-item.col-8 {
  width: 66.64%; }

.flex-item.col-9 {
  width: 74.97%; }

.flex-item.col-10 {
  width: 83.3%; }

.flex-item.col-11 {
  width: 91.63%; }

.flex-item.col-12 {
  width: 100%; }

.flex-item.auto {
  flex-grow: 1;
  flex-shrink: 1; }

@media screen and (max-width: 990px) {
  /* flex column styles */
  .flex-item.col-1 {
    width: 24.99%; }

  .flex-item.col-2 {
    width: 24.99%; }

  .flex-item.col-3 {
    width: 24.99%; }

  .flex-item.col-4 {
    width: 49.98%; }

  .flex-item.col-5 {
    width: 49.98%; }

  .flex-item.col-6 {
    width: 49.98%; }

  .flex-item.col-7 {
    width: 100%; }

  .flex-item.col-8 {
    width: 100%; }

  .flex-item.col-9 {
    width: 100%; }

  .flex-item.col-10 {
    width: 100%; }

  .flex-item.col-11 {
    width: 100%; }

  .flex-item.col-12 {
    width: 100%; }

  .flex-box.tablet-first {
    order: -1; }

  .flex-box.tablet-last {
    order: 13; } }
@media screen and (max-width: 740px) {
  /* flex column styles */
  .flex-item.col-1 {
    width: 49.98%; }

  .flex-item.col-2 {
    width: 49.98%; }

  .flex-item.col-3 {
    width: 49.98%; }

  .flex-item.col-4 {
    width: 49.98%; }

  .flex-item.col-5 {
    width: 49.98%; }

  .flex-item.col-6 {
    width: 49.98%; }

  .flex-item.col-7 {
    width: 100%; }

  .flex-item.col-8 {
    width: 100%; }

  .flex-item.col-9 {
    width: 100%; }

  .flex-item.col-10 {
    width: 100%; }

  .flex-item.col-11 {
    width: 100%; }

  .flex-item.col-12 {
    width: 100%; }

  .flex-box.mobile-first {
    order: -1; }

  .flex-box.mobile-last {
    order: 13; } }
@media screen and (max-width: 740px) {
  /* flex column styles */
  .flex-item.col-1 {
    width: 100%; }

  .flex-item.col-2 {
    width: 100%; }

  .flex-item.col-3 {
    width: 100%; }

  .flex-item.col-4 {
    width: 100%; }

  .flex-item.col-5 {
    width: 100%; }

  .flex-item.col-6 {
    width: 100%; }

  .flex-item.col-7 {
    width: 100%; }

  .flex-item.col-8 {
    width: 100%; }

  .flex-item.col-9 {
    width: 100%; }

  .flex-item.col-10 {
    width: 100%; }

  .flex-item.col-11 {
    width: 100%; }

  .flex-item.col-12 {
    width: 100%; } }
/****************************
/* Toggle Action Styles
/***************************/
*[data-action="toggle"] {
  border: 1px solid #ddd;
  padding: 8px 10px;
  position: relative;
  color: #333;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  padding-right: 30px; }

*[data-action="toggle"]:hover {
  background: #f7f7f7; }

*[data-action="toggle"]::after {
  content: "";
  border-width: 0.65rem 0.5rem 0 0.5rem;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  display: block;
  position: absolute;
  right: 10px;
  top: 40%;
  transition: all ease 0.5s; }

*[data-action="toggle"].active::after {
  transform: rotateZ(180deg);
  transition: all ease 0.5s; }

.action-toggle .toggle-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all ease 0.5s; }

.action-toggle .toggle-content.active {
  opacity: 1;
  max-height: 2000px;
  transition: all ease 0.5s; }

/****************************
/* Tabs Styles
/***************************/
.action-tabs .tabs-content {
  border: 1px solid #ddd;
  padding: 10px 20px;
  position: relative; }

.action-tabs .tabs {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap; }

.action-tabs .tabs *[data-action="tab"] {
  border: 1px solid #ddd;
  border-bottom: 0;
  padding: 10px 16px;
  flex-grow: 1;
  margin: 0 0px;
  cursor: pointer;
  font-size: 1.2em;
  flex-basis: 200px; }

.action-tabs .tabs *[data-action="tab"]:hover {
  background: #f7f7f7; }

.action-tabs .tabs *[data-action="tab"].active {
  background: #ddd; }

.action-tabs .tabs-content > * {
  display: none; }

.action-tabs .tabs-content > *.active {
  display: block; }

/****************************
/* Overlay Banner Styles
/***************************/
.overlay-banner {
  position: relative;
  margin-bottom: 40px; }

.overlay-banner img {
  width: 100%; }

.overlay-banner .overlay-text {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  text-align: center;
  display: table; }

/****************************
/* Parallax Styles
/***************************/
.action-parallax {
  padding: 15% 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.action-parallax h2 {
  text-align: center;
  color: #fff;
  font-size: 4vw;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.2); }

/****************************
/* Basket Page Block
/***************************/
#basket-promo {
  max-width: 48%;
  margin: 1%;
  float: left; }

#basket-promo.returns span {
  max-width: 85%;
  margin: 0; }

#basket-promo li {
  display: block;
  float: left; }

#basket-promo li img {
  max-width: 40px;
  margin: 10px;
  float: left; }

#basket-promo li h3 {
  padding: 10px 0px;
  color: #000000;
  margin: 0;
  float: left;
  border-bottom: solid 1px #eaeaea;
  width: calc(100% - 60px); }

#basket-promo span {
  padding: 5px 0px;
  display: block;
  float: left;
  margin: 0px 0px 0px 60px; }

@media only screen and (max-width: 989px) {
  #basket-promo {
    max-width: 90%; }

  .delivery-basket-container {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll; }

  .basket-container-promo-block {
    position: relative; }

  .basket-container-promo-block:before {
    content: " ";
    background-image: url(http://cdn.dare2b.com/img/global-images/finger-swipe-up.svg);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: center;
    height: 40px;
    width: 30px;
    position: absolute;
    display: block;
    bottom: 20px;
    right: 50px;
    background-color: #ffffff;
    box-shadow: 0px 0px 50px #ffffff;
    animation-name: slide;
    animation-duration: 2s;
    animation-iteration-count: infinite; }

  @keyframes slide {
    0% {
      bottom: 20px; }
    50% {
      bottom: 40px; }
    51% {
      background-image: url(http://cdn.dare2b.com/img/global-images/finger-swipe-up.svg); }
    100% {
      bottom: 20px;
      background-image: url(http://cdn.dare2b.com/img/global-images/finger-swipe-down.svg); } } }
@media only screen and (max-width: 739px) {
  .delivery-basket-container {
    max-height: none;
    overflow-x: visible;
    overflow-y: visible; }

  #basket-promo {
    max-width: 100%; }

  #basket-promo li {
    width: 100%; } }
/****************************
/* Wrapper Styles
/***************************/
.content-wrapper {
  max-width: 1228px;
  margin: 0 auto;
  width: 100%; }

@media screen and (max-width: 1227px) {
  .content-wrapper {
    max-width: 990px;
    margin: 0 auto; } }
@media screen and (max-width: 989px) {
  .content-wrapper {
    max-width: 740px;
    margin: 0 auto;
    padding: 10px; } }
/****************************
/* Redeye Styles
/***************************/
.redeye-form .successmessage {
  text-align: center;
  font-size: 30px;
  background: #5AA11F;
  color: #ffffff;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0px 11px 10px -10px rgba(0, 0, 0, 0.38); }
.redeye-form .redeye-form {
  max-width: 1200px;
  margin: auto; }
.redeye-form .invalid {
  box-shadow: 0px 0px 5px red; }
.redeye-form .popup {
  position: absolute;
  right: 0px;
  top: -10px;
  color: red; }
.redeye-form .redeye-form > div {
  margin: 1%;
  float: left;
  width: 48%;
  position: relative; }
.redeye-form .redeye-form label {
  width: 100%;
  font-size: 20px;
  color: #000000; }
.redeye-form .redeye-form input {
  width: 100%;
  height: 40px;
  border: 1px solid #cecece;
  border-radius: 3px; }
.redeye-form .newsletter, .redeye-form .toggles {
  width: inherit;
  clear: both; }
.redeye-form .redeye-form button {
  clear: both;
  float: left;
  margin: 1%;
  width: 50%;
  padding: 20px;
  background: #000000;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  border: 0px;
  border-radius: 6px; }
.redeye-form .newsletter.first {
  clear: both; }
.redeye-form .newsletter {
  clear: none;
  width: 100%;
  margin: 3% 0%;
  border: solid 1px #d0d0d0;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 10px 10px -10px #909090; }
.redeye-form .form-checkbox {
  max-width: 18%;
  text-align: center;
  border: solid 1px #c5c5c5;
  padding: 1%;
  box-shadow: 0px 5px 2px -5px #808080; }
.redeye-form input[type="checkbox"], .redeye-form input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  width: 20px !important;
  height: 14px !important;
  margin: 10px; }

#email-sign-up .newsletter {
  width: 18%;
  margin: 1%; }
#email-sign-up .toggles {
  width: 100%; }

.redeye-form > div {
  margin: 1%;
  float: left;
  width: 48%;
  position: relative; }

.redeye-form input {
  width: 100%;
  height: 40px;
  border: 1px solid #cecece;
  border-radius: 3px; }

.redeye-form button {
  clear: both;
  float: left;
  margin: 1%;
  width: 50%;
  padding: 20px;
  background: #5AA11F;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  border: 0px;
  border-radius: 6px; }

@media only screen and (max-width: 768px) {
  html .redeye-form > div {
    width: 98%; }

  html .redeye-form input {
    max-width: 100%; }

  html .redeye-form button {
    width: 100%; } }
/****************************
/* Lightbox Styles
/***************************/
.pop-overlay {
  display: none; }

.pop-overlay.active {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8; }

.rl-pop {
  display: none; }

.rl-pop.active {
  display: block;
  position: fixed;
  z-index: 9;
  background: #fff;
  width: 60%;
  margin: 20% 20% 10px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  top: 0; }

.rl-pop [data-action="pop-close"] {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 14px;
  background: #ddd;
  border-radius: 0 0 0 4px;
  line-height: 0;
  font-weight: bold;
  cursor: pointer; }

@media screen and (max-width: 700px) {
  .rl-pop.active {
    width: 90%;
    margin: 20px 5%; } }
/****************************
/* Customer Service Forms
/***************************/
.cs-form label {
  display: block !important;
  margin: 15px 0 5px;
  width: 100% !important; }

.cs-form input[type="text"], .cs-form textarea {
  width: 90%;
  display: block !important;
  clear: both !important; }

.cs-form input[type="checkbox"] {
  display: inline-block;
  position: relative;
  top: 2px;
  left: 6px; }

.cs-form button {
  margin: 10px 0; }

.cs-form .newsletter {
  margin-top: 5px; }

.cs-form .newsletter label {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0; }

.cs-form button {
  float: none !important;
  clear: both !Important;
  display: block; }

/****************************
/* Monetate - Endcaps
/***************************/
.page-product-configurable .monetate-product-relationships-one, .page-product-configurable .monetate-product-relationships-two {
  max-width: 48%;
  float: left;
  border: solid 1px #dedede;
  border-radius: 2px;
  margin: 1% 1% 2% 1%;
  background: white; }

.page-product-configurable .monetate-recently-viewed, .page-product-configurable .outfit-builder {
  clear: both;
  border: solid 1px #dedede;
  border-radius: 2px;
  margin: 1%;
  background: white; }

html .mt_animate {
  margin: 0px; }

.page-product-configurable #wrapper + .o-region .o-region__inner:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0%;
  width: 100%;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 10px 20px 0 #b8b8b8;
  z-index: 1; }

.monetate-container {
  max-width: 1228px;
  margin: auto; }

.c-tabs.product.info.detailed + .o-region__inner {
  width: 100%;
  background: #efefef; }

.page-product-configurable .monetate-container {
  max-width: 1228px;
  margin: auto;
  padding: 1% 0%; }

.monetate-product-relationships-one .mt_sliderMask ul li.mt_item, .monetate-product-relationships-two .mt_sliderMask ul li.mt_item {
  max-width: 245px; }

.c-tabs.product.info.detailed {
  z-index: 2; }

.c-tabs.product.info.detailed + .o-region__inner {
  position: relative; }

.page-product-configurable #wrapper .c-tabs.product.info.detailed + .o-region__inner:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0%;
  width: 100%;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 10px 20px 0 #b8b8b8;
  z-index: 1; }

.mt_itemWrapper a {
  text-decoration: none; }

@media only screen and (max-width: 500px) {
  .monetate-product-relationships-one, .monetate-product-relationships-two {
    max-width: 100%; }

  .c-tabs.product.info.detailed + .o-region__inner:before {
    display: none; }

  .c-tabs.product.info.detailed + .o-region__inner {
    background: transparent; }

  .monetate-product-relationships-one, .monetate-product-relationships-two {
    margin: 2% 0%; }

  .monetate-product-relationships-one .mt_sliderMask ul li.mt_item, .monetate-product-relationships-two .mt_sliderMask ul li.mt_item {
    max-width: none; }

  .monetate-recently-viewed {
    margin: 0; } }
.mt_endcap {
  overflow: hidden;
  position: relative; }

.mt_sliderMiddle {
  position: relative;
  overflow: hidden; }

.mt_sliderMask {
  width: 100%;
  height: auto;
  overflow: hidden; }

.mt_sliderMask ul {
  position: relative; }

.mt_sliderMask ul li.mt_item {
  box-sizing: border-box;
  padding: 10px;
  list-style: none; }

.mt_arrowContainer {
  cursor: pointer; }

.mt_ratings {
  display: inline-block;
  position: relative; }

.mt_ratings > .mt_rating {
  overflow: hidden;
  white-space: nowrap; }

.mt_ratings > .mt_rating.full {
  position: relative;
  z-index: 2; }

.mt_ratings > .mt_rating.empty {
  position: absolute;
  top: 0; }

.mt_endcap.mt_horizontal {
  width: 100%; }

.mt_horizontal .mt_sliderMiddle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center; }

.mt_horizontal .mt_sliderMask {
  float: left;
  max-width: calc(100% - 40px); }

.mt_horizontal .mt_sliderMask ul {
  left: 0; }

.mt_horizontal .mt_sliderMask ul.mt_animate {
  -webkit-transition: left .25s;
  transition: left .25s; }

.mt_horizontal li.mt_item {
  display: inline-block;
  vertical-align: top; }

.mt_horizontal .mt_itemImageContainer .mt_image {
  width: 100%;
  height: auto; }

.mt_horizontal .mt_arrowContainer {
  float: left;
  position: relative; }

.mt_sliderTop {
  text-align: center;
  margin: 0%;
  padding: 10px 0px 6px 0px; }

.mt_sliderTop .mt_title, .mt_item {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #2f2f2f;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left; }

.mt_sliderTop .mt_title {
  padding: 0;
  font-size: 20px;
  border-bottom: solid 1px #d4d4d4;
  width: 96%;
  display: block;
  text-align: left;
  margin: 0px 2%;
  padding: 5px;
  color: #525252;
  text-transform: none; }

.mt_item {
  font-size: 14px; }

.mt_item .mt_prodName {
  margin-bottom: 6px;
  overflow: hidden;
  height: 32px;
  font-size: 15px;
  text-align: center;
  color: #676767;
  text-transform: initial; }

.mt_item a:hover {
  color: #2f2f2f; }

.mt_itemImageContainer {
  margin-bottom: 18px;
  padding: 1px; }

.mt_priceText {
  text-align: center; }

.mt_price {
  display: inline-block; }

.mt_altPrice {
  text-decoration: line-through;
  color: #bfbfbf; }

.mt_price:before {
  content: 'Now: '; }

.mt_altPrice:before {
  content: 'RRP: '; }

.mt_altPrice + .mt_price {
  color: #ba2626;
  padding: 5px 5px 15px 5px;
  font-size: 16px; }

/****************************
/* Redeye Form Styles
/***************************/
#register-guarantee-page {
  display: inline-block; }

/* Guarantee Page */
.redeye-form input {
  width: 100%; }

.redeye-form > div {
  margin: 1%;
  width: 48%;
  float: left; }

.redeye-form .title {
  clear: both;
  width: 15%; }

.redeye-form .first-name {
  clear: left; }

.redeye-form .address-1 {
  clear: both; }

.redeye-form .postcode {
  width: 10%; }

.redeye-form .town {
  width: 27.3%; }

.redeye-form .county {
  width: 27.3%; }

.redeye-form .country {
  width: 27.3%; }

.redeye-form .toggles > label {
  float: left; }

.redeye-form .toggles > select {
  clear: both;
  float: left; }

@media only screen and (max-width: 767px) {
  .redeye-form > div {
    width: 98% !important; } }
/* Partials */
/*////////////////////////*/
/*     Header Styles      */
/*////////////////////////*/
@media only screen and (min-width: 739px) {
  #header .c-header__logo img {
    width: auto;
    padding: 2px 0px; }
  #header .s-main-menu .categories > li:last-child a {
    text-align: center !important; } }
@media only screen and (max-width: 739px) {
  #header .c-icon--menu, #header .c-icon--account, #header .c-icon--search, #header .c-icon--shopping-basket-black {
    -webkit-filter: hue-rotate(320deg) saturate(5) brightness(0.8);
    filter: hue-rotate(320deg) saturate(5) brightness(0.8); }
  #header .c-header--sticky .o-layout__item.u-2\/12:nth-child(2), #header .c-header--sticky .o-layout__item.u-2\/12:nth-child(4), #header .c-header--sticky .o-layout__item.u-2\/12:nth-child(5) {
    position: relative;
    z-index: -1; } }
/*////////////////////////*/
/*   Footer Block Links   */
/*////////////////////////*/
.page-product-configurable #basket-promo {
  font-size: 15px; }

@media only screen and (max-width: 739px) {
  .mobile-footer-links h4::before {
    content: "+";
    float: right;
    font-size: 15px;
    margin-top: -3px; }

  .mobile-footer-links .toggleMain::before {
    content: "-";
    float: right;
    font-size: 15px;
    margin-top: -3px; }

  .mobile-footer-links h4 {
    background: #606060;
    padding: 10px;
    color: #ffffff; }

  .mobile-footer-links h4 + ul {
    display: none; }

  .mobile-footer-links .toggleMain + ul {
    display: inline-block;
    margin: 0px; }

  .mobile-footer-links .toggleMain + ul li {
    display: block;
    padding: 10px;
    margin: 1%;
    width: 48%;
    float: left;
    background: #d4d4d4;
    text-align: left; }

  .mobile-footer-links .toggleMain + ul li a {
    color: #606060; } }
.s-text-banner {
  padding: 0; }

#top-level-cat-banner {
  padding: 6px 6px 0;
  background: #eee; }

#top-level-cat-banner:after {
  display: block;
  content: "";
  clear: both; }

#top-level-cat-banner-img {
  float: left;
  width: 25%; }

#top-level-cat-banner-text {
  float: right;
  width: 75%;
  text-align: left;
  padding: 10px 30px; }

#top-level-cat-banner-text li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 6px 10px 0 0; }

#top-level-cat-banner-text ul {
  padding: 0;
  margin: 0; }

#top-level-cat-banner-text li a {
  color: #333; }

#top-level-cat-banner-text h1 {
  margin-bottom: 0px; }

#top-level-cat-banner-text p {
  margin-bottom: 5px; }

@media screen and (max-width: 989px) {
  #top-level-cat-banner-img {
    display: none; }

  #top-level-cat-banner-text {
    width: 100%;
    padding: 20px; } }
/*////////////////////////*/
/*         HEADER         */
/*////////////////////////*/
.c-header {
  background: #fff; }

.c-breadcrumbs {
  margin-bottom: 10px; }

.s-header-links .links > li, .s-header-links .links > li > a, .s-header-links .links > li > a:active, .s-header-links .links > li > a:focus, .s-header-links .links > li > a:hover, .s-header-links .links > li > a:visited {
  color: #333; }

.c-currency-switcher__link {
  color: #333; }

.c-currency-switcher__link:before {
  border-color: #333 transparent transparent;
  border-top-color: black;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent; }

.c-header--sticky {
  background: #fff; }

.c-header-search .c-header-search__input {
  background: #e0e0e0;
  padding-top: 0 !important; }

.c-header-search .c-input-wrap__icon {
  background-color: #9c9c9c;
  margin: 0; }

.c-mini-cart-btn__items {
  background: #bd0924; }

.c-mini-cart-btn {
  background: #d32526; }

.c-mini-cart-btn__price:after {
  width: 0px; }

.c-header__logo {
  padding: 10px; }

.cms-page img {
  width: 100%; }

#header .c-header__logo {
  padding-left: 0; }

#header .c-header__logo img {
  height: 92px; }

.c-mini-cart-btn__price:before {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2229px%22%20height%3D%2230px%22%20viewBox%3D%220%200%2029%2030%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%20%20%20%20%3Ctitle%3Eshoping-basket.svg%3C%2Ftitle%3E%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22shopping-basket%22%20transform%3D%22translate%28-1.000000%2C%20-1.000000%29%22%20fill%3D%22%23FFFFFF%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M29.438%2C24.55%20L30.005%2C29.8%20C30.041%2C30.101%2029.946%2C30.403%2029.746%2C30.63%20C29.555%2C30.86%2029.268%2C30.99%2028.969%2C30.98%20L2.031%2C30.98%20C1.732%2C30.99%201.445%2C30.86%201.254%2C30.63%20C1.054%2C30.402%200.959%2C30.101%200.995%2C29.8%20L1.561%2C24.55%20L29.438%2C24.55%20L29.438%2C24.55%20Z%20M27.938%2C10.51%20L29.33%2C23.48%20L1.68%2C23.48%20L3.072%2C10.51%20C3.099%2C10.25%203.22%2C10.008%203.412%2C9.83%20C3.6%2C9.649%203.851%2C9.549%204.112%2C9.55%20L8.257%2C9.55%20L8.257%2C11.7%20C8.247%2C12.264%208.466%2C12.809%208.863%2C13.21%20C9.631%2C14.02%2010.909%2C14.053%2011.719%2C13.285%20C11.745%2C13.261%2011.77%2C13.236%2011.794%2C13.21%20C12.191%2C12.809%2012.41%2C12.265%2012.401%2C11.7%20L12.401%2C9.55%20L18.617%2C9.55%20L18.617%2C11.7%20C18.608%2C12.264%2018.827%2C12.808%2019.224%2C13.21%20C19.99%2C14.019%2021.268%2C14.054%2022.077%2C13.287%20C22.103%2C13.262%2022.129%2C13.236%2022.154%2C13.21%20C22.552%2C12.809%2022.771%2C12.265%2022.761%2C11.7%20L22.761%2C9.55%20L26.906%2C9.55%20C27.167%2C9.549%2027.418%2C9.649%2027.606%2C9.83%20C27.796%2C10.009%2027.913%2C10.251%2027.938%2C10.51%20L27.938%2C10.51%20Z%20M21.721%2C7.41%20L21.721%2C11.7%20C21.725%2C11.981%2021.614%2C12.252%2021.414%2C12.45%20C21.045%2C12.852%2020.419%2C12.879%2020.017%2C12.51%20C19.996%2C12.491%2019.976%2C12.471%2019.957%2C12.45%20C19.757%2C12.252%2019.646%2C11.981%2019.649%2C11.7%20L19.649%2C7.41%20C19.668%2C6.278%2019.231%2C5.186%2018.435%2C4.38%20C16.901%2C2.762%2014.346%2C2.693%2012.728%2C4.227%20C12.676%2C4.276%2012.625%2C4.328%2012.575%2C4.38%20C11.779%2C5.185%2011.341%2C6.277%2011.36%2C7.41%20L11.36%2C11.7%20C11.364%2C11.981%2011.253%2C12.252%2011.053%2C12.45%20C10.684%2C12.852%2010.058%2C12.879%209.656%2C12.51%20C9.635%2C12.491%209.615%2C12.471%209.596%2C12.45%20C9.396%2C12.252%209.285%2C11.981%209.288%2C11.7%20L9.288%2C7.41%20C9.26%2C5.71%209.916%2C4.071%2011.109%2C2.86%20C13.427%2C0.432%2017.275%2C0.344%2019.702%2C2.662%20C19.769%2C2.726%2019.835%2C2.792%2019.9%2C2.86%20C21.092%2C4.071%2021.746%2C5.711%2021.716%2C7.41%20L21.721%2C7.41%20L21.721%2C7.41%20Z%22%20id%3D%22shoping-basket.svg%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E") !important; }

@media screen and (max-width: 739px) {
  h3.mob-only {
    display: block !important;
    margin-top: 0; } }
/*//////////////////////////*/
/*Jackets Buying Guide      */
/*//////////////////////////*/
#wp-jacket-guide .flex-item a {
  text-decoration: none;
  color: #fff;
  margin: 20px;
  display: block; }

#wp-jacket-guide .flex-container {
  margin: 50px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 40px; }

#wp-jacket-guide .col-9 {
  padding: 0 30px; }

@media screen and (max-width: 990px) {
  #wp-jacket-guide .flex-item img {
    display: none; } }
/*//////////////////////////
/* Fabrics Page */
/*////////////////////////*/
.cms-fabrics .action-parallax {
  padding: 10% 0;
  margin-bottom: 30px; }

.cms-fabrics .action-parallax h2 {
  text-align: center;
  color: #fff;
  font-size: 4vw;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.2); }

#fabric-technologies {
  margin-bottom: 60px; }

#fabric-technologies h2,
#footwear-tech h2 {
  text-align: center;
  font-size: 32px; }

#fabric-technologies select,
#footwear-tech select {
  margin: 10px auto 30px;
  max-width: 400px;
  display: block;
  width: 100%; }

#fabric-info > div,
#footwear-info > div {
  background: #eee;
  padding: 20px;
  border: 1px solid #e7e7e7;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  margin: 10px 0;
  display: none; }

#fabric-info > div.active,
#footwear-info > div.active {
  display: block; }

#fabric-info > div img,
#footwear-info > div .foot-image {
  float: left;
  width: 50%;
  max-width: 400px;
  margin-right: 20px; }

#footwear-info .foot-contents {
  float: right;
  width: 40%; }

#fabric-info > div p,
#footwear-info > div p {
  font-size: 14px; }

#fabric-info > div:after,
#footwear-info > div:after {
  content: "";
  display: block;
  clear: both; }

.cms-ourfabrics .o-region__inner.main {
  width: 100% !important; }

@media screen and (max-width: 989px) {
  #footwear-info > div .foot-image {
    float: none;
    width: 100%; }

  #footwear-info .foot-contents {
    float: none;
    width: 100%; } }
/* Singles */
#homepage .flex-item {
  border: solid 3px #ffffff; }
#homepage .flex-container .flex-item {
  padding: 0px; }
#homepage img {
  width: 100%; }
#homepage .two .flex-item {
  background: #efefef; }
#homepage .two h3 {
  padding: 10px 10px;
  margin: 0; }
#homepage .two .flex-item .size-block {
  background: #bd0924;
  color: #ffffff;
  width: 24%;
  display: block;
  margin: 0.5%;
  float: left;
  text-align: center;
  padding: 16px;
  font-size: 16px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none; }
#homepage .two .size-block-container {
  padding: 10px 20px 20px 20px;
  display: inline-block; }
#homepage .three .flex-container a {
  background: #bd0924;
  text-align: center;
  color: #ffffff;
  padding: 20px;
  font-size: 20px; }
#homepage .four a {
  color: black;
  text-decoration: none;
  text-align: center; }
#homepage .four h3 {
  margin: 10px 10px 0px 10px;
  font-weight: bold; }
#homepage .four span {
  text-align: center;
  width: 90%;
  display: block;
  margin: 0px auto 10px auto; }
#homepage .four .flex-item {
  position: relative; }
#homepage .four .arrow-button {
  position: absolute;
  bottom: 30%;
  top: inherit;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 150px;
  font-size: 15px; }
#homepage .four .arrow-button:hover {
  top: initial;
  position: absolute; }
#homepage .four .flex-item a:hover .arrow-button {
  bottom: 35%; }
#homepage .three .by-price-title > span {
  position: relative;
  top: -16px;
  background: #ffffff;
  padding: 0px 20px;
  font-size: 20px;
  text-transform: uppercase; }
#homepage .three .by-price-title {
  border-top: solid 1px #000000;
  height: 20px;
  margin-top: 20px;
  text-align: center; }
#homepage .flex-item a {
  text-decoration: none; }

@media only screen and (max-width: 768px) {
  #homepage .flex-item.col-2 {
    width: 50%; }
  #homepage .four .arrow-button {
    top: 32vh;
    bottom: initial; } }

/*# sourceMappingURL=styles.css.map */
