/*//////////////////////////
/* Fabrics Page
/*////////////////////////*/

.cms-fabrics .action-parallax{
  padding: 10% 0;
  margin-bottom: 30px;
}

.cms-fabrics .action-parallax h2{
  text-align: center;
  color: #fff;
  font-size: 4vw;
  text-shadow: 1px 3px 5px rgba(0,0,0,0.5);
  padding: 10px 0;
  background: rgba(0,0,0,0.2);
}

#fabric-technologies{
  margin-bottom: 60px;
}

#fabric-technologies h2,
#footwear-tech h2{
  text-align: center;
  font-size: 32px;
}

#fabric-technologies select,
#footwear-tech select{
  margin: 10px auto 30px;
  max-width: 400px;
  display: block;
  width: 100%;
}

#fabric-info > div,
#footwear-info > div{
  background: #eee;
  padding: 20px;
  border: 1px solid #e7e7e7;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  margin: 10px 0;
  display: none;
}

#fabric-info > div.active,
#footwear-info > div.active{
  display: block;
}

#fabric-info > div img,
#footwear-info > div .foot-image{
  float: left;
  width: 50%;
  max-width: 400px;
  margin-right: 20px;
}

#footwear-info .foot-contents{
  float: right;
  width: 40%;
}

#fabric-info > div p,
#footwear-info > div p{
  font-size: 14px;
}

#fabric-info > div:after,
#footwear-info > div:after{
  content: "";
  display: block;
  clear: both;
}

.cms-fabrics .o-region__inner.main{width: 100%;}

@media screen and (max-width: 989px){
  #footwear-info > div .foot-image{float: none; width: 100%;}
  #footwear-info .foot-contents{float: none; width: 100%;}
}

/*//////////////////////////
/* About Us Page
/*////////////////////////*/

.overlay-banner .overlay-text span{display: block; color: #fff; font-size: 2.8vw !important; text-shadow: 2px 4px 6px rgba(0,0,0,0.7);}
#about-us > p{text-align: center; max-width: 900px; margin: 12px auto}
#about-us > p strong{font-size: 20px;}

/*//////////////////////////
/* Garment Care Page
/*////////////////////////*/

.cms-garment-care .o-region__inner.main{
  width: 100%
}

#garment-care .action-parallax{
  padding: 10% 0;
  margin-bottom: 40px;
  box-shadow: inset -5px -5px 10px rgba(0,0,0,0.5);
}

/*//////////////////////////
/* Jackets Guide Page
/*////////////////////////*/

#jackets-buying-guide .flex-container > div{
  padding: 20px;
  border-bottom: 1px solid #ddd
}

#jackets-buying-guide .flex-container > div .arrow-button{
  display: block;
  margin: 12px 0;
  text-decoration: none;
  max-width: 400px;
}

/*//////////////////////////
/* Tents Guide Page
/*////////////////////////*/

#tent-buying-guide .overlay-banner, #tent-buying-guide .tent-img{
  margin-bottom: -7px;
}

.tents-intro{
  background: #eee;
  padding: 20px;
}

#tent-buying-guide .flex-container {
  margin: 0;
}

#tent-buying-guide .flex-container > div{
  padding: 20px;
}

#tent-buying-guide .flex-container .col-4{
  background: #333;
  color: #fff;
}

#tent-buying-guide .flex-container .col-4 h3{
  color: #fff;
}

#tent-buying-guide .flex-container .col-8{
  background: #eee;
}

/*//////////////////////////
/* Boots Guide Page
/*////////////////////////*/

#boots-buying-guide .arrow-button{
  text-decoration: none;
  margin-top: 40px;
  display: block;
  max-width: 260px;
}

#boots-buying-guide .flex-item{
  padding: 20px;
  background: #eee;
  margin: 10px 0;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2)
}

/*//////////////////////////
/* Down Guide Page
/*////////////////////////*/

#down-guides > img{
  max-width: 150px;
  margin: 60px auto 30px;
  display: block;
}

#down-guides .flex-item.col-6{
  padding: 10px 40px;
}

#down-guides .flex-item.col-6 > img{
  max-width: 240px;
  display: block;
  margin: 10px auto
}

@media screen and (max-width: 741px){
  #down-guides .flex-item.col-3 img{display: none;}
}

/*//////////////////////////
/* Email Sign Up Page
/*////////////////////////*/

#email-signup-page .flex-item{
  margin: 5px 0;
}

#email-signup-page form > div:first-child label{
  display: block;
}

#email-signup-page .newsletter.text{
  margin: 8px 0;
}

#email-signup-page{
  margin: 10px;
}