/*//////////////////////////
/* Black Friday page */
/*////////////////////////*/
#black-friday-page {
  text-align: center;
  color: #ffffff;
  padding: 20px 0px;

  h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
  }
  h1 {
    font-weight: bold;
    font-size: 60px;
  }
  .redeye-form > div {
    clear: both;
    width: 80%;
    margin: 0% 10%
  }
  .redeye-form > div label {
    padding: 20px 0px;
    display: block;
  }
  .toggles label {
    float: initial;
  }
  .toggles select {
    float: initial;
    color: #000000;
    min-width: 200px;
  }
  .newsletter.text > * {
    display: inline-block;
    width: initial;
    padding: 20px;
  }
  .arrow-button {
    margin: 0px 0px 10px 0px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
  }
}

/*//////////////////////////
/* Holiday Shop page */
/*////////////////////////*/
#holiday-shop-page {
  .flex-container {
    position: relative;
  }
  .stay {
    min-height: 540px;
    max-height: 540px;
    height: 100vh;
    position: relative;
  }
  .stay .box-container.one {
    max-width: 30%;
  }
  .stay > a {
    width: 100%;
  }
  .stay .atmos.large {
    max-width: 60%;
    width: 100%;
  }
  .columns {
    background: url('//cdn.regatta.com/img/ss17/uk/page/holiday-shop/background.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    margin-top: -10px;
  }
  .breadcrumbs {
    display: none;
  }
  .c-page-wrapper {
    padding: 0px;
  }
  .holiday-shop {
    background: white;
  }
  .flex-item.col-12.banner {
    position: relative;
  }
  .flex-item.col-12 img {
    width: 100%;
  }
  .flex-item.col-12.banner .text {
    position: absolute;
    bottom: 10%;
    left: 3%;
    max-width: 395px;
  }
  .swimwear {
    background: #ea6c58 !important;
  }
  .holiday-shop .flex-item.col-12 {
    width: 100%;
    text-align: center;
  }
  .flex-item.col-12.sub-text {
    text-align: center;
    max-width: 80%;
    margin: auto;
  }
  .fancy-spots {
    min-height: 970px;
    max-height: 970px;
    height: 100vh;
    position: relative;
  }
  .border-box {
    border: solid 1px;
    height: 360px;
    position: absolute;
    width: 100%;
    max-width: 70%;
    top: 9%;
    right: 14%;
  }
  .text-box strong {
    display: block;
    color: #ffffff;
    text-transform: uppercase;
  }
  .atmos.large {
    position: absolute;
    max-width: 45%;
  }
  .text-box {
    background: #76cebc;
    width: 100%;
    max-width: 330px;
    max-height: 300px;
    height: 100vh;
    float: left;
    text-align: center;
    padding: 30px;
  }
  .product-shot {
    float: left;
    max-width: 230px;
    margin-left: 7%;
  }
  .icon {
    max-width: 80px;
    float: left;
    margin-top: 40px;
    margin-left: 7%;
  }
  .atmos.small {
    position: absolute;
    bottom: 5%;
    right: 0;
    max-width: 360px;
  }
  .box-container.one {
    position: absolute;
    right: 0px;
    top: 12%;
    width: 100%;
    max-width: 67%;
  }
  .box-container.two {
    position: absolute;
    right: 27%;
    bottom: 9%;
    z-index: 1;
  }
  .box-container.two .text-box {
    background: #e983bc;
  }
  .text-box h5 {
    font-family: 'Kristi', cursive;
    font-size: 6em;
    color: #ffffff;
    line-height: 70px;
    text-transform: capitalize;
    font-weight: 100;
  }
  .text-box span {
    color: #ffffff;
    text-transform: uppercase;
    display: block;
  }
  .text-box a {
    background: #ffffff;
    border: none;
    padding: 5px 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
    color: #737373;
    text-decoration: none;
  }
  .footwear .flex-container {
    background: #f5eced;
    padding: 20px;
    max-height: 300px;
    height: 100vh;
    margin: 0;
  }
  .final .fancy-spots {
    min-height: 630px;
    max-height: 650px;
    height: 65vh;
  }
  .footwear .text-box {
    background: #e3efca;
  }
  .final .fancy-spots .atmos.large {
    right: 0px;
    max-width: 30%;
  }
  .final .fancy-spots .box-container.one {
    right: 32%;
    z-index: 1;
  }
  .final .fancy-spots .text-box {
    float: right;
  }
  .final .fancy-spots .product-shot {
    float: right;
    margin-left: initial;
    margin-right: 5%;
    margin-top: 2%;
  }
  .final .atmos.small {
    max-width: 65%;
    width: 100%;
    right: initial;
    padding: 20px;
    font-size: 2em;
    letter-spacing: 9px;
    color: #ffffff;
    line-height: 30px;
    text-transform: uppercase;
    background: #f2b4a8;
    background: -moz-linear-gradient(left, #f2b4a8 0%, #ba1e02 100%);
    background: -webkit-linear-gradient(left, #f2b4a8 0%, #ba1e02 100%);
    background: linear-gradient(to right, #f2b4a8 0%, #ba1e02 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2b4a8', endColorstr='#ba1e02', GradientType=1);
  }
  @media only screen and (max-width:1227px) {
    .icon {
      display: none;
    }
    .text-box h5 {
      font-size: 5em;
    }
  }
  @media only screen and (max-width:990px) {
    .product-shot {
      display: none;
    }
    .flex-container.footwear .col-9 {
      max-width: 70%;
    }
    .footwear h5 {
      font-size: 4em;
    }
    .final .atmos.small {
      max-width: 100%;
    }
    .content-spots .col-12 {
      max-width: 50%;
    }
  }
  @media only screen and (max-width:760px) {
    .footwear > .col-9, .footwear > .col-3 {
      width: 100%;
      max-width: 100% !important;
    }
    .footwear .text-box {
      max-width: 100%;
    }
    .footwear h5 {
      font-size: 6em;
    }
  }
  @media only screen and (max-width:740px) {
    .content-spots .flex-item {
      max-width: 50%;
    }
    .content-spots .col-12 {
      max-width: 50% !important;
    }
    .footwear .flex-item {
      max-width: 32.98%;
    }
    .footwear .flex-item.col-12 {
      max-width: 100%;
    }
    .columns {
      background: none;
    }
    .stay .box-container.one, .border-box {
      display: none;
    }
  }
  @media only screen and (max-width:550px) {
    .atmos.small {
      bottom: 14%;
    }
    .box-container.two {
      bottom: -10%;
    }
    .footwear {
      margin-top: 40%;
    }
    .swimwear h5 {
      font-size: 5em;
    }
    body .banner .text {
      max-width: 180px !important;
      left: 0 !important;
      right: 0;
      margin: auto;
    }
    .stay {
      min-height: 360px !important;
      max-height: 360px !important;
      margin-top: 60px !important;
    }
    .stay .atmos.large {
      max-width: 100%;
      width: 100%;
    }
  }
  @media only screen and (max-width:340px) {
    .text-box h5 {
      font-size: 3em;
      line-height: normal;
    }
    .text-box {
      max-height: 240px;
    }
  }
}


/*//////////////////////////
/* Homepage */
/*////////////////////////*/
#homepage {
  .footwear span, .footwear strong {
    color: #000000 !important;
  }
  .gender-spots a:nth-child(2) {
    margin: 8px 0px;
    display: block;
  }
  @media only screen and (max-width:990px) {
    .gender-spots > a {
      width: 32.6%;
      display: block;
      float: left;
      margin-top: 7px !important;
    }
    .gender-spots > a:nth-child(2) {
      margin: 0px 1%;
    }
    .content-spots .flex-item.col-3 {
      width: 49.99%;
      margin: 5px 0px;
    }
    .saleStrip {
      display: none;
    }
    .contentSpots-Lower > div {
      width: 32.98%;
    }
  }
  @media only screen and (max-width:600px) {
    .gender-spots > div {
      float: left;
      width: 49.98% !important;
      margin: 5px 0px;
    }
    .mid-spots > div {
      width: 49.98%;
      margin: 5px 0px;
    }
    .final-spots > div:nth-child(2) {
      margin: 10px 0px;
    }

  }
}


/*//////////////////////////
/* Fabrics Page */
/*////////////////////////*/

.cms-fabrics .action-parallax{
  padding: 10% 0;
  margin-bottom: 30px;
}

.cms-fabrics .action-parallax h2{
  text-align: center;
  color: #fff;
  font-size: 4vw;
  text-shadow: 1px 3px 5px rgba(0,0,0,0.5);
  padding: 10px 0;
  background: rgba(0,0,0,0.2);
}

#fabric-technologies{
  margin-bottom: 60px;
}

#fabric-technologies h2,
#footwear-tech h2{
  text-align: center;
  font-size: 32px;
}

#fabric-technologies select,
#footwear-tech select{
  margin: 10px auto 30px;
  max-width: 400px;
  display: block;
  width: 100%;
}

#fabric-info > div,
#footwear-info > div{
  background: #eee;
  padding: 20px;
  border: 1px solid #e7e7e7;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  margin: 10px 0;
  display: none;
}

#fabric-info > div.active,
#footwear-info > div.active{
  display: block;
}

#fabric-info > div img,
#footwear-info > div .foot-image{
  float: left;
  width: 50%;
  max-width: 400px;
  margin-right: 20px;
}

#footwear-info .foot-contents{
  float: right;
  width: 40%;
}

#fabric-info > div p,
#footwear-info > div p{
  font-size: 14px;
}

#fabric-info > div:after,
#footwear-info > div:after{
  content: "";
  display: block;
  clear: both;
}

.cms-fabrics .o-region__inner.main{width: 100%;}

@media screen and (max-width: 989px){
  #footwear-info > div .foot-image{float: none; width: 100%;}
  #footwear-info .foot-contents{float: none; width: 100%;}
}

/*//////////////////////////

/* About Us Page */
/*////////////////////////*/

.overlay-banner .overlay-text span{display: block; color: #fff; font-size: 2.8vw !important; text-shadow: 2px 4px 6px rgba(0,0,0,0.7);}
#about-us > p{text-align: center; max-width: 900px; margin: 12px auto}
#about-us > p strong{font-size: 20px;}

/*//////////////////////////

/* Garment Care Page */
/*////////////////////////*/

.cms-garment-care .o-region__inner.main{
  width: 100%
}

#garment-care .action-parallax{
  padding: 10% 0;
  margin-bottom: 40px;
  box-shadow: inset -5px -5px 10px rgba(0,0,0,0.5);
}

/*//////////////////////////

/* Jackets Guide Page */
/*////////////////////////*/

#jackets-buying-guide .flex-container > div{
  padding: 20px;
  border-bottom: 1px solid #ddd
}

#jackets-buying-guide .flex-container > div .arrow-button{
  display: block;
  margin: 12px 0;
  text-decoration: none;
  max-width: 400px;
}

/*//////////////////////////

/* Tents Guide Page */
/*////////////////////////*/

#tent-buying-guide .overlay-banner, #tent-buying-guide .tent-img{
  margin-bottom: -7px;
}

.tents-intro{
  background: #eee;
  padding: 20px;
}

#tent-buying-guide .flex-container {
  margin: 0;
}

#tent-buying-guide .flex-container > div{
  padding: 20px;
}

#tent-buying-guide .flex-container .col-4{
  background: #333;
  color: #fff;
}

#tent-buying-guide .flex-container .col-4 h3{
  color: #fff;
}

#tent-buying-guide .flex-container .col-8{
  background: #eee;
}

/*//////////////////////////

/* Boots Guide Page */
/*////////////////////////*/

#boots-buying-guide .arrow-button{
  text-decoration: none;
  margin-top: 40px;
  display: block;
  max-width: 260px;
}

#boots-buying-guide .flex-item{
  padding: 20px;
  background: #eee;
  margin: 10px 0;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2)
}

/*//////////////////////////

/* Down Guide Page */
/*////////////////////////*/

#down-guides > img{
  max-width: 150px;
  margin: 60px auto 30px;
  display: block;
}

#down-guides .flex-item.col-6{
  padding: 10px 40px;
}

#down-guides .flex-item.col-6 > img{
  max-width: 240px;
  display: block;
  margin: 10px auto
}

@media screen and (max-width: 741px){
  #down-guides .flex-item.col-3 img{display: none;}
}

/*//////////////////////////

/* Email Sign Up Page */
/*////////////////////////*/
#email-signup-page{

.redeye-form > div{ width: 100%;}

.redeye-form > div > div {
    width: 48%;
    margin: 1%;
    float: left;
}
.optionSelect > div {
    width: 115px;
    margin: 10px;
    float: left;
    background: #dadada;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}

}
@media screen and (max-width: 767px){
  .redeye-form > div > div {
      width: 100%;
  }
}


#email-signup-page .flex-item{
  margin: 5px 0;
  display: inline-block;
  width: 100%;
}

#email-signup-page form > div:first-child label{
  display: block;
}

#email-signup-page .newsletter.text{
  margin: 8px 0;
}

#email-signup-page{
  margin: 10px;
  display: inline-block;
} 

/*//////////////////////////

/* Reg Guarantee Up Page */
/*////////////////////////*/

#register-guarantee-page .newsletter.text{
  margin: 8px 0;
}

#register-guarantee-page{
  margin: 10px;
  display: inline-block;
} 

/*//////////////////////////

/* Camp Guarantee Up Page */
/*////////////////////////*/

#camping-gurantee-page .newsletter.text {
margin: 8px 0;
}
#camping-gurantee-page {
margin: 10px;
}
#camping-gurantee-page form > div > label {
display: block
}