@font-face {
  font-family: 'OpenSans-Light';
  src: url('OpenSans-Light.eot');
  src: url('OpenSans-Light.woff2') format('woff2'),
       url('OpenSans-Light.woff') format('woff'),
       url('OpenSans-Light.ttf') format('truetype'),
       url('OpenSans-Light.otf') format('otf'),
       url('OpenSans-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

