/* Mega menu styles Desktop and Tablet */
.mob-only{
  display: none !important;
}

.s-main-menu .block .category-items{
  padding-top: 0;
}

.category-items ul{
  padding: 0 !important;
}

.category-items li a{
  margin: 0 !important;
  padding: 0 !important;
  color: #ddd !important;
}

.category-items h3{
  text-align: left;
  margin: 15px 0 5px 0;
  color: #fff;
} 

.category-items .flex-container{
  padding: 0 !important;
  margin-top: 0; 
  margin-bottom: 30px
}

.category-items .menu-pics img{
  max-width: 80%;
  margin: 5%;
}

.category-items  .shop-by-links li{
  display: block;
  float: left;
  margin: 0 10px 10px 0;
}

.category-items ul.shop-by-links a{
  padding: 6px !important;
  display: block;
  background: #d32526;
  color: #fff !important;
  min-width: 36px;
  text-align: center !important;
}

.category-items .shop-by-links:after{
  content: "";
  display: block;
  clear: both;
}

.menu-pics a{
  max-height: 140px;
  overflow: hidden;
}

.s-main-menu .categories>li:last-child a{
  text-align: left;
}

/* Mega menu styles mobile */
@media screen and (max-width: 739px){

h3.mob-only{
  display: block !important;
  margin-top: 0;
}

.category-items div{
  display: block !important;
}

.category-items div h3{
  color: #333;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;

}

.category-items div h3 a{
  margin-left: 0px !important;
}

.category-items div ul a{
  display: block;
  padding: 5px 0 !important;
  color: #777 !important
}

.category-items div ul a:before{
  display: none !important;
}

.category-items div ul{
  padding: 10px !important; 
}

} 