/****************************
/* Delivery And Returns Page
/***************************/
#delivery {
  .cp-faq .arrow-button {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 30px;
    display: inline-block;
  }
  section h1 {
        margin: 10px 0px 10px 0px !important;
  }
  #tabs .my-parcel {
    max-width: 57px;
    float: left;
    margin: -5px 0px -10px -10px;
    padding-right: 5px;
  }
  .action-tabs .tabs *[data-action="tab"] {
    flex-basis: initial !important;
  }
  .methods, .hours {
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 20px !important;
    margin-bottom: 30px;
  }
  .methods a, > p a {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
  }
  h1 {
    color: #333;
    margin: 40px 0 20px 0;
  }
  .rl-pop.active {
    left: 0;
  }
  .buttons-set > button {
    float: left !important;
    background: #5AA11F !important;
    padding: 13px;
    border-radius: 6px;
  }
  .webforms-fields-ex_data_export_time_sent {
    display: none
  }
  .webforms-fields-ex_data_export_recipient {
    display: none;
  }
  .fields.first > div:nth-child(2) {
    display: none !important
  }
  textarea {
    width: 370px;
    border: 1px solid #ccc;
    max-width: 90%
  }
  .fields.last {
    display: none
  }
  .hours p {
    margin: 2px 0;
  }
  .methods ul, .methods li {
    margin: 0 !important;
    padding: 0;
    list-style-type: none;
  }
  .methods i {
    margin: 4px 10px 0 0;
  }
  .methods ul li:nth-child(1) {
    margin-bottom: 10px !Important;
    display: block
  }
  .cms-page {
    margin: 10px;
  }
  #cu-form {
    margin-top: 100px !important;
    max-height: 80%;
    overflow: auto;
    z-index: 999999999999999;
    border: 1px solid #ccc
  }
  .cms-page {
    width: 1200px;
    margin: 0 auto !important;
    max-width: 96%;
  }
  .cms-page strong {
    font-weight: bold !important;
    font-size: 24px;
  }
  .cms-page li {
    font-style: normal !important;
    font-size: 16px !important;
  }
  #contact-us-form button {
    background: #333 !important;
  }
  .cms-page .map {
    margin: 30px 0;
  }
  .cms-page .map a {
    background: #333;
    color: #eee;
    text-decoration: none !important;
    font-size: 18px;
    text-align: center;
    display: block;
    padding: 8px;
  }
  .cms-page ul, .cms-page li {
    list-style-type: none !important;
  }
}
/****************************
/* Garment Care
/***************************/
#garment-care {
  .flex-item {
    text-align: center;
    padding: 50px !important;
  }
  .flex-item.col-6:nth-child(1) h2, .flex-item.col-6:nth-child(4) h2, .flex-item.col-6:nth-child(1) span, .flex-item.col-6:nth-child(4) span {
    color: #ffffff;
  }
  .flex-item > img {
    max-width: 60px;
  }
  .flex-item.col-6:nth-child(1), .flex-item.col-6:nth-child(4) {
    background: #0081c6;
  }
  .background-container > h2 {
    font-size: 4vw;
    text-align: center;
  }
  .page-content img {
    padding: 5px;
  }
  .overlay-banner h1 {
    color: #ffffff;
    height: 10vh;
    font-size: 10vh;
  }
}
@media only screen and (max-width:600px) {
  #garment-care {
    .overlay-banner h1 {
      height: 5vh;
      font-size: 5vh;
    }
  }
}

/****************************
/* Jackets Buying Guide
/***************************/
#jackets-buying-guide {
  .flex-container .flex-container {
    max-width: 50%;
    float: left;
    text-align: center;
  }
  #three .flex-container, #four .flex-container {
    max-width: 100%;
    width: 100%;
  }
  .toggle-content {
    text-align: center;
  }
  .flex-container.action-toggle h2 {
    background: #343334;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    clear: both;
  }
}

/****************************
/* Offers Hub
/***************************/
#offers-hub {
  .overlay-text {
    font-size: 9vh;
    color: #ffffff;
  }
  .overlay-text strong {
    border-bottom: solid 5px #ffffff;
  }
}

/****************************
/* Fabrics
/***************************/
#fabric {
  .toggle-button {
    background: #333333;
    color: #ffffff;
    padding: 30px;
  }
  .toggle-button:hover {
    background: #333333;
    box-shadow: inset 0px 30px 40px rgba(68, 68, 68, 0.59);
  }
  .toggle-button::after {
    border-color: #fff transparent transparent transparent;
    right: 30px;
    top: 50%;
  }
  .overlay-banner .overlay-text {
    color: #ffffff;
    font-size: 4vw;
  }
  h2 img {
    width: initial;
    display: block;
    margin: auto;
  }
  h2 {
    text-align: center;
    padding: 30px 60px;
  }
  .flex-container img {
    width: initial;
  }
  .flex-container {
    background: #f2f2f2;
    padding: 20px;
  }
}

/****************************
/* Email Sign Up
/***************************/
#email-sign-up.cms-page h1 {
  background: #343334;
  padding: 20px;
  color: #ffffff;
}
#email-sign-up.cms-page {
  display: table;
}

/****************************
/* Register Guarantee
/***************************/
#register-guarantee {
  display: inline-block;
}
#register-guarantee {
  h1 {
    background: #343334;
    padding: 20px;
    color: #ffffff;
  }
}

/****************************
/* Delivery Page
/***************************/
#delivery {
  section h1 {
    color: #ffffff;
    background: #222222;
    padding: 10px;
    text-align: center;
    margin: 10px 0px 0px 0px;
  }
  table {
    width: 100%;
  }
  table tr:first-child td {
    color: #ffffff;
    background: #0080c5;
  }
  table td {
    padding: 10px;
    border: solid 1px #000000;
  }
  .collectPlus h1 img {
    margin: 0px auto 10px auto;
    display: block;
  }
  .collectPlusInformation img {
    float: left;
  }
  .collectPlusInformation span {
    float: left;
    max-width: 80%
  }
  .collectPlusInformation div {
    width: 100%;
    clear: both;
  }
  .collectPlusInformation {
    float: left;
    width: 100%;
  }
  section h2 {
    color: #ffffff;
    background: #222222;
    padding: 10px;
    text-align: center;
    display: table;
    width: 100%;
  }
  .small {
    width: initial;
  }
}
#delivery  .cms-page .content img {
  width: initial;
  display: block;
}

/****************************
/* Cycle Padding Page
/***************************/
#cycle-padding {
  .toggle-button {
    background: #333333;
    color: #ffffff;
    padding: 30px;
  }
  .toggle-button:hover {
    background: #333333;
    box-shadow: inset 0px 30px 40px rgba(68, 68, 68, 0.59);
  }
  .toggle-button::after {
    border-color: #fff transparent transparent transparent;
    right: 30px;
    top: 50%;
  }
  .overlay-banner .overlay-text {
    color: #ffffff;
    font-size: 4vw;
  }
}

/****************************
/* Terms
/***************************/
#terms {
  img {
    width: initial;
  }
}

/****************************
/* Contact Us Page
/***************************/
#contact-us  .maps h2 {
  background: #343334;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
#contact-us.cms-page h2 {
  background: #343334;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  margin: 20px 0px 20px 0px;
}
#contact-us.cms-page {
  text-align: center;
}
#contact-us.cms-page h1 {
  font-size: 8vh;
}

/****************************
/* About Us Page
/***************************/
#about-us {
  text-align: center;
}
#about-us {
  .page-content img {
    padding: 5px;
  }
  .overlay-banner h1 {
    color: #ffffff;
    height: 10vh;
    font-size: 10vh;
  }
  h1 {
    color: #b7262d;
  }
}
@media only screen and (max-width:600px) {
  #about-us {
    .overlay-banner h1 {
      height: 5vh;
      font-size: 5vh;
    }
  }
}
