/*////////////////////////*/
/*      Basket Page       */
/*////////////////////////*/
.c-basket__footer{
  .c-input-combined__input-wrapper{
    .c-input-combined__input {
      border: 2px solid #dedede !important;
      background-color: #ebebeb !important;
    }
  }
}

/*////////////////////////*/
/*    Responsive Table    */
/*////////////////////////*/
@media only screen and (max-width:500px) {
  .responsive-table::-webkit-scrollbar {
    width: 1em;
    height: 5px;
  }
  .responsive-table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .responsive-table::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
  .responsive-table {
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .responsive-table table {
    width: 250%;
  }
  .responsive-table tr > td:first-child {
    min-width: 120px;
    background: #eaeaea;
    position: absolute;
    width: 33%;
    left: inherit;
    z-index: 1;
    border: solid 1px #cccccc;
  }
  .responsive-table tr td {
    padding: 10px;
    background: #f9f9f9;    /* left: 16%; */

    /* position: relative; */
    z-index: 0;
    border: solid 1px #ece9e9;
  }
  .responsive-table table tr {
    position: relative;
  }
  .responsive-table tr td:nth-child(2) {
    padding-left: 20%;
  }
}
/*////////////////////////*/
/*.    Roundel styling.   */
/*////////////////////////*/
#product-roundel {
  background: #2676ba;
  max-width: 53px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  line-height: 15px;
  border-radius: 6px 6px 6px 0px;
  color: #ffffff;
  box-shadow: 0px 3px 6px -5px #000000;
  display: block !important;
  float: right;
  clear: right;
}
#monVars {
  position: relative;
}
.roundel {
  position: absolute;
  right: 0;
  z-index: 1;
  background: #2676ba;
  max-width: 53px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  line-height: 15px;
  border-radius: 6px 6px 6px 0px;
  color: #ffffff;
  box-shadow: 0px 3px 6px -5px #000000;
  display: block !important;
}


/*//////////////////////////
/* Footer Block Links
/*////////////////////////*/
.footerFeefo {
    text-decoration: none;
}
.page-product-configurable #basket-promo {
  font-size: 15px;
}

@media only screen and (max-width: 739px) {
  .mobile-footer-links h4::before {
      content: "+";
      float: right;
      font-size: 15px;
      margin-top: -3px;
  }
  .mobile-footer-links .toggleMain::before {
      content: "-";
      float: right;
      font-size: 15px;
      margin-top: -3px;
  }
  .mobile-footer-links h4 {
      background: #606060;
      padding: 10px;
      color: #ffffff;
  }
  .mobile-footer-links h4 + ul {
    display:none;
  }
  .mobile-footer-links .toggleMain + ul {
    display:inline-block;
      margin:0px;
  }
  .mobile-footer-links .toggleMain + ul li {
      display:block;
    padding:10px;
      margin:1%;
    width:48%;
      float:left;
      background: #d4d4d4;
      text-align:left;
  }
  .mobile-footer-links .toggleMain + ul li a{
    color:#606060;
  }
}


/*/////////////////////////////
/* Footer Block FeeFo Mobile */
/*///////////////////////////*/
@media screen and (max-width:500px) {
  body .c-feefo {
    background-size: 80px;
    padding: 0;
    min-height: 42px;
    background-position: left 15px center;
    margin: 7px 0px;
    position: relative;
  }
  .c-feefo h4.c-feefo__titl {
    display: none;
  }
  .c-feefo .c-feefo__percentage {
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .c-feefo__subtitle {
    position: absolute;
    bottom: -23px;
    right: 0;
    left: 0;
    color: #b9b9b9;
  }
}
