/*////////////////////////*/
/*.    Roundel styling.   */
/*////////////////////////*/
#product-roundel {
  background: #2676ba;
  max-width: 53px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  line-height: 15px;
  border-radius: 6px 6px 6px 0px;
  color: #ffffff;
  box-shadow: 0px 3px 6px -5px #000000;
  display: block !important;
  float: right;
  clear: right;
}
#monVars {
  position: relative;
}
.roundel {
  position: absolute;
  right: 0;
  z-index: 1;
  background: #2676ba;
  max-width: 53px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  line-height: 15px;
  border-radius: 6px 6px 6px 0px;
  color: #ffffff;
  box-shadow: 0px 3px 6px -5px #000000;
  display: block !important;
}


/*//////////////////////////
/* Footer Block Links
/*////////////////////////*/
.footerFeefo {
    text-decoration: none;
}
.page-product-configurable #basket-promo {
  font-size: 15px;
}

@media only screen and (max-width: 739px) {
  .mobile-footer-links h4::before {
      content: "+";
      float: right;
      font-size: 15px;
      margin-top: -3px;
  }
  .mobile-footer-links .toggleMain::before {
      content: "-";
      float: right;
      font-size: 15px;
      margin-top: -3px;
  }
  .mobile-footer-links h4 {
      background: #606060;
      padding: 10px;
      color: #ffffff;  
  }
  .mobile-footer-links h4 + ul {
    display:none;
  }
  .mobile-footer-links .toggleMain + ul {
    display:inline-block;
      margin:0px;
  }
  .mobile-footer-links .toggleMain + ul li {
      display:block;
    padding:10px;
      margin:1%;
    width:48%;
      float:left;
      background: #d4d4d4;
      text-align:left;
  }
  .mobile-footer-links .toggleMain + ul li a{
    color:#606060;
  }
}


/*/////////////////////////////
/* Footer Block FeeFo Mobile */
/*///////////////////////////*/
@media screen and (max-width:500px) {
  body .c-feefo {
    background-size: 80px;
    padding: 0;
    min-height: 42px;
    background-position: left 15px center;
    margin: 7px 0px;
    position: relative;
  }
  .c-feefo h4.c-feefo__titl {
    display: none;
  }
  .c-feefo .c-feefo__percentage {
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .c-feefo__subtitle {
    position: absolute;
    bottom: -23px;
    right: 0;
    left: 0;
    color: #b9b9b9;
  }
}
