/*//////////////////////////*/
/* New PLP theme            */
/*//////////////////////////*/
html .catalog-category-view {
  .c-product-tile__img-wrapper + a {
    color: #5f5f5e;
    text-align: center;
    display: block;
  }

  .c-product-tile__title {
    color: inherit;
  }

  .c-price.c-price--small > p.c-price__group:first-child {
    font-size: 12px;
    text-align: center;
  }

  .c-price.c-price--small > p.c-price__group:last-child {
    font-size: 18px;
    text-align: center;
    color: #D32526;
    font-weight: bold;
  }

/*  .c-price.c-price--small > p.c-price__group:last-child:before {
    content: "Now:";
    font-weight: inherit;
    font-size: inherit;
  }*/

  .c-price.c-price--small > p.c-price__group:last-child .c-price__final.u-color-highlight {
    font-size: inherit;
  }

  .c-product-tile.u-heading-epsilon .c-product-tile__item-extra-info {
    position: static;
    background: #ececec !important;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 11px;
    bottom: initial;
    opacity: 1;
    padding: 10px 5px;
  }

  .c-btn.c-btn--secondary.c-btn--expanded.c-product-tile__btn {
    margin: 0px;
    padding: 10px 10px;
    border-radius: 4px;
    border: 2px solid #34af65;
    color: #34af65;
  }

  .c-product-tile.u-heading-epsilon .c-product-tile__save {
    position: absolute;
    right: 0;
    bottom: 90px;
  }

  .c-product-tile.u-heading-epsilon .c-rating__reviews:after {
    content: " Reviews";
    color: #a7a7a7;
  }

  @media only screen and (max-width:1228px) {
    .c-product-tile__title {
      line-height: 18px;
    }

    .c-product-tile.u-heading-epsilon .c-rating__reviews::after {
      display: none;
    }

  }

  @media only screen and (max-width:989px) {
    .c-rating__container {
      -ms-transform: scale(0.7);
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
      display: block;
      height: 30px;
      float: left;
      margin-left: -20px;
    }

    .c-price.c-price--small > p.c-price__group:last-child {
      text-align: left;
    }

    .c-price.c-price--small > p.c-price__group:first-child {
      text-align: left;
    }

    .c-product-tile__img-wrapper + a {
      text-align: left;
    }

  }

  @media only screen and (max-width:770px) {
    .c-price.c-price--small > p.c-price__group:first-child {
      font-size: 12px;
      text-align: center;
    }

    .c-price.c-price--small > p.c-price__group:last-child {
      text-align: center;
    }

    .c-product-tile__img-wrapper + a {
      text-align: center;
    }

    .c-rating__container {
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      margin: 0px;
    }

    .c-product-tile.u-heading-epsilon .c-product-tile__save {
      bottom: 85px;
    }

    .c-btn.c-btn--secondary.c-btn--expanded.c-product-tile__btn {
      margin-top: 40px;
    }

    .c-page-wrapper {
      padding: 0px 10px !important;
    }

    .c-rating__reviews {
      color: #a7a7b3;
    }

    .u-flex-display.u-12\/12 .c-rating__reviews {
      float: right;
      position: absolute;
      top: 0;
      right: 10px;
      color: #a7a7b3;
    }

    .u-flex-display.u-12\/12 .c-rating {
      float: initial;
      clear: none;
      margin: auto;
    }

    /* Full width col 12 by 12 */
    .u-flex-display.u-12\/12 {
    }

    .u-flex-display.u-12\/12 .c-product-tile__img-wrapper + a {
      font-size: 17px;
    }

    .u-flex-display.u-12\/12  .c-rating__container {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      position: relative;
      width: 100%;
      margin: auto;
      max-width: calc(100% - 50px);
      left: 0;
      right: 0;
      display: inline-block;
      height: 40px;
    }

    .u-flex-display.u-12\/12  .c-product-tile.u-heading-epsilon .c-rating__reviews:after {
      display: inline-block;
      float: none;
      margin-left: 4px
    }

    .u-flex-display.u-12\/12  .c-btn.c-btn--secondary.c-btn--expanded.c-product-tile__btn {
      margin-top: 10px;
    }

  }

}

/*//////////////////////////*/
/* Endcap Specials          */
/*//////////////////////////*/
.page-product-configurable .specials.endcap-container {
  background: #ffffff;
  margin: auto !important;
  display: block;
  max-width: 1700px;
  padding: 30px 10px;
  width: 90%;
  position: relative;
  top: 70px;
  margin-bottom: 110px !important;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.09);
}

.page-product-configurable .specials.endcap-container .action-tabs .tabs *[data-action="tab"] {
  border: none !important;
  text-align: center;
  display: inline-block;
  flex-grow: unset;
  font-size: 18px;
}

.page-product-configurable .specials.endcap-container .mt_sliderTop {
  display: none;
}

.page-product-configurable .specials.endcap-container .action-tabs .tabs {
  text-align: center;
  display: block;
  font-size: 20px;
  text-transform: uppercase;
}

.page-product-configurable .specials.endcap-container .action-tabs .tabs-content {
  border: none !important;
}

.page-product-configurable .specials.endcap-container .action-tabs .tabs *[data-action="tab"].active {
  background: none;
  color: #000000;
}

@media only screen and (max-width:650px) {
  .page-product-configurable .specials.endcap-container .action-tabs .tabs *[data-action="tab"].active {
    background: none;
    color: #000000;
    line-height: 30px;
  }

  .page-product-configurable .specials.endcap-container .action-tabs .tabs *[data-action="tab"] {
    font-size: 15px;
    padding: 0px 15px 10px 15px;
    margin: 0px -10px 20px -10px;
    width: 53%;
    line-height: 30px;
    color: #bdbdbd;
  }

  .page-product-configurable   .specials.endcap-container {
    top: 40px;
    margin-bottom: 70px !important;
    padding: 5px 10px;
  }

  .page-product-configurable .specials.endcap-container .action-tabs .tabs-content {
    padding: 0px 0px;
  }

  .page-product-configurable .specials.endcap-container .mt_endcap.mt_horizontal, .specials.endcap-container  .mt_sliderMiddle {
    overflow: visible;
  }

  .page-product-configurable .specials.endcap-container .mt_backArrow {
    left: -40px;
    z-index: 1;
  }

  .page-product-configurable .specials.endcap-container .mt_nextArrow {
    right: -40px;
    z-index: 1;
  }

  .page-product-configurable .specials.endcap-container .mt_sliderMask ul li.mt_item {
    padding: 0px;
  }

}

/* Custom category scrollbars */

.c-facet-list__list--scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.c-facet-list__list--scroll::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.c-facet-list__list--scroll::-webkit-scrollbar-thumb {
  background-color: #5b5b5b;
}

html .c-basket__payment-icons {
  background: url(https://cdn.dare2b.com/img/global-images/PaymentMethods.png) no-repeat;
  background-size: 100%;
  background-position: center;
}
/*//////////////////////////*/
/* Cookie bar               */
/*//////////////////////////*/
#notice-cookie-block .content > p {
  font-size: 0px;
  margin: 0px;
}

#notice-cookie-block .content * {
  display: inline-block;
  color: #ffffff;
}

#notice-cookie-block #btn-cookie-allow {
  background: #2cbe4e;
  border-radius: 3px;
  border: none;
  padding: 5px 20px;
}

#notice-cookie-block .content {
  background: rgba(43, 45, 47, 0.97);
  position: fixed;
  width: 100%;
  z-index: 10000;
  bottom: 0;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.37);
}

#notice-cookie-block a {
}

#notice-cookie-block .content a {
  margin-top: -10px;
  line-height: 17px;
}

#notice-cookie-block a:after {
  content: "By continuing to use this site you consent to the use of cookies in accordance with our cookie policy";
  font-size: 15px;
  display: block;
}

/*//////////////////////////*/
/* Product Page Size Button */
/*//////////////////////////*/
.page-product-configurable .c-product-size__size-guide-link{
  position: relative !important;
  top: 0px;
  right: 0;
  color: #2e76b9;
  padding: 0;
  border-radius: 5px;
  border: none;
  text-decoration: none;
}
.page-product-configurable .c-product-size__size-guide-link:hover {
  color: initial;
  border: none;
  background: none;
}
/*/////////////////////////*/
/*    Quick Buy resize     */
/*/////////////////////////*/
@media only screen and (max-width: 600px) {

  .catalog-category-view  .modal-popup.c-quick-view--wrapper .modal-inner-wrap {
      width: 90% !important;
  }

  .catalog-category-view  .c-product-size__link {
      margin-right: 0px !important;
      margin: 5px;
      min-width: 66px;
  } 


   .catalog-category-view  .modal-inner-wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

   .catalog-category-view  .modal-inner-wrap::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

   .catalog-category-view  .modal-inner-wrap::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
   .catalog-category-view  .modal-inner-wrap {
    overflow-x: hidden !important;
  }
}

/*/////////////////////////*/
/*    Hides Quick Buy     */
/*/////////////////////////*/
/*
.catalog-category-view .c-btn.c-btn--secondary.c-btn--expanded.c-product-tile__btn {
 display: none !important;
 }

.catalog-category-view .c-product-tile__img-wrapper {
  margin-bottom: 10px;
}

.catalog-category-view .price-badge {
  top: 59% !important;
}
*/

.c-store-details__item .c-store-details__collection{
      color: #000000 !important;
}
#minicart-content-wrapper .c-mini-cart__basket > a > span {
  font-size:18px;
}

#ui-id-12 {
  background: #c20000;
  color: #ffffff;
}

#ui-id-12.ui-state-focus:after, #ui-id-12.ui-state-focus:after {
  display: none;
}

body .c-product-tile__btn{
  background: transparent;
  border: 2px solid #34af65;
  color: #34af65;
}

/*/////////////////////////*/
/* Moved colours available */
/*/////////////////////////*/
.c-product-tile__img-wrapper .c-product-tile__item-extra-info {
    position: relative;
    background: #f3f3f3;
    color: #4c4c4c;
}

@media only screen and (max-width: 1227px) {
  body .s-main-menu .categories > li > a {
      font-size: 1rem;
  }
}
@media only screen and (min-width: 660px) and (max-width: 989px) {
  body .s-main-menu .categories > li > a {
      font-size: 0.8rem;
  }
}


/*////////////////////////*/
/*      Basket Page       */
/*////////////////////////*/

.c-basket__footer{
  .c-input-combined__input-wrapper{
    .c-input-combined__input {
      border: 2px solid #dedede !important;
      background-color: #ebebeb !important;
    }
  }
}

/*////////////////////////*/
/*.   PDP Styles          */
/*////////////////////////*/

#PDP-Size-Chart table{
  width: 100%
}

#PDP-Size-Chart thead{
  background: #ddd;

}

#PDP-Size-Chart tr, td{
  border: 1px solid;
  padding: 4px;
}

body.page-product-configurable .o-region__inner .o-layout.u-padding-top > div{
  width: 100% !important;
}
.page-product-configurable{
  .o-list-stacked--spaced .o-list-stacked__item {
    margin-bottom: 18px;
    background: #efefef;
    display: table;
    padding: 5px 15PX;
    border-radius: 100px;
    color: #bdbdbd;
    margin: 5px;
    display: inline-block;
  }
  .o-list-stacked--spaced .o-list-stacked__item a {
    color: #8c8c8c;
    text-decoration: none;
  }
}


/*////////////////////////*/
/*.    Roundel styling.   */
/*////////////////////////*/

#product-roundel {
  background: #2676ba;
  max-width: 53px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  line-height: 15px;
  border-radius: 6px 6px 6px 0px;
  color: #ffffff;
  box-shadow: 0px 3px 6px -5px #000000;
  display: block !important;
  float: right;
  clear: right;
}
#monVars {
  position: relative;
}
.roundel {
  position: absolute;
  right: 0;
  z-index: 1;
  background: #2676ba;
  max-width: 53px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  line-height: 15px;
  border-radius: 6px 6px 6px 0px;
  color: #ffffff;
  box-shadow: 0px 3px 6px -5px #000000;
  display: block !important;
}
@media only screen and (max-width: 350px) {
  .mon-badge {
    z-index: 1;
    font-size: 10px;
    padding: 5px;
  }
  .roundel {
    max-width: 42px;
    padding: 5px;
  }
}

/*//////////////////////////
/* Footer Block Links
/*////////////////////////*/

.footerFeefo {
    text-decoration: none;
}
.page-product-configurable #basket-promo {
  font-size: 15px;
}

.c-feefo p, .c-feefo h4, .c-feefo h5{
  color: #fff;
}

.c-footer__links a[onclick]{
  text-decoration:none;
}

@media only screen and (max-width: 739px) {
  .mobile-footer-links h4::before {
      content: "+";
      float: right;
      font-size: 15px;
      margin-top: -3px;
  }
  .mobile-footer-links .toggleMain::before {
      content: "-";
      float: right;
      font-size: 15px;
      margin-top: -3px;
  }
  .mobile-footer-links h4 {
      background: #606060;
      padding: 10px;
      color: #ffffff;
  }
  .mobile-footer-links h4 + ul {
    display:none;
  }
  .mobile-footer-links .toggleMain + ul {
    display:inline-block;
      margin:0px;
  }
  .mobile-footer-links .toggleMain + ul li {
      display:block;
    padding:10px;
      margin:1%;
    width:48%;
      float:left;
      background: #d4d4d4;
      text-align:left;
  }
  .mobile-footer-links .toggleMain + ul li a{
    color:#606060;
  }
}


/*/////////////////////////////
/* Footer Block FeeFo Mobile */
/*///////////////////////////*/

@media screen and (max-width:500px) {
  body .c-feefo {
    background-size: 80px;
    padding: 0;
    min-height: 42px;
    background-position: left 15px center;
    margin: 7px 0px;
    position: relative;
  }
  .c-feefo h4.c-feefo__titl {
    display: none;
  }
  .c-feefo .c-feefo__percentage {
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .c-feefo__subtitle {
    position: absolute;
    bottom: -23px;
    right: 0;
    left: 0;
    color: #b9b9b9;
  }
}

/*/////////////////////////////
/* Category Banners          */
/*///////////////////////////*/
/*Category style AW17*/

.category-container-aw17{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+0,ffffff+20 */
background: #ededed; /* Old browsers */
background: -moz-linear-gradient(left, #ededed 0%, #ffffff 20%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #ededed 0%,#ffffff 20%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #ededed 0%,#ffffff 20%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
display:inline-block;
width:100%;
}

.category-container-aw17 img{
  float: right;
  width: auto;
  margin-left: 20px;
  max-width: 350px !important;
}

.category-container-aw17 .category-links,
.category-container-aw17 .category-banner-text{
  text-align: left !important;
  padding: 10px !important;
  font-size: 1.1em;
}

.category-container-aw17 .category-links{
  padding-left: 0;
}

.category-container-aw17 .category-links a{
  color: #111; margin-right: 10px;
}

.category-container-aw17 h1{
  margin-bottom: 0;
}

@media screen and (max-width: 989px){

.category-container-aw17 img{
  display: none;
}

.category-container-aw17{
  background: #fff;
}

.category-container-aw17 .category-links,
.category-container-aw17 .category-banner-text{
  text-align: center !important
}

}



.category-container.full .category-text {
  position: absolute;
  top: 45%;
  margin: auto;
  left: 0;
  display: table;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  max-width: 90%;
  width: 90%;
}

.category-container.full .category-title {
  position: absolute;
  top: 20%;
  margin: auto;
  left: 40%;
  font-size: 30px;
  padding: 0px 20px;
  color: #000000;
  display: table;
  right: auto;
  background: rgba(255, 255, 255, 0.8);
  max-width: 90%;
}

.s-text-banner {
  padding: 0px;
}
.category-container.full {
  position: relative;
}

.category-container.full .category-links {
  display: flex !important;
  flex-wrap: wrap;
  margin-top: -10px;
}

.category-container.full .category-links a {
  flex-grow: 1;
  margin: 0;
  border: 1px solid #555;
  border-left: 0;
  background: #000000;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 15px;
  padding: 10px;
  flex-basis: 200px;
}
.category-container.full .category-links a img {
  max-width: 10px;
  margin-top: 3px;
  filter: invert(100%);
  float: right;
}
.no-banner-sub-links a{
  display: inline-block;
  margin: 10px 10px;
  font-size: 18px;
  color: #555;
}

.no-banner-sub-links a:after{
  content: ">";
  display: inline-block;
  margin-left: 10px;
  transform: scale(1,1.4);
  position: relative;
  top: 2px;
}
@media only screen and (max-width:1227px) {
  .category-container.full .category-title {
    top: 10%;
    font-size: 25px;
  }
  .category-container.full .category-text {
    top: 30%;
    max-width: 90%;
  }
}
@media only screen and (max-width:989px) {
  .category-container.full .category-image {
    display: none;
  }
  .category-container.full .category-text, .category-title {
    position: relative !important;
    left: auto !important;
    display: block !important;
    margin-bottom: 20px;
    max-width: 100%;
    text-align: center;
  }
  .category-container.full .category-title {
    margin: 0px;
  }
}
@media only screen and (max-width:480px) {
  .s-text-banner {
      padding: 0px 0px 10px 0px !important;
  }

  .category-container.full .category-links a {
    flex-basis: 150px;
    font-size: 10px;
  }
  .category-container.full .category-text {
    padding: 5px;
  }
}

@media screen and (max-width: 768px){
.no-banner-sub-links{
  margin-top: -10px;
}
.no-banner-sub-links a{
  margin: 0px 10px;
}
}

/* Account Style */
.account.sales-order-view .box-order-billing-method {
    display: none;
}
/* END */

.category-container-aw17 img{
  float: right;
  width: auto;
  margin-left: 20px;
}

.category-container-aw17 .category-links,
.category-container-aw17 .category-banner-text{
  text-align: left !important;
  padding: 20px;
  font-size: 1.1em;
}

.category-container-aw17 .category-links{
  padding-left: 0;
}

.category-container-aw17 .category-links a{
  color: #111; margin-right: 10px;
}

.category-container-aw17 h1{
  margin-bottom: 10px;
  line-height: 1.1em;
}

@media screen and (max-width: 989px){

.category-container-aw17 img{
  display: none;
}

.category-container-aw17{
  background: #fff;
}

.category-container-aw17 .category-links,
.category-container-aw17 .category-banner-text{
  text-align: center !important
}

}

/* wooform fix */
#wufooFormk1hcbt9l12keg2l{
  height: 1000px;
}

.js-fredhopper-fredhopper-plp-seo-text-wrapper-placeholder{
  max-width: 1120px;
  margin: 0 auto;
  padding: 10px;
}

@media screen and (max-width: 640px){
html body .category-container-aw17 .category-links{
      margin-top: 25px !important;
}
  .category-container-aw17 .category-links{
    padding: 8px !important;
  }
  .category-container-aw17 h1{
    font-size: 24px;
  }
  .category-view .s-text-banner{
    background: none;
  }
   .category-view .s-text-banner h1{
      margin-bottom: -20px;
  }
  .s-text-banner__links-wrapper{
    display: none;
  }
}

/* HIDE SEO TEXT ON MOB, MAKE LINKS BUTTONS */

@media screen and (max-width: 770px){
  
.category-title{
  margin-top: 8px;
  line-height: 1.3em;
}
  
.category-container-aw17 .category-banner-text{
  padding: 0px 0 0 !important
}
  
.category-container-aw17 .category-text, html body .category-text,
html body .category-container.full .category-text{
  display: none;
  height: 0;
  overflow: hidden;
}

html body .category-container-aw17 .category-links{
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-bottom: 0;
  padding: 0 !important;
}

.category-container-aw17 .category-links > a{
  flex-grow: 1;
  flex-basis: auto;
  margin: 0 !Important;
  background: #333;
  display: block;
  box-sizing: border-box;
  color: #fff !important;
  text-decoration: none;
  padding: 2px 4px;
  border: 1px solid #fff;
  font-size: 12px;
}

.category-container-aw17 .category-links > a:after{
  content: '>';
  margin-left: 8px;
  transform: scale(0.8,1.4) !Important;
  display: inline-block;
  float: right;
  margin-right: 8px;
}

}

/* CAT PAGE LINE UP OF BUTTONS */

.c-product-tile .c-product-tile__item-extra-info{
  line-height: 0;
}

body .c-product-tile .c-product-tile__btn{
  margin-top: 16px;
}

/* Monetate Additions */

.page-product-configurable .u-heading-beta.page-title{
  font-size: 1.41429rem;
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale
}
.page-product-configurable .c-product-details .c-price__group{
    margin-bottom: 0px !important;
}
.page-product-configurable .c-rating__wrap{
    margin-bottom: 10px !important;
}
.page-product-configurable .c-product-details .product-options-wrapper{
    position: relative;
}

.page-product-configurable .c-product-size__size-guide-link{
    position: absolute;
    top: 0px;
    right: 7px;
    color: #2e76b9;
    padding: 5px 30px;
    border-radius: 5px;
    border: solid 2px #2e76b9;
    text-decoration: none;
}

.page-product-configurable .c-product-size__size-guide-link:hover{
    color: #ffffff;
    border: solid 2px #2e76b9;
    background:#2e76b9;
}

.page-product-configurable .c-product-size__link{
    margin: 5px;
    min-width: 73px;
}

.page-product-configurable .c-tabs{
    margin-top: 0px;
}

.page-product-configurable .product-options-bottom{    
  margin-top: 20px;
}

.catalog-category-view .c-breadcrumbs {
    margin-bottom: 10px;
}

.catalog-category-view .c-page-wrapper{
  padding: 10px 0;
}

.catalog-category-view .s-text-banner{
    height: auto;
    overflow: visible;
}

.catalog-category-view .columns .column.main{
  margin-top:-20px;
}

.catalog-category-view .c-price__final {
  font-size: 20px !important;
}

.s-main-menu .ui-menu{
  z-index:3 !important;
}

@media screen and (max-width: 700px){
  #shipping-new-address-form .c-input-wrap.field._required._error{
    height: auto;
  }
}

.c-product-tile__title{
  text-transform: capitalize !important;
}