@font-face {
  font-family: 'CrimsonText-Regular';
  src: url('CrimsonText-Regular.eot');
  src: url('CrimsonText-Regular.woff2') format('woff2'),
       url('CrimsonText-Regular.woff') format('woff'),
       url('CrimsonText-Regular.ttf') format('truetype'),
       url('CrimsonText-Regular.svg#CrimsonText-Regular') format('svg'),
       url('CrimsonText-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}