.minusone,
.plusone {
   font-size: 22px;
   display: inline-block;
   padding: 0;
   border: 1px #000 solid;
   line-height: 36px;
   width: 36px;
   height: 36px;
   text-align: center;
   cursor: pointer;
   float: left;
}

.box-related li.item {
   width: 20%;
   float: left;
}

.box-related .item img {
   width: 100px;
   height: 100px;
}

.products-grid .ratings .rating-box {
   float: left;
}

.product-name {
   letter-spacing: 1px;
   text-transform: uppercase;
   text-align: left;
   display: block;
}

.products-grid .product-name,
.products-list .product-name {
   font-family: 'poppinsregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   text-transform: uppercase;
   margin: 0 0 5px;
   font-weight: bold;
   font-size: 13px;
   color: #203548;
}

p.lhn-show-more-less a {
   text-decoration: underline;
   cursor: pointer;
}

a.lhn-show-less-link {
   display: none;
}

span.label,
.skip-cart .count {
   color: #000;
}

.account-cart-wrapper {
   top: 0;
}

.account-cart-wrapper .skip-account .icon {
   background-repeat: no-repeat;
   text-indent: -9999px;
   background-position: 4px -44px;
}

div#header-account {
   top: 25px;
   left: 68%;
}

.collection li {
   list-style-type: disc;
}

.box-collateral.box-related {
   float: left;
   width: 100%;
}

.c-product-details .product-info-stock-sku .value {
    top: -10px;
    float: none;
    text-align: left;
}

a.c-product-size__size-guide-link {
    background: #FCB831;
    padding: 8px 10%;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: -1%;
}

a.c-product-size__size-guide-link:hover {
    color: #fff;
}

.c-product-size__link {
    font-weight: 300;
}

.u-heading-beta.page-title {
    margin-bottom: 2%;
}

.c-product-details .c-price__group {
    margin-bottom: 0;
}

.old-price .c-price__group {
    margin-top: 3%;
} 

.c-price.js-price-highlight {
    margin-bottom: 3%;
}

.product.attribute.description div, .product.attribute.description ul {
    font-size: inherit !important;
}

/* Plus/Minus images */
.c-icon--quantity-plus {
    background-image: url(https://cdn.hawkshead.com/img/SS17/uk/misc/icons/plus.svg)!important;
}

.c-icon--quantity-minus {
    background-image: url(https://cdn.hawkshead.com/img/SS17/uk/misc/icons/minus.svg)!important;
}
/* END */