.cms-clearance-store .c-breadcrumbs {
    display: none;
}

.hh-clearance-store {
    .cs-cta {
        padding-bottom: 20px;
        width: 85%;
        margin: auto;
    }

    .cs-img-title-main {
        font-size: 24px;
        text-align: center;
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
    }

    .clearance-store .flex-container.cs-columnfour {
        margin-top: 3%;
    }

    .clearance-store-wrapper {
        display: inline-block;
    }

    .cs-img-title {
        color: #000;
        padding: 2% 0 7% 0;
        text-transform: uppercase;
        font-size: 20px;
        text-align: center;
        line-height: 27px;
        font-weight: bold;
        letter-spacing: 1px;
        display: block;
    }

    .cs-img-title span {
        font-family: 'Garamond-Regular';
        font-size: 22px;
    }

    .cs-img-title-mob {
        display: none;
    }

    .cs-banner {
        background-size: cover;
        background-repeat: no-repeat;
        display: table;
        height: 100%;
        width: 100%;
        padding: 7% 0;
    }

    .cs-banner_inner {
        display: table-cell;
        height: 100%;
        text-align: center;
        vertical-align: middle;
    }

    .cs-innerwrapper {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: table;
    }

    .cs-innerwrapper .flex-item.col-3,
    .cs-hero {
        position: relative;
    }

    .flex-item.col-3:last-of-type {
        margin: 0;
    }

    .clearance-store-wrapper .bannerOverlay__contents a {
        display: inline-block;
    }

    .cs-banner_title {
        margin-bottom: 0;
        font-family: Georgia, Arial, sans-serif;
        color: #fff;
        font-size: 65px;
        letter-spacing: 9px;
        line-height: 1;
    }

    .clearance-store-wrapper .bannerOverlay__contents a {
        display: block;
    }

    .cs-widewrapper {
        width: 100%;
        max-width: 1150px;
        margin: 0 auto;
    }

    .clearance-store-wrapper picture img{
        width: 100%;
    }

    .cs-hero .bannerOverlay {
        height: 67%;
    }

    .cs-cta_button {
        margin: 0 auto;
        background: #c82124;
        text-align: center;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 5%;
        padding: 1.5% 0;
        font-size: 16px;
        letter-spacing: 1px;
        border: 1px solid #c82124;
    }

    .cs-cta_button:hover {
        color: #c82124;
        background: #fff;
    }

    .cs-hero .cs-subtitle{
        font-family: Georgia, Arial, sans-serif;
    }

    .cs-hero .cs-title {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 22px;
        line-height: 1.3;
    }

    .cs-hero .cs-subtitle {
        font-family: Georgia, Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 28px;
        line-height: 1;
    }

    .cs-banner_subtitle {
        color: #c82124;
        font-weight: bold;
        letter-spacing: 4px;
        font-size: 28px;
        margin-bottom: 0;
    }

    .cs-hero .cs-subtitle span {
        display: none;
    }

    .flex-item.col-4.cs-hero:last-of-type {
        margin-bottom: 0;
    }

    .flex-container.cs-columnthree {
        margin-top: 20px;
    }

    .flex-container.cs-columnfour {
        margin-top: 6%;
    }

    .cs-hero .bannerOverlay.bannerOverlayBF {
        height: 61%;
    }

    @media only screen and (max-width:1024px) {
        .flex-item.col-4.cs-hero {
            width: 33.33%;
        }
        .cs-img-title {
            padding: 2% 0 7% 0;
            font-size: 16px;
            line-height: 22px;
            display: block;
        }
    }

    @media only screen and (max-width:989px) {
        .cs-hero .cs-title {
            font-size: 20px;
            margin-top: -10%;
        }

        .cs-hero .cs-subtitle {
            font-size: 22px;
        }
    }

    @media only screen and (max-width:600px) {
        .cs-innerwrapper .flex-item.col-3 {
            margin-bottom: 1%;
            width: 49.6%;
        }

        .flex-item.col-3:nth-child(2) {
            margin-right: 0;
        }

        .cs-banner_title{
            font-size: 9vw;
            letter-spacing: 5px;
        }

        .cs-banner_subtitle{
            font-size: 4vw;
        }

        .flex-item.col-4.cs-hero {
            width: 100%;
        }

        .cs-hero .bannerOverlay,
        .cs-hero .bannerOverlay.bannerOverlayBF {
            height: 20vw;
        }

        .cs-hero .cs-title {
            display: none;
        }

        .cs-hero .cs-subtitle span {
            display: inline-block;
        }

        .cs-hero .cs-subtitle {
            font-size: 4vw;
        }

        .cs-cta a:first-of-type .cs-cta_button {
            margin-top: 0;
        }

        .cs-hero {
            margin-bottom: 6%;
        }
        .cs-img-title {
            display: none !important;
        }
        .cs-cta {
            width: 100%;
            margin: auto;
        }
    }

    .clearance-store-wrapper.Xmas{
        .cs-widewrapper {
            display: table;
        }

        .bannerOverlay.bannerOverlayXmas{
            height: 98%;
        }

        .col-6.cs-hero .bannerOverlay.bannerOverlayXmas {
            height: 98.7%;
        }

        .bannerOverlayXmas .bannerOverlay__contentArea {
            vertical-align: bottom;
        }

        .col-4.cs-hero .cs-title {
            width: 97.8%;
            margin: 0 auto;
        }

        .col-6.cs-hero .cs-title {
            width: 98.6%;
            margin: 0 auto;
        }

        .cs-hero .cs-title {
            font-size: 18px;
        }
    }

    @media only screen and (max-width: 1227px){
        .clearance-store-wrapper.Xmas{
            .col-6.cs-hero .cs-title {
                width: 98.1%;
            }
            .col-6.cs-hero .cs-title {
                margin-bottom: 0.5%;
            }
        }
    }

    @media only screen and (max-width: 989px){
        .clearance-store-wrapper.Xmas{
            .cs-title {
                font-size: 16px;
            }

            .col-4.cs-hero .cs-title{
                margin-bottom: 1%;
                width: 96.6%;
            }
        }

    }

    @media only screen and (max-width: 600px){
        .clearance-store-wrapper.Xmas {
            margin-top: 5%;
        }

        .cs-img-title-mob {
            display: block;
            color: #fff;
            padding: 2% 0;
            text-transform: uppercase;
            font-size: 16px;
            text-align: center;
            line-height: 23px;
            font-weight: bold;
            letter-spacing: 1px;
            background-color: #6b6b6b;
            margin-bottom: 25px;
            margin-top: -8px;
        }
        .cs-img-title-mob span {
            font-family: 'Garamond-Regular';
            font-size: 18px;
        }
    }

        .clearance-store-wrapper.Xmas{

            .cs-hero .bannerOverlayXmas .cs-title {
                display: block;
            }

            .col-4.cs-hero .cs-title {
                margin-bottom: 0;
                width: 100%; 
            }

            .bannerOverlay.bannerOverlayXmas {
                height: 98.4%;
            }

            .cs-title {
                font-size: 3vw;
            }

            .col-6.cs-hero .cs-title {
                width: 100%;
                margin-bottom: 0;
            }

            .clearance-store-wrapper.Xmas .flex-item.col-4.cs-hero {
                padding: 0;
            }

            .flex-item.col-4.cs-hero,
            .flex-item.col-6.cs-hero {
                padding: 0;
            }
        }

    @media only screen and (max-width: 440px){
        .clearance-store-wrapper.Xmas{
            .cs-title {
                font-size: 4vw;
            }

            .bannerOverlay.bannerOverlayXmas {
                height: 97.4%;
            }

            .col-6.cs-hero .bannerOverlay.bannerOverlayXmas {
                height: 98.3%;
            }
            .col-6.cs-hero .cs-title {
                margin-bottom: 0.5%;
            }
        }
    }

}
