/* Generic stuff that can be used on any/every CMS page */
.uspBanners {
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.uspBanners * {
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.uspBanners__container {
	float: left;
	margin: 1% 0;
	width: 100%;
}

.uspBanners__banner {
	display: block;
	width: 32%;
	float: left;
	margin: 0;
	text-align: center;
	color: #fff !important;
	background-color: #ccc;
	padding: 1% 0;
	text-transform: uppercase;
	font-size: 1.2vw;
	letter-spacing: 1px;
	border: 3px #ccc solid;
}

.uspBanners__banner:hover {
	background: #fff;
	color: #999 !important;
}

.uspBanners__banner:nth-child(2) {
	margin: 0 2%;
}

@media screen and (min-width:1260px) {
	.uspBanners {
		width: 100%;
	}

	a.uspBanners__banner {
		font-size: 16px;
	}

}

@media screen and (max-width:960px) {
	a.uspBanners__banner {
		font-size: 11px;
	}

	.uspBanners__banner {
		width: 32.667%;
	}

	.uspBanners__banner:nth-child(2) {
		margin: 0 1%;
	}

}

@media screen and (max-width:840px) {
	.uspBanners__container {
		float: left;
		width: 100%;
		background: #ccc;
		text-align: center;
		padding: 1% 0;
	}

	.uspBanners__banner {
		display: inline;
		width: auto;
		float: none;
		margin: 0 3%;
		padding: 0;
	}

	.uspBanners__banner:last-child {
		margin: 0 0 0 3%;
	}

	.uspBanners__banner:hover {
		text-decoration: underline;
	}

}

@media screen and (max-width:660px) {
	.uspBanners__banner {
		display: block;
		width: 100%;
		text-align: center;
		padding: 0;
		margin: 0;
	}

	.uspBanners__banner:nth-child(2) {
		margin: 0;
	}

	.uspBanners__banner:last-child {
		margin: 0;
	}

}

/* Basket */
.shippingtotalscart {
    float: left;
    width: 53%;
    border: 1px solid black;
    padding: 15px;
}

.shippingtotalscart ul{
	list-style-type: none;
    margin: 0;
    margin-bottom: 1%;
}

/* 404 page */
.noroute__container {
    width: 100%;
    display: table;
    position: relative;
}

.noroute__desktopimg{
  position: relative; 
  float:left; 
  width:100%;
  display: block;
}

.noroute__container--inner{
	position: absolute;
	top:0;
}

.noroute__text {
    color: #FFF;
    float: left;
    width: 100%;
    font-family: 'poppinsregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-left: 3vw;
    margin-top: 5%;
}

.noroute__text--header{
  font-weight: 600; 
  text-transform: uppercase; 
  font-size: 30px;
    letter-spacing: 5px;
}

.noroute__text p:nth-child(2), .noroute__text p:nth-child(4) {
    padding-bottom: 6%;
}

.noroute__container--button {
    float: left;
    width: 100%;
    margin-top: 5%;
}

.noroute__button {
    float: left;
    background: #79a2d0;
    padding: 10px;
    text-align: center;
    color: white;
    margin-right: 1.5%;
    width: 45%;
    font-size: 16px;
    margin-bottom: 1.5%;
    text-transform: uppercase;
    font-family: 'poppinsregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.noroute__container--topbottom{
  width:100%; 
  max-width: 780px;
  margin:0 auto;
}

.noroute__button:hover {
    opacity: 0.8;
}

.noroute__button--women:hover{
  background: #FF685D;
  opacity: 1;
}
.noroute__button--men:hover{
  background: #9CAC25;
  opacity: 1;
}

@media only screen and (max-width:989px) {
	.noroute__text p:nth-child(2),
	.noroute__text p:nth-child(4) {
		padding-bottom: 0%;
	}

	.noroute__text--header {
    	margin-bottom: 1%;
	}

	.noroute__container--topbottom {
    	text-align: center;
	}

	.noroute__button {
	    float: none;
	    display: inline-block;
	}

}

@media only screen and (max-width:740px) {
	.noroute__container--inner {
		position: relative;
	}

	.noroute__text {
		width: 100%;
		margin-left: 0;
		margin-top: 0;
	}

	.noroute__text p:nth-child(2),
	.noroute__text p:nth-child(4) {
		padding-bottom: 1%;
	}

	.noroute__text {
		color: #000;
	}

	.noroute__button {
		margin-right: 0;
		width: 93%;
	}

}

/* 404 page END */

/* mobile footer */
@media only screen and (max-width:740px){
	.column--footer h4{
	    cursor: pointer;
	    margin:0;
	    font-size: 14px;
	    color:#769fd0;
	}

	.column--footer {
    	border-bottom: 1px solid #ddd;
    	padding: 0.5% 0;
	}

	.column--footer ul {
	    display: none;
	}

	.column--footer ul.isOpen{
		display:block;
	}

	.column--footer:before {
	    content: ' ';
	    border-style: solid;
	    border-width: 7px 7px 0 7px;
	    border-color: #afafaf transparent transparent transparent;
	    float: right;
	    margin-top: 1.5%;
	}

	.column--footer.columnOpen:before {
	    border-style: solid;
	    border-width: 0 7px 7px 7px;
	    border-color: transparent transparent #afafaf transparent;
	}

	.column--footer ul {
    	list-style-type: none;
	}

	.column--footer a {
    	color: #5f5e5e;
    	text-decoration: none;
	}

}

/* mobile footer END */

/* Top level banners */

.bannercontainer {
    width: 100%;
    float: left;
    height: 180px;
    background-repeat: no-repeat;
}

.bannertext {
    color: white;
    text-transform: uppercase;
    text-align: left;
    font-size: 65px;
    margin-left: 3%;
    margin-top: 3%;
    letter-spacing: 3px;
}

.pageintro {
    float: left;
    text-align: left;
}

.s-text-banner {
    padding: 0;
}

.bannercontainer.mens {
    background-image: url(https://cdn.hawkshead.com/img/SS17/uk/cat/banners_top_level/mens-topbanner.jpg);    
}

.bannercontainer.womens {
    background-image: url(https://cdn.hawkshead.com/img/SS17/uk/cat/banners_top_level/womens-topbanner.jpg);
}

.bannercontainer.kids {
    background-image: url(https://cdn.hawkshead.com/img/SS17/uk/cat/banners_top_level/kids-topbanner.jpg);
}

.pageintro p {
    margin-bottom: 1%;
}

.pageintro h1{
	text-transform: uppercase;
	margin: 0.5% 0 0 0;
}

.menscatheader {
    color: #2F3051;    
}

.kidscatheader {
    color: #9CAC25;
}

.womenscathead {
    color: #FF685D;
}
