/* Generic stuff that can be used on any/every CMS page */
.uspBanners {
	display: none;
}

.generic-usp {
	text-align: center;
	padding: 0.4% 0;
	background: rgb(47, 47, 83); /* background colour */
	color: #fff !important; /* font colour */
	text-transform: uppercase;
	letter-spacing: 0.6px;
}

.generic-usp .pipe {
	margin: 0 0.5%;
}

.generic-usp a {
	color: #fff !important;
}

.generic-usp a:hover {
	color: #fff !important;
	text-decoration: underline;
}

.generic-usp div {
	display: inline;
}

@media only screen and (max-width:1024px) {
	.generic-usp a {
		font-size: 13px;
	}

}

@media only screen and (max-width:600px) {
	.generic-usp {
		margin-top: 9px;
	}

	.generic-usp .pipe {
		display: none;
	}

	.generic-usp div {
		display: block;
	}

}

@media only screen and (max-width:600px) {
	.generic-usp {
		margin-top: 19px;
	}

}



@media only screen and (max-width:426px) {
	.generic-usp div {
		display: block;
	}

}

/* Basket */
.shippingtotalscart {
    float: left;
    width: 80%;
    border: 1px solid black;
    padding: 15px;
}

.shippingtotalscart ul{
	list-style-type: none;
    margin: 0;
    margin-bottom: 1%;
}

.shippingtotalscart h3 {
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 1.5%;
}

.c-btn--secondary {
    background: #c3c3c3;
    border-color: #c3c3c3;
}

/* 404 page */
.noroute__container {
    width: 100%;
    display: table;
    position: relative;
}

.noroute__desktopimg{
  position: relative; 
  float:left; 
  width:100%;
  display: block;
}

.noroute__container--inner{
	position: absolute;
	top:0;
}

.noroute__text {
    color: #FFF;
    float: left;
    width: 100%;
    font-family: 'poppinsregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-left: 3vw;
    margin-top: 5%;
}

.noroute__text--header{
  font-weight: 600; 
  text-transform: uppercase; 
  font-size: 30px;
    letter-spacing: 5px;
}

.noroute__text p:nth-child(2), .noroute__text p:nth-child(4) {
    padding-bottom: 6%;
}

.noroute__container--button {
    float: left;
    width: 100%;
    margin-top: 5%;
}

.noroute__button {
    float: left;
    background: #79a2d0;
    padding: 10px;
    text-align: center;
    color: white;
    margin-right: 1.5%;
    width: 45%;
    font-size: 16px;
    margin-bottom: 1.5%;
    text-transform: uppercase;
    font-family: 'poppinsregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.noroute__container--topbottom{
  width:100%; 
  max-width: 780px;
  margin:0 auto;
}

.noroute__button:hover {
    opacity: 0.8;
}

.noroute__button--women:hover{
  background: #FF685D;
  opacity: 1;
}
.noroute__button--men:hover{
  background: #9CAC25;
  opacity: 1;
}

@media only screen and (max-width:989px) {
	.noroute__text p:nth-child(2),
	.noroute__text p:nth-child(4) {
		padding-bottom: 0%;
	}

	.noroute__text--header {
    	margin-bottom: 1%;
	}

	.noroute__container--topbottom {
    	text-align: center;
	}

	.noroute__button {
	    float: none;
	    display: inline-block;
	}

}

@media only screen and (max-width:740px) {
	.noroute__container--inner {
		position: relative;
	}

	.noroute__text {
		width: 100%;
		margin-left: 0;
		margin-top: 0;
	}

	.noroute__text p:nth-child(2),
	.noroute__text p:nth-child(4) {
		padding-bottom: 1%;
	}

	.noroute__text {
		color: #000;
	}

	.noroute__button {
		margin-right: 0;
		width: 93%;
	}

}

/* 404 page END */

/* mobile footer */
@media only screen and (max-width:740px){
	.column--footer h4{
	    cursor: pointer;
	    margin:0;
	    font-size: 14px;
	    color:#769fd0;
	    padding:1% 0;
	}

	.column--footer {
    	border-bottom: 1px solid #ddd;
    	padding: 0.5% 0;
	}

	.column--footer ul {
	    display: none;
	}

	.column--footer ul.isOpen{
		display:block;
	}

	.column--footer:before {
	    content: ' ';
	    border-style: solid;
	    border-width: 7px 7px 0 7px;
	    border-color: #afafaf transparent transparent transparent;
	    float: right;
	    margin-top: 1.5%;
	}

	.column--footer.columnOpen:before {
	    border-style: solid;
	    border-width: 0 7px 7px 7px;
	    border-color: transparent transparent #afafaf transparent;
	}

	.column--footer ul {
    	list-style-type: none;
	}

	.column--footer a {
    	color: #5f5e5e;
    	text-decoration: none;
	}

}

/* mobile footer END */

/* Top level banners */

.bannercontainer {
    width: 100%;
    float: left;
    height: 180px;
    background-repeat: no-repeat;
}

.bannertext {
    color: white;
    text-transform: uppercase;
    text-align: left;
    font-size: 65px;
    margin-left: 3%;
    margin-top: 3%;
    letter-spacing: 3px;
}

.pageintro {
    float: left;
    text-align: left;
}

.s-text-banner {
    padding: 0;
}

.bannercontainer.mens {
    background-image: url(https://cdn.hawkshead.com/img/SS18/cat/top_level_banners/Mens-TopLevelCat.jpg);    
}

.bannercontainer.womens {
    background-image: url(https://cdn.hawkshead.com/img/SS18/cat/top_level_banners/Womens-TopLevelCat.jpg);
}

.bannercontainer.kids {
    background-image: url(https://cdn.hawkshead.com/img/SS18/cat/top_level_banners/Kids-TopLevelCat.jpg);
}

.bannercontainer.footwear { 
    background-image: url(https://cdn.hawkshead.com/img/SS18/cat/top_level_banners/Footwear-TopLevelCat.jpg);
}

.bannercontainer.camping { 
    background-image: url(https://cdn.hawkshead.com/img/SS17/uk/cat/banners_top_level/camping-topbanner.jpg);
} 

.bannercontainer.dare2b { 
    background-image: url(https://cdn.hawkshead.com/img/SS18/cat/top_level_banners/Dare2B-TopLevelCat.jpg);
} 

.bannercontainer.regatta { 
    background-image: url(https://cdn.hawkshead.com/img/SS18/cat/top_level_banners/Regatta-TopLevelCat.jpg);
} 

.bannercontainer.craghoppers { 
    background-image: url(https://cdn.hawkshead.com/img/SS18/cat/top_level_banners/Craghoppers-TopLevelCat.jpg);
} 


.pageintro p {
    margin-bottom: 1%;
}

.pageintro h1{
	text-transform: uppercase;
	margin: 0.5% 0 0 0;
}

.menscatheader {
    color: #2F3051; 
    text-align: left;   
}

.kidscatheader {
    color: #9CAC25;
    text-align: left;
}

.womenscathead {
    color: #FF685D;
    text-align: left;
}

.seo_container,
.pageothertext {
    width: 100%;
    max-width: 1228px;
    margin: 0 auto;
    text-align: left;
}

.banner__title,
.banner__text,
.s-text-banner p {
    text-align: left;
}

.banner__title {
    color: #6792C8;
}

.banner__title.mens {
    color: #2F3051;
}

.banner__title.womens {
	color:#FF685D;
}

.banner__title.kids {
	color:#9CAC25;
}

.banner__title.camping{
	color:#ffd35e; 
}

.bannertext.footwearacc {
    font-family: 'poppinsregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: left;
    font-size: 42px;
    margin-left: 4%;
    margin-top: 3.8%;
    letter-spacing: 3px;
    width: 32%;
    line-height: 1.2;
}

/* No results styles*/
.noresults__container a {
    border: 1px solid #000;
    padding: 0.5% 0;
    width: 24%;
    display: inline-block;
    text-align: center;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

.noresults__suggestions {
    text-align: center;
}

.noresults__suggestions p {
    font-weight: 700;
    border-top: 1px solid #5f5f5e;
    margin-top: 1%;
    padding-top: 1%;
}

.noresults__suggestions ul {
    margin-left: 0;
    list-style-type: none;
}

@media only screen and (max-width:1024px){
	.s-text-banner *:empty {
    	display: none;
	}
}

@media only screen and (max-width:740px){

	.noresults__container a {
	    width: 49%;
	    margin-top: 0.5%;
	}

}

@media only screen and (max-width:400px){

	.noresults__container a {
	    width: 100%;
	} 

}

/* END */

/* Header updates */
.s-main-menu .categories {
    text-align: center;
}

.s-main-menu .categories>li {
    display: inline-block;
    padding-right: 0.5%;
}

.c-header,
.s-header-links .links>li>a,
.s-header-links .links>li>a:active,
.s-header-links .links>li>a:focus,
.s-header-links .links>li>a:hover,
.s-header-links .links>li>a:visited {
	color: #000;
}

.c-header {
    background-color: #fff;
}

.s-footer-links .column h4,
.s-footer-links-social h4 {
    color: #000;
} 

.s-main-menu .block {
    background: #fff;
}

.s-main-menu .categories>li a.ui-state-focus,
.s-main-menu .categories>li a.ui-state-focus:active,
.s-main-menu .categories>li a.ui-state-focus:focus,
.s-main-menu .categories>li a.ui-state-focus:hover,
.s-main-menu .categories>li a.ui-state-focus:visited {
	color: #000;
}

.s-main-menu .categories>li a.ui-state-focus,
.s-main-menu .categories>li:first-child a.ui-state-focus:after,
.s-main-menu .categories>li:last-child a.ui-state-focus:after {
	background: #f6f6f6;
}

.s-main-menu .categories > li.dropdown--clearance a.ui-state-focus,
.s-main-menu .categories > li.dropdown--clearance a.ui-state-focus:active,
.s-main-menu .categories > li.dropdown--clearance a.ui-state-focus:focus,
.s-main-menu .categories > li.dropdown--clearance a.ui-state-focus:hover,
.s-main-menu .categories > li.dropdown--clearance a.ui-state-focus:visited {
	color: #ff0000;
}

.c-header-search .c-header-search__input {
	background-color: #fff;
	border: 2px solid #dfe0e1;
	color: #525252;
}

.c-header-search .c-header-search__input::placeholder{
	color: #dfe0e1;
}

.c-header-search .c-header-search__input::-webkit-input-placeholder {
	color: #dfe0e1;
}

.c-header-search .c-header-search__input:-moz-placeholder,
.c-header-search .c-header-search__input::-moz-placeholder {
	color: #dfe0e1;
}

.c-header-search .c-header-search__input:-ms-input-placeholder {
	color: #dfe0e1;
}

.c-icon--search {
    background-image: url(https://cdn.hawkshead.com/img/SS17/uk/misc/icons/mag-glass.svg)!important;
    opacity: 0.5;
}

@media only screen and (max-width:1227px) {
	.s-main-menu .categories>li {
	    padding-right: 0%;
	}
}

@media only screen and (max-width:500px) {
	.s-main-menu .categories>li {
	    display: block;
	}

	.s-main-menu .categories {
    	text-align: left;
	}

}

/* END */

/* Basket Updates */
.o-layout__item:nth-child(4) {
	text-align: right;
}

.o-layout__item:nth-child(3),
.o-layout__item.c-basket__remove-group {
	padding-left: 4%;
}

.c-basket__continue-shopping {
    margin-top: 0;
    background: #c3c3c3;
    color: #fff !important;
    padding: 5px 8%;
    float: left;
}

@media only screen and (max-width:500px) {
	.o-layout__item:nth-child(3),
	.o-layout__item.c-basket__remove-group {
		padding-left: 0%;
	}

}

/* END */

/* SEO show hide */
	@media only screen and (max-width:770px) {
	.s-text-banner {
		display: table;
	} 

	.bannercontainer,
	.banner__text.banner__text--toggle,
	.mobileseo-container.mobileseo-container--second.clickdisplay {
		display: none;
	}

	.pageintro {
    	float: none;
	}

	.pageintro.pageintro-hidden {
    	height: 100px;
    	overflow: hidden;
	}

	.seemore,
	.seemoreseo {
	    margin: 0 auto;
	    background: #769fd0;
	    width: 25%;
	    color: #fff;
	    padding: 0.5% 0;
	}

	.mobileseo-container-first {
	    margin-top: -45px;
	}

	.mobileseo-container {
	    margin-top: -70px;
	} 

	.seo-hidden {
    	display: none;
	}

	.banner__text.seo-reduced{
		height: 50px;
		overflow: hidden;
	}

	.mobileseo-container.action:first-of-type,
	.mobileseo-container.bttnhide,
	.gradient.gradient-toggle,
	.mobileseo-container:last-of-type img {
	    display: none;
	}

	.mobileseo-container.marginfix,
	.mobileseo-container-first.mobileseo-container-toggle{
		margin:0;
	}

}

/* END */

/* Footer payment logos */
.c-footer__payment-icons {
    background-image: url(https://cdn.craghoppers.com/img/SS17/UK/misc/logos/payment-options.png);
}
/* END */

/* Footer feefo logo */
h4.c-feefo__titl {
	margin: 0;
	color: #fff;
}

@media only screen and (max-width:770px) {
	.c-feefo {
		margin: 0px 0 20px 0;
	} 

	.s-footer-links-social h4 {
    	padding-left: 11%;
	} 

}

@media screen and (max-width:500px) {
  body .c-feefo {
    background-size: 80px;
    padding: 0;
    min-height: 42px;
    background-position: left 15px center;
    margin: 7px 0px;
    position: relative;
  }
  .c-feefo h4.c-feefo__titl {
    display: none;
  }
  .c-feefo .c-feefo__percentage {
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .c-feefo__subtitle {
    position: absolute;
    bottom: -23px;
    right: 0;
    left: 0;
    color: #424243;
  }
}

/* END */

/* Outdoor Footwear and Accessories PLP header */
.bannertext.footwearacc {
    margin-top: 3%;
    width: 45%;
}
/* END */

/* Cookie Policy */
.navbarlinks {
	float: left;
	padding: 5px;
	background: #eee;
	width: 25%;
	text-align: center;
	border-right: 1px solid #ddd;
}

.customerservice__row td,
.customerservice__row th {
	border: 2px solid #CCCCCC;
	padding: 5px;
}

.headerrow > td,
.headerrow > th {
	padding-left: 5px;
	display: table-cell;
	vertical-align: inherit;
}

tr.headerrow,
.customerservice__row th {
	font-weight: 600;
}

.cookie-padding {
	height: 20px;
}

.customerservice__main {
    margin-top: 7%;
}
/* END */

/* ios shadow */
@media only screen and (max-width:1024px) {
	input#search.c-input.c-header-search__input,
	input#newsletter.c-input-combined__input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

}
/* END */


/* checkout address boxes */
#checkout-step-shipping .o-layout__item:nth-child(3),
#checkout-step-shipping .o-layout__item.c-basket__remove-group {
	padding-left: 2%;
}

#checkout-step-shipping .o-layout__item:nth-child(4) {
	text-align: left;
}
/* error messages */
.page.messages {
	clear: both;

}

/* END */

/* Account Style */
.account.sales-order-view .box-order-billing-method {
    display: none;
}
/* END */

/* Font overwrite */
html {
	font-family: $latoreg; 
}
/* END */ 

/* Store Locator */
.c-store-list__distance {
    color: #5f5f5e !important;
}
.c-store-list__details {
    color: #5f5f5e !important;
}
.c-store-list__item:nth-child(even) {
    background: rgba(118, 159, 208, 0.1) !important;
}
.c-store-list__item {
    margin-bottom: 0 !important;
    padding: 2.6% 1%;
    border-bottom: 1px solid;
    text-align: left;
}
.c-store-list__title {
    text-align: left;
}
/* END */

/* Tablet search bar */
@media only screen and (max-width:1024px){
	#header > header > div.o-region__inner > div > div.o-layout__item > div:nth-child(2) > div.o-layout__item:nth-child(1){
		width: 67% !important;
	    padding-left: 30px;
	}
	#header > header > div.o-region__inner > div > div.o-layout__item > div:nth-child(2) > div.o-layout__item {
	    width: 33% !important;
	}
}
/* END */



/* FOOTER */
#footer .s-footer-links > div {
    width: 18.5%!important;
    padding-bottom: 5%;
}
.s-footer-links-social {
    margin-left: -16px;
}
ul.follow-us {
    padding-top: 15px;
}
/* END */

/* Hide tracking img/iframe after footer */
div#footer ~ img,
div#footer ~ iframe {
    position: absolute;
    left: -999px;
    top: -999px;
}
/* END */

/* Cookie Policy Bar */
#notice-cookie-block .content {
    background: rgba(252, 138, 129, 1);
    position: fixed;
    width: 100%;
    z-index: 9;
    text-align: center;
    padding: 10px;
    bottom:0;
}

#notice-cookie-block .content > p {
    font-size: 0px;
    margin: 0px;
}

#notice-cookie-block .content a {
    margin-top: -10px;
    line-height: 17px;
}

#notice-cookie-block .content * {
    display: inline-block;
    color: #ffffff;
}

#notice-cookie-block a:after {
    content: "Hawkshead use cookies to ensure that we give you the best experience on our website. Learn more about our cookies here.";
    font-size: 15px;
    display: block;
}

button#btn-cookie-allow {
    background: transparent;
    border: 1px solid;
}
/* END Cookie Policy Bar */