$green: #a0aa2f;

.collection__wrapper {
	display: inline-block;
}

.collection {
	float: left;
	width: 100%;
	padding: 10px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.collection img {
	float: left;
	width: 100%;
}

.collection__highlight--info,
.collection__product-img {
	float: left;
	width: 50%;
	padding: 10px 25px;
}

.collection__background--green {
	background-color: #9AB564;
}

.collection__background--red {
	background-color: #FC8A81;
}

.collection__background--blue {
	background-color: #669AD4;
}

.collection__background--cream {
	background-color: #E6E3D4;
}

section.collection.collection__background h2 {
	text-align: center;
	margin: 3% 0;
	font-size: 22px;
	width: 100%;
}

.collection.collection--intro {
	padding: 0;
}

.collection--intro p {
	padding: 10px;
}

.collection__button {
	border: 2px solid;
	text-align: center;
	text-transform: uppercase;
	width: 65%;
	font-weight: bold;
	font-size: 16px;
}

.collection__button--white {
	border-color: #fff;
	color: #fff;
}

.hero__overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.hero__overlay--outer {
	display: table;
	height: 100%;
	width: 100%;
}

.hero__overlay--inner {
	display: table-cell;
	height: 100%;
	text-align: center;
	vertical-align: bottom;
}

.hero__button {
	width: auto;
	margin: 0 auto;
	margin-bottom: 5%;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	border: 2px solid #fff;
	padding: 0.5% 2%;
	display: inline-block;
	font-size: 16px;
	letter-spacing: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.collection__button--bottom {
	margin: 0 auto;
	width: 30%;
	padding: 0.7% 0;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
	min-width: 210px;
	color: #fff;
	margin-top: 1%;
}

.collection__bottom--red {
	background: #FF7E70;
	border-color: #FF7E70;
}

.collection__bottom--blue {
	background: #669AD4;
	border-color: #669AD4;
}

.collection__bottom--green {
	background: #a0aa2f;
	border-color: #a0aa2f;
}

.collection--hero {
	padding: 0;
}

.collection--intro h2 {
	padding-left: 10px;
	font-size: 21px;
	text-transform: none;
}

.collection__highlight--info ul {
	margin-left: 3%;
}

.collection__product-img img {
	display: block;
	margin: 0 auto;
	float: none;
	width:auto;
}  

.collection__highlight--info h3 {
	font-weight: bold;
	font-size: 20px;
	text-transform: none;
}

.description__header {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 2%;
	float: left;
	width: 100%;
	font-size: 16px;
}

.collection__highlight--info img {
	display: none;
}

.collection h2 {
	text-transform: none;
	float: left;
	margin-top: 1.5%;
}

.collection--intro h2,
.collection--intro p {
	color: #808080 !important;
	width: 100%;
}

.cms-page-view .std .collection__background li {
	font-size: 14px;
}

.collection__background {
	padding-bottom: 2%;
}

@media only screen and (max-width:768px) {
	.collection__wrapper {
		display: flex;
		flex-wrap: wrap;
	}
 
}

@media only screen and (max-width:740px) {
	.collection__wrapper {
		display: block;
	}

    .containercenter {
        width: 100%;
        padding: 0;
    }

    .collection {
        padding: 10px 0;
    }

    .collection__highlight--info img {
        display: block;
        float: none;
        margin: 0 auto;
        width: auto;
        margin-bottom: 4%;
    }

    .collection__product-img {
        display: none;
    }

    .collection__highlight--info {
        width: 97%;
        padding:10px;
    }

    .collection__button {
        float: none;
        margin: 0 auto;
        margin-top: 2%;
    }

}