$green: #a0aa2f;

.collection__wrapper {
	display: inline-block;
	width:100%;
}

.collection {
	float: left;
	width: 100%;
	padding: 10px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.collection img {
	float: left;
	width: 100%;
}

.collection__highlight--info,
.collection__product-img {
	float: left;
	width: 50%;
	padding: 10px 25px;
}

.collection__background--green {
	background-color: #9AB564;
}

.collection__background--red {
	background-color: #FC8A81;
}

.collection__background--blue {
	background-color: #669AD4;
}

.collection__background--cream {
	background-color: #E6E3D4;
}

section.collection.collection__background h2 {
	text-align: center;
	margin: 3% 0;
	font-size: 22px;
	width: 100%;
}

.collection.collection--intro {
	padding: 0;
}

.collection--intro p {
	padding: 10px;
}

.collection__button {
	border: 2px solid;
	text-align: center;
	text-transform: uppercase;
	width: 65%;
	font-weight: bold;
	font-size: 16px;
}

.collection__button--white {
	border-color: #fff;
	color: #fff;
}

.hero__overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.hero__overlay--outer {
	display: table;
	height: 100%;
	width: 100%;
}

.hero__overlay--inner {
	display: table-cell;
	height: 100%;
	text-align: center;
	vertical-align: bottom;
}

.hero__button {
	width: auto;
	margin: 0 auto;
	margin-bottom: 5%;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	border: 2px solid #fff;
	padding: 0.5% 2%;
	display: inline-block;
	font-size: 16px;
	letter-spacing: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.collection__button--bottom {
	margin: 0 auto;
	width: 45%;
	padding: 0.7% 0;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
	min-width: 210px;
	color: #fff;
	margin-top: 1%;
}

.collection__bottom--red {
	background: #FF7E70;
	border-color: #FF7E70;
}

.collection__bottom--blue {
	background: #669AD4;
	border-color: #669AD4;
}

.collection__bottom--green {
	background: #a0aa2f;
	border-color: #a0aa2f;
}

.collection--hero {
	padding: 0;
}

.collection--intro h2 {
	padding-left: 10px;
	font-size: 21px;
	text-transform: none;
}

.collection__highlight--info ul {
	margin-left: 3%;
}

.collection__product-img img {
	display: block;
	margin: 0 auto;
	float: none;
	width:auto;
}  

.collection__highlight--info h3 {
	font-weight: bold;
	font-size: 20px;
	text-transform: none;
}

.description__header {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 2%;
	float: left;
	width: 100%;
	font-size: 16px;
}

.collection__highlight--info img {
	display: none;
}

.collection h2 {
	text-transform: none;
	float: left;
	margin-top: 1.5%;
}

.collection--intro h2,
.collection--intro p {
	color: #808080 !important;
	width: 100%;
}

.cms-page-view .std .collection__background li {
	font-size: 14px;
}

.collection__background {
	padding-bottom: 2%;
}

.collection-lower-seo {
    margin-top: 1.5%;
}

.collection__background strong {
    text-align: center;
    margin: 3% 0;
    font-size: 22px;
    width: 100%;
    float: left;
}

.collection__highlight--info strong {
    font-weight: bold;
    font-size: 20px;
    text-transform: none;
    text-align: left;
}

@media only screen and (max-width:989px) {
	.collection__product-img img {
	    width: 100%;
	}

}

@media only screen and (max-width:768px) {
	.collection__wrapper {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}
 
}

@media only screen and (max-width:740px) {
	.collection__wrapper {
		display: block;
	}

    .containercenter {
        width: 100%;
        padding: 0;
    }

    .collection {
        padding: 10px 0;
    }

    .collection__highlight--info img {
        display: block;
        float: none;
        margin: 0 auto;
        margin-bottom: 4%;
    }

    .collection__product-img {
        display: none;
    }

    .collection__highlight--info {
        width: 97%;
        padding:10px;
    }

    .collection__button {
        float: none;
        margin: 0 auto;
        margin-top: 2%;
    }

}



/* SS18 COLLECTION PAGE START */

.cms-preview-ls .breadcrumbs.c-breadcrumbs {
    display: none;
}

.cms-preview-ls .o-region__inner {
	width: 100% !important;
}

.collection-container {
	max-width: 1228px;
	margin: auto;
}

.coll-endcap-title {
	text-align: center;
	font-family: "Lato-Regular", sans-serif;
	font-size: 20px;
	padding: 3% 0 0 0;
	text-transform: uppercase;
}


.collection-monetate-endcap .mt_endcap.mt_horizontal {
	max-width: 100% !important;
}

.collection-monetate-endcap {
    width: 100%;
    max-width: 1228px;
    margin: 0 auto;
    padding-bottom: 1%;
}

.collection-monetate-endcap .mt_prodName,
.collection-monetate-endcap .mt_altPrice {
    color: #000;
}

.coll-banner-middle {
	text-align: center;
}

.coll-btn-container {
	text-align: center;
    display: block;
}
.coll-btn {
	font-family: "Lato-Regular", sans-serif;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	padding: 1% 7%;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	margin: 4% auto 3% auto;
	display: inline-block;
}

.coll-btn:hover {
	text-decoration: none;
}

.coll-btn-active {
	background: #fc8a80;
}

.coll-btn-active:hover {
	background: #fbaaa3;
}

.coll-btn-cycle {
	background: #fed158;
}

.coll-btn-cycle:hover {
	background: #ffd460;
}

.coll-btn-insect {
	background: #ca2023;
}

.coll-btn-insect:hover {
	background: #c93b3e;
}

.coll-btn-lifestyle {
	background: #85aedc;
}

.coll-btn-lifestyle:hover {
	background: #a4bedb;
}

.coll-footer-copy {
	font-family: "Lato-Regular", sans-serif;
	font-size: 18px;
	padding: 0% 0 5% 0;
	max-width: 1228px;
	margin: auto;
}

@media screen and (max-width:770px) {
	.coll-btn {
		font-size: 16px;
		padding: 1% 7%;
		margin: 5% auto 4% auto;
	}

	.coll-footer-copy {
		font-size: 16px;
		padding: 0 2% 5% 2%;
		max-width: 100%;
		line-height: 24px;
	}
}

@media screen and (max-width:550px) {
	.coll-btn {
		font-size: 14px;
		margin: 6% auto 5% auto;
	}

	.coll-footer-copy {
		font-size: 14px;
		padding: 0 5% 5% 5%;
	}
}


/* SS18 COLLECTION PAGE END */