/* Customer Services Styles */
.helpnav {
    float: left;
    width: 100%;
    background-color: #e8e8e8;
    margin:1% 0;
}

.deliveryoptions__img {
    padding-right: 1%
}

.cs__helpcontainer--inner {
    padding: 1% 0;
    display: flex;
}

.redeye-form input,
.redeye-form select,
.redeye-form textarea {
    width: 100%;
}

.newsletter label {
    min-width: 135px;
    float: left;
}

.newsletter input[type=checkbox] {
    width: auto;
}

.helpmenulinks {
    display: inline-block;
    padding: 0.5%;
}

.helpmenulinks:first-child {
    padding-left: 1%;
}

.helpmenulinks h2 {
    margin-bottom: 0;
    color: #000;
}

.cs__helpcontainer--collectplus,
.collectplus__section {
    display: flex;
}

.helpheader {
    float: left;
    width: 100%;
    font-size: 16px;
} 

.helpheader--mainheader {
    font-size: 22px;
    font-weight: bold;
}

.cms-terms h3,
.cms-terms h4 {
    font-weight: bold;
}

.regattaheader {
    margin-top: 2%;
}

.regattadesktop {
    display: block;
}

.regattatablet {
    display: none;
}

#footsize {
    float: left;
    width: 17%;
    margin: 10px 5px;
    padding: 10px 10px 10px 34px;
    border: solid 1px grey;
    text-align: center;
}

#cragsize {
    float: left;
    width: 17%;
    margin: 10px 5px;
    padding: 10px 10px 10px 32px;
    border: solid 1px grey;
    text-align: center;
}

#regsize {
    float: left;
    width: 17%;
    margin: 10px 5px;
    padding: 10px 10px 10px 45px;
    border: solid 1px grey;
    text-align: center;
}

#daresize {
    float: left;
    width: 17%;
    margin: 10px 5px;
    padding: 10px 10px 10px 48px;
    border: solid 1px grey;
    text-align: center;
}

.datatable {
    border: 1px solid #e1e6e9;
    border-collapse: collapse;
    width: 100%;
}

.datatable td {
    border: 1px solid #c1d62f;
    background-color: #FFFFFF;
    padding: 4px;
    width: 65px;
    text-align: center;
}

.datatable th {
    border: 1px solid #c1d62f;
    background-color: #c1d62f;
    font-weight: bold;
    text-align: center;
    padding-left: 4px;
}

.jobs {
    display: block;
    cursor: pointer;
    float: left;
}

.cs__nav {
    float: left;
    width: 100%;
    margin-bottom: 1%;
}

.cs__button {
    float: left;
    width: 24.5%;
    border: 1px solid;
    text-align: center;
    margin-right: 0.5%;
    padding: 0.5% 0;
    cursor: pointer;
}

.cs__button:nth-child(4) {
    margin-right: 0;
}

.cs__sizeContainer {
    width: 100%;
    display: inline-block;
}

.isActive {
    background: #dadada;
}

.cs_nav-banner {
    background-image: url(https://cdn.hawkshead.com/img/SS17/uk/page/customer_services/helppagebanner.jpg);
    width: 100%;
    background-repeat: no-repeat;
    line-height: 1;
    padding-top: 15%;
    padding-left: 1%;
    padding-bottom: 0%;
}

.cs_nav-banner span {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 1;
}

.helpmenulinks a {
    text-decoration: none;
}

@media only screen and (max-width:1024px) {
    .regattadesktop {
        display: none;
    }

    .regattatablet {
        display: block;
        width: 97%;
    }

}

@media screen and (max-width:875px) {
    #cragsize {
        width: 18%;
    }

}

@media screen and (max-width:828px) {
    #footsize {
        width: 16%;
        padding: 10px;
    }

    #cragsize {
        width: 19%;
        padding: 10px;
    }

    #regsize {
        padding: 10px;
    }

    #daresize {
        padding: 10px;
    }

    .jobs {
        float: none;
        text-align: center;
    }

}

@media only screen and (max-width:740px) {
    .deliveryoptions__img,
    .collectplus__section img {
        display: none;
    }

    .cs__helpcontainer--inner {
        display: block;
    }

    

}

/* Contact us page */
.std .card p {
    width: 100%;
}
.contact__card {
    padding-bottom: 1%;
    border-bottom: 1px solid;
    margin-bottom: 2%;
}
.contact__popup {
    display: none;
}

.contact__popup.popup_open {
    display: block;
    z-index: 999;
    position: fixed;
    width: 100%;
    max-width: 1228px;
    background: #fff;
    top: 85px;
    padding: 10px;
    overflow-y: scroll;
    height: 750px;
}
.popup__inner {
    background: #fff;
    float: left;
    width: 100%;
}
.popup__bg.popup_open {
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 5;
}
div#form__close {
    float: right;
    background: #e3e3e3;
    padding: 10px;
    cursor: pointer;
    z-index: 999999999999;
}
.form_popup {
    cursor: pointer;
    text-decoration: underline;
}
@media only screen and (max-width: 480px){
  .contact__popup.popup_open {
      overflow: scroll;
      height: 500px;
      padding: 20px 40px;
  }
}
/* END */



/* delivery and returns */
.action-tabs .tabs-content {
    border: 1px solid #ddd;
    padding: 10px 20px;
    position: relative;
}

.action-tabs .tabs {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.action-tabs .tabs *[data-action="tab"] {
    border: 1px solid #ddd;
    border-bottom: 0;
    padding: 10px 16px;
    flex-grow: 1;
    margin: 0 0px;
    cursor: pointer;
    font-size: 1.2em;
    flex-basis: 200px;
}

.action-tabs .tabs *[data-action="tab"]:hover {
    background: #f7f7f7;
}

.action-tabs .tabs *[data-action="tab"].active {
    background: #ddd;
}

.action-tabs .tabs-content > * {
    display: none;
}

.action-tabs .tabs-content > *.active {
    display: block
}
/* END */