/* Customer Services Styles */
.helpnav {
    float: left;
    width: 100%;
    background-color: #e8e8e8;
    margin:1% 0;
}

.deliveryoptions__img {
    padding-right: 1%
}

.cs__helpcontainer--inner {
    padding: 1% 0;
    display: flex;
}

.redeye-form input,
.redeye-form select,
.redeye-form textarea {
    width: 100%;
}

.newsletter label {
    min-width: 135px;
    float: left;
}

.newsletter input[type=checkbox] {
    width: auto;
}

.helpmenulinks {
    display: inline-block;
    padding: 0.5%;
}

.helpmenulinks:first-child {
    padding-left: 1%;
}

.helpmenulinks h2 {
    margin-bottom: 0;
    color: #000;
}

.cs__helpcontainer--collectplus,
.collectplus__section {
    display: flex;
}

.helpheader {
    float: left;
    width: 100%;
    font-size: 16px;
} 

.helpheader--mainheader {
    font-size: 22px;
    font-weight: bold;
}

.cms-terms h3,
.cms-terms h4 {
    font-weight: bold;
}

.regattaheader {
    margin-top: 2%;
}

.regattadesktop {
    display: block;
}

.regattatablet {
    display: none;
}

#footsize {
    float: left;
    width: 17%;
    margin: 10px 5px;
    padding: 10px 10px 10px 34px;
    border: solid 1px grey;
    text-align: center;
}

#cragsize {
    float: left;
    width: 17%;
    margin: 10px 5px;
    padding: 10px 10px 10px 32px;
    border: solid 1px grey;
    text-align: center;
}

#regsize {
    float: left;
    width: 17%;
    margin: 10px 5px;
    padding: 10px 10px 10px 45px;
    border: solid 1px grey;
    text-align: center;
}

#daresize {
    float: left;
    width: 17%;
    margin: 10px 5px;
    padding: 10px 10px 10px 48px;
    border: solid 1px grey;
    text-align: center;
}

.datatable {
    border: 1px solid #e1e6e9;
    border-collapse: collapse;
    width: 100%;
}

.datatable td {
    border: 1px solid #769fd0;
    background-color: #FFFFFF;
    padding: 4px;
    width: 65px;
    text-align: center;
}

.datatable th {
    border: 1px solid #769fd0;
    background-color: #769fd0;
    font-weight: bold;
    text-align: center;
    padding-left: 4px;
}

.jobs {
    display: block;
    cursor: pointer;
    float: left;
}

.cs__nav {
    float: left;
    width: 100%;
    margin-bottom: 1%;
}

.cs__button {
    float: left;
    width: 24.5%;
    border: 1px solid;
    text-align: center;
    margin-right: 0.5%;
    padding: 0.5% 0;
    cursor: pointer;
}

.cs__button:nth-child(4) {
    margin-right: 0;
}

.cs__sizeContainer {
    width: 100%;
    display: inline-block;
}

.isActive {
    background: #dadada;
}

.cs_nav-banner {
    background-image: url(https://cdn.hawkshead.com/img/SS17/uk/page/customer_services/helppagebanner.jpg);
    width: 100%;
    background-repeat: no-repeat;
    line-height: 1;
    padding-top: 15%;
    padding-left: 1%;
    padding-bottom: 0%;
}

.cs_nav-banner span {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 1;
}

.helpmenulinks a {
    text-decoration: none;
}

@media only screen and (max-width:1024px) {
    .regattadesktop {
        display: none;
    }

    .regattatablet {
        display: block;
        width: 97%;
    }

    .redeye-form.cs-form {
        width: 90%;
    }

}

@media screen and (max-width:875px) {
    #cragsize {
        width: 18%;
    }

}

@media screen and (max-width:828px) {
    #footsize {
        width: 16%;
        padding: 10px;
    }

    #cragsize {
        width: 19%;
        padding: 10px;
    }

    #regsize {
        padding: 10px;
    }

    #daresize {
        padding: 10px;
    }

    .jobs {
        float: none;
        text-align: center;
    }

}

@media only screen and (max-width:740px) {
    .deliveryoptions__img,
    .collectplus__section img {
        display: none;
    }

    .cs__helpcontainer--inner {
        display: block;
    }

    

}

/* Contact us page */
.std .card p {
    width: 100%;
}
.contact__card {
    padding-bottom: 1%;
    border-bottom: 1px solid;
    margin-bottom: 2%;
}
.contact__popup {
    display: none;
}

.contact__popup.popup_open {
    display: block;
    z-index: 999;
    position: fixed;
    width: 100%;
    max-width: 1228px;
    background: #fff;
    top: 85px;
    padding: 10px;
    overflow-y: scroll;
    height: 750px;
}
.popup__inner {
    background: #fff;
    float: left;
    width: 100%;
}
.popup__bg.popup_open {
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 5;
}
div#form__close {
    float: right;
    background: #e3e3e3;
    padding: 10px;
    cursor: pointer;
    z-index: 999999999999;
}
.form_popup {
    cursor: pointer;
    text-decoration: underline;
}
@media only screen and (max-width: 480px){
  .contact__popup.popup_open {
      overflow: scroll;
      height: 500px;
      padding: 20px 40px;
  }
}
/* END */



/* delivery and returns */
.action-tabs .tabs-content {
    border: 1px solid #ddd;
    padding: 10px 20px;
    position: relative;
}

.action-tabs .tabs {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.action-tabs .tabs *[data-action="tab"] {
    border: 1px solid #ddd;
    border-bottom: 0;
    padding: 20px 14px;
    flex-grow: 1;
    margin: 0 0px;
    cursor: pointer;
    font-size: 1em;
    flex-basis: 200px;
    font-weight: bold;
    text-align: center;
}

.action-tabs .tabs *[data-action="tab"]:hover {
    background: #f7f7f7;
}

.action-tabs .tabs *[data-action="tab"].active {
    background: #ddd;
}

.action-tabs .tabs-content > * {
    display: none;
}

.action-tabs .tabs-content > *.active {
    display: block
}

.delret-first {
    padding-top: 1.5%;
}

h2.delret-title {
    font-size: 1.7em;
    padding-top: 1%;
}

h3.delret-title {
    font-weight: 400;
    font-size: 1.4em;
    padding-top: 20px;
    margin-bottom: 5px;
}

ul.delret-list {
    list-style: none;
}
/* END */

/* Modern SLavery Page */

.modern-slavery-title {
    font-size: 300%; 
    font-weight: bold;
    color: #000;
    text-align: center;
    padding: 3% 0 5% 0;
}

.modern-slavery-left {
    float: left;
    width: 44%;
    padding: 0 3%;
}

.modern-slavery-copy {
    font-size: 14px;
    line-height: 25px;
    color: #000;
    padding-bottom: 8%;
}

.modern-slavery-btn {
    color: #ffffff;
    font-size: 16px;
    background: #769fd0;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    width: 230px;
    text-align: center;
    font-weight: bold;
}

.modern-slavery-btn:hover {
    background: #6587af;
}

a:link, a:visited, a:hover, a:active .modern-slavery-btn {
    text-decoration: none;
}

.modern-slavery-img {
    float: left;
    width: 47%;
    padding: 0 3% 0 0;
}

.modern-slavery-clear {
    clear: both;
}

@media only screen and (max-width:800px) {
    .modern-slavery-title {
        font-size: 200%;
    }

    .modern-slavery-left {
        float: none;
        width: 96%;
        padding: 0 2%;
    }

    .modern-slavery-img {
        float: none;
        width: 96%;
        padding: 5% 2% 0 2%;
    }
}

/* END */

/* Unsubscribe form */
iframe.unsubscribe {
    border: 0;
    width: 100%;
    padding-top: 2%;
}
/* END */

/* contact us wufoo form */
#wufooFormz14enmhp1k8wl01 {
    height: 1000px;
}
/* END */

/* Returns */
.returns-myhermes {
    padding: 1.5% 0 1% 0;
    width: 75px;
}
/* END */

/* CH Fit Guide */
.fitGuideDiagrams {
  padding-top: 3%;
  float: left;
}

.fitGuideDiagrams__title,
.fitGuideDiagrams__blockContainer {
  float: left;
  clear: both;
}

.fitGuideDiagrams__block {
  width: 29%;
  float: left;
  margin: 0 6% 2% 0;
}

.fitGuideDiagrams__block:last-child {
  margin-right: 0;
}

.fit-tip .fitGuideDiagrams__block {
  width: 100%;
  margin: 0;
}

.fit-tip .fitGuideDiagrams__image {
  width: 80%;
  margin: 0 auto;
}

.guaranteeimg {
  float: right;
}

.guaranteehead h3 {
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width:768px) {
  .fitGuideDiagrams__block {
    width: 47%;
    margin: 0 6% 2% 0;
  }

  .fitGuideDiagrams__block:nth-child(2) {
    margin-right: 0;
  }

}

@media screen and (max-width:440px) {
  .fitGuideDiagrams__block {
    width: 100%;
    margin: 0 0 2%;
  }

}
/* END */

/* Cookie Policy */
.cs-table {
    font-size: 14px;
    width: 100%;
}

.cs-table td {
    font-size: 14px;
    border: 1px solid #ddd;
    padding: 0.25% 0.75%;
    vertical-align: top;
}

.cs-table-header {
    background-color: #ddd;
}

.cs-table-2col-1 {
    width: 30%;
}

.cs-table-2col-2 {
    width: 77%;
}

.cs-table-4col-1 {
    width: 10%;
}

.cs-table-4col-2 {
    width: 35%;
}

.cs-table-4col-3 {
    width: 10%;
}

.cs-table-4col-4 {
    width: 25%;
}

.cs-list {
    font-size: 16px;
}

.cs-title {
    margin-top: 3%;
    font-weight: bold;
}

.cookie-header {
    font-weight: bold;
    margin-bottom: 0 !important;
    margin-top: 2%;
    font-size: 24px !important;
}

.cs-table tr:nth-child(odd) {
    background: #eee;
}



@media screen and (max-width:700px) {
    .tableWrapper{
        overflow: auto;
    }
    .cs-table {
        overflow-x: scroll;
        width: 1000px;
    }
    .cs-table td {
        font-size: 12px;
    }
}
/* END */


/* EMAIL UNSUBSCRIBE FORM */

    .email-unsubscribe iframe {
        width: 100%;
        min-height: 500px;
        overflow: visible;
        border: none;
    }

/* END */



/* CUSTOMER SERVICE PAGES START */

.cms-contact-us .c-breadcrumbs,
.cms-email-signup-form .c-breadcrumbs,
.cms-sizing .c-breadcrumbs,
.cms-our-brand-guarantees .c-breadcrumbs, 
.cms-delivery-and-returns .c-breadcrumbs, 
.cms-cancellation-form .c-breadcrumbs, 
.cms-cookie-policy .c-breadcrumbs, 
.cms-privacy-policy .c-breadcrumbs, 
.cms-terms .c-breadcrumbs {
    display: none;
}

.cms-contact-us .columns .o-region__inner,
.cms-email-signup-form .columns .o-region__inner,
.cms-sizing .columns .o-region__inner,
.cms-our-brand-guarantees .columns .o-region__inner,
.cms-delivery-and-returns .columns .o-region__inner, 
.cms-cancellation-form .columns .o-region__inner,
.cms-cookie-policy .columns .o-region__inner,
.cms-privacy-policy .columns .o-region__inner,
.cms-terms .columns .o-region__inner {
    width: 100%;
 }

 .customerservice-new h2[data-action="toggle"]:hover {
    background: none;
}

.customerservice-new h2[data-action="toggle"] {
    border: none;
    border-top: 1px solid #ddd;
    color: #333;
    border-radius: none;
    box-shadow: none;
    cursor: pointer;
    padding: 3% 0 0 0;
}

.customerservice-new h2[data-action="toggle"]::after {
    top: 60%;
}

.customerservice-new .toggle-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all ease 0.5s;
}

.customerservice-new .toggle-content.active {
    opacity: 1;
    max-height: 2000px;
    transition: all ease 0.5s;
}

.customerservice-new {
    max-width: 50%;
    margin: auto;
    padding-bottom: 3%;
}

.cs-header {
    width: 100%;
    max-width: 1920px;
    min-height: 270px;
    margin: auto;
    margin-bottom: 3%;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cs-header-title {
    color: #000;
    padding-top: 4%;
    font-size: 55px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Lato-Light", sans-serif;
    font-weight: normal !important;
}

.cs-header-title-white {
    color: #fff !important; 
}

.cs-header-line {
    text-align: left;
    margin: 0 0 3% 0;
    border-top: 1px solid #ddd;
}

.cs-return-link {
    text-align: left;
    padding-bottom: 2%;
    color: #5f5f5e !important;
}

a.cs-link {
    color: #5f5f5e !important;
    text-decoration: underline !important;
}

.cs-address {
    list-style: none;
    line-height: 22px;
    font-size: initial;
}

.contact__card {
    padding-bottom: 1%;
    border-bottom: none !important;
    margin-bottom: 2%;
}

.cs-copy-main {
    max-width: 1000px;
    margin: auto;
}

.cs-main {
    background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Banner-1.jpg);
    margin-bottom: 7% !important;
}

.cs-sizing-guide {
    background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Banner-2.jpg);
}

.cs-email-sign-up {
    background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Banner-3.jpg);
}

.cs-contact-us {
    background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Banner-4.jpg);
}

.cs-brand-guarantees {
    background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Banner-5.jpg);
}

.cs-delivery-information {
    background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Banner-6.jpg);
}

.cs-returns-information {
    background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Banner-7.jpg);
}

.cs-cancellations {
    background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Banner-8.jpg);
}

.cs-cookie-policy {
    background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Banner-9.jpg);
}

.cs-privacy-policy {
    background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Banner-10.jpg);
}

.cs-terms-and-conditons {
    background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Banner-11.jpg);
}

@media screen and (max-width:1000px) {
    .cms-contact-us .o-region__inner.column.main,
    .cms-email-signup-form .o-region__inner.column.main,
    .cms-sizing .o-region__inner.column.main,
    .cms-our-brand-guarantees .o-region__inner.column.main,
    .cms-delivery-and-returns .o-region__inner.column.main,
    .cms-cancellation-form .o-region__inner.column.main,
    .cms-cookie-policy .o-region__inner.column.main,
    .cms-privacy-policy .o-region__inner.column.main,
    .cms-terms .o-region__inner.column.main {
        width: 100% !important;
    }
}

@media screen and (max-width:600px) {
    .cs-header {
        max-width: 600px;
        min-height: auto;
    }

    .cs-header-title {
        padding-top: 13%;
        font-size: 24px;
        min-height: 150px;
    }

    .cs-main {
        background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Mobile-Banner-1.jpg);
    }

    .cs-sizing-guide {
        background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Mobile-Banner-2.jpg);
    }

    .cs-email-sign-up {
        background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Mobile-Banner-3.jpg);
    }

    .cs-contact-us {
        background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Mobile-Banner-4.jpg);
    }

    .cs-brand-guarantees {
        background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Mobile-Banner-5.jpg);
    }

    .cs-delivery-information {
        background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Mobile-Banner-6.jpg);
    }

    .cs-returns-information {
        background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Mobile-Banner-7.jpg);
    }

    .cs-cancellations {
        background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Mobile-Banner-8.jpg);
    }

    .cs-cookie-policy {
        background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Mobile-Banner-9.jpg);
    }

    .cs-privacy-policy {
        background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Mobile-Banner-10.jpg);
    }

    .cs-terms-and-conditons {
        background-image: url(https://cdn.hawkshead.com/img/SS18/UK/misc/customer-services/Mobile-Banner-11.jpg);
    }
}

@media screen and (max-width:500px) {
    .customerservice-new {
        max-width: 95%;
    }

    .cs-main {
        font-size: 18px !important;
    }

    .flex-item.col-6.csbottomcontainer {
        width: 49.86%;
    }

    .csbottom-cta {
        font-size: 13px;
        padding: 0 10%;
        line-height: 18px;
    }

    .csborder {
        margin: 6% 0 0% 0;
    }

    .flex-item.col-6.option-btn-small {
        max-width: 100% !important;
        margin: auto;
    }

    .customerservice-new h2[data-action="toggle"]::after {
        top: 50%;
    }
}

/* CUSTOMER SERVICE PAGES END */