/* Current Fonts */

@font-face {
    font-family: 'Lato-Regular';
    src: url(https://cdn.hawkshead.com/fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lato-Bold';
    src: url(https://cdn.hawkshead.com/fonts/lato/Lato-Bold.ttf);
}

@font-face {
    font-family: 'Lato-Light';
    src: url(https://cdn.hawkshead.com/fonts/lato/Lato-Light.ttf);
}

$latoreg: 'Lato-Regular', sans-serif;
$latobold: 'Lato-Bold', sans-serif;
$latolight: 'Lato-Light', sans-serif;