///////////////////////////////
//////Mega Menu Styles/////////
///////////////////////////////

.mm__container {
  width: 1228px;
  margin: 0 auto;
}

.s-main-menu .category-items .mm__column {
  width: 25%;
  float: left;
  margin-left: 0;
  text-align: left;
  list-style-type: none;
}

.mm__column a {
  text-decoration: none;
}

.mm__column h3 {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 1.5;
  text-transform: none;
}

.columnHead h3 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.genderheader {
    background: #6792C8;
    color: white;
    font-family: 'poppinsregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    width: 100%;
    float: left;
    padding: 10px 0;
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 2%;
}

.s-main-menu .mm__container .mm__column--collections .columnHead a,
.s-main-menu .block .category-items a {
    color: #b2b2b2;
}

.genderheader.mens {
    background: #2F3051;
}

.s-main-menu .mm__container--mens .columnHead a {
    color: #2F3051;
}

.genderheader.womens {
    background: #FF685D;
}

.s-main-menu .mm__container--womens .columnHead a {
    color: #FF685D;
}

.genderheader.kids { 
    background: #9CAC25;
}

.s-main-menu .mm__container--kids .columnHead a,
.mm__container--kids .columnHead h3 {
    color: #9CAC25;
}

.genderheader.camping {
    background: #ffd35e;
}

.s-main-menu .mm__container--camping .columnHead a {
    color: #ffd35e;
}

.s-main-menu .category-items .mm__column.mm__column--footwear {
   width: 17%;
}

.s-main-menu .category-items .mm__column.mm__column--collections.mm__column--footwear {
    width: 20%;
}

.s-main-menu .category-items .mm__column.mm__column--footwear.mm__column--img {
    width: 27%;
}

.columnHead.columnHead--mens h3 {
    color: #2F3051;
}

.columnHead.columnHead--womens h3 {
    color: #FF685D;
}

.columnHead.columnHead--kids h3 {
    color: #9CAC25;
}

.s-main-menu .category-items .mm__column.mm__column--camping {
    width: 50%;
}

.s-main-menu .category-items .mm__column.mm__column--fullwidth{
   width:100%;
}

.mm__column--img img {
    width: 100%;
}

.mm__column.mm__column--camping.mm__column--img img {
    width: auto;
}

.mm__column--camping.mm__column--img .columnHead {
    text-align: center;
}



@media only screen and (max-width:740px) {
  
  .s-main-menu .category-items .mm__column,
  .s-main-menu .category-items .mm__column.mm__column--footwear,
  .s-main-menu .category-items .mm__column.mm__column--camping {
    width: 100%;
  }
  
    

  .mm__column img {
    margin-top: 0;
    width: auto;
  }

  .columnHead {
    margin-left: 1%;
  }

  .mm__column--img{
    display: none;
  }

}