/* PDP styles */

body.page-product-configurable .o-region__inner .o-layout.u-padding-top > div {
    width: 100% !important;
}

.page-product-configurable .o-list-stacked--spaced .o-list-stacked__item {
    margin-bottom: 18px;
    background: #f7f7f7;
    padding: 5px 25px;
    margin: 5px;
    display: inline-block;
}

.page-product-configurable .o-list-stacked--spaced .o-list-stacked__item a {
    text-decoration: none;
    color: #343334;
}