#tech-image-wrapper img {
	width: auto;
}

.c-product-tile__btn {
    background: #d2d2d2;
    border: 2px solid #d2d2d2;
    color: #000;
}

.c-btn--secondary:active,
.c-btn--secondary:focus,
.c-btn.action-secondary:active,
.c-btn.action-secondary:focus {
	background: #9e9e9e;
	border-color: #9e9e9e;
}

.c-product-tile__title {
    line-height: 1.4;
}

.c-product-details .product-info-stock-sku .value {
	color: #5f5f5e;
}

.c-rating__reviews,
.c-rating__reviews:active,
.c-rating__reviews:focus,
.c-rating__reviews:hover,
.c-rating__reviews:visited {
	color: #5f5f5e;
}

.c-save-item,
.c-save-item:active,
.c-save-item:visited,
.c-save-item:hover,
.c-save-item:visited {
	color: #5f5f5e !important;
}
/* Mobile SEO show/hide */
.catalog-category-view{
  .banner__text + button {
    display:none;
  }

}

@media only screen and (max-width:550px){
  .catalog-category-view{
    .banner__text.active {
        overflow: hidden;
        max-height: 50px;
    }

    .banner__text + button {
        display:block;
        background: #769fd0;
        border: 0;
        color: #fff;
        padding: 3px 20px;
        margin:0 auto;
    }

  }

}
/* END */

/* roundel removal on plp */
div#monVars.roundelhide {
    display: none !important;
}
/* END */

.page-products .c-breadcrumbs {
    margin-bottom: 0;
}


/*/////////////////////////*/
/*    Hides Quick Buy     */
/*/////////////////////////*/
.catalog-category-view .c-btn.c-btn--secondary.c-btn--expanded.c-product-tile__btn {
 display: none !important;
 }

.catalog-category-view .c-product-tile__img-wrapper {
  margin-bottom: 10px;
}


/* PLP Updates Start*/

.c-price__group {
  display: inline-block;
}

.c-product-tile__title {
  text-align: center;
  color: #5f5f5e !important;
  width:100%;
}

.c-rating__reviews:after {
  content: ' Reviews';
}

.c-rating__wrap--product-tile {
  clear: both;
}

.c-price__strike {
  padding-right: 5px;
}

.c-price--small {
  text-align: center;
}

.c-rating__container {
  -webkit-filter: grayscale(100%) brightness(60%)!important;
  filter: grayscale(100%) brightness(60%) !important;
}

.c-product-tile__item-extra-info {
  display:none;
}

.c-icon--unsaved-item, .c-icon--up-primary {
  margin-bottom: 10px;
}

.c-price--small {
  line-height: 3 !important;
}

.c-rating__reviews, .c-rating{
  float: none !important;
  display: inline-block;
  margin: 0 4px;
}

.c-rating__reviews {
    position: relative;
    top: -13px;
    font-size: 1.2em;
}

.c-rating__container{
  text-align: center
}

.c-rating__container {
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}

.c-price__group:nth-child(1) .c-price__strike:empty {
    display: none;
}

/* END */

p.c-price__group.nowPrice span:before {
  content: 'Now: ';
}

