/*/////////////////////////////////////////*/
/* Regatta Commerce Styles                 */
/* Author: Shaun Pelling & Richard Silcock */
/*/////////////////////////////////////////*/
/* Modules */
/***************************************************
/* UTILITY CSS
/* All below css is external from reglib
/**************************************************/
/****************************
/* Image Styles
/***************************/
.cms-page img {
  width: 100%; }

/****************************
/* Effects Library
/***************************/
.ease {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }

/****************************
/* Colour Library
/***************************/
.blue {
  background-color: #0080c5;
  color: #fff; }

.green {
  background-color: #5aa11f;
  color: #fff; }

.black {
  background-color: #000;
  color: #fff; }

/****************************
/* Button Styles
/***************************/
.arrow-button {
  padding: 10px 30px 10px 20px;
  text-align: center;
  font-size: 20px;
  background-image: url(https://dbdhuxde2t9el.cloudfront.net/AW16/img/global/white-arrow-line.png);
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 10px;
  border-radius: 3px;
  box-shadow: 0px 11px 10px -5px rgba(0, 0, 0, 0.29);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  top: 0px;
  position: relative; }

.arrow-button:hover {
  position: relative;
  top: -10px;
  color: #fff;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }

/****************************
/* Flex grid styles
/***************************/
/* base flex styles */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0; }

.flex-container.flex-end {
  justify-content: flex-end; }

.flex-container.flex-start {
  justify-content: flex-start; }

.flex-container.flex-center {
  justify-content: center; }

.flex-container.flex-space {
  justify-content: space-around; }

.flex-item {
  flex-grow: 1;
  padding: 0 5px;
  box-sizing: border-box; }

.flex-item > img {
  width: 100%; }

.flex-container.flex-end > .flex-item,
.flex-container.flex-start > .flex-item,
.flex-container.flex-center > .flex-item,
.flex-container.flex-space > .flex-item {
  flex-grow: 0; }

/* flex column styles */
.flex-item.col-1 {
  width: 8.33%; }

.flex-item.col-2 {
  width: 16.66%; }

.flex-item.col-3 {
  width: 24.99%; }

.flex-item.col-4 {
  width: 33.32%; }

.flex-item.col-5 {
  width: 41.65%; }

.flex-item.col-6 {
  width: 49.98%; }

.flex-item.col-7 {
  width: 58.31%; }

.flex-item.col-8 {
  width: 66.64%; }

.flex-item.col-9 {
  width: 74.97%; }

.flex-item.col-10 {
  width: 83.3%; }

.flex-item.col-11 {
  width: 91.63%; }

.flex-item.col-12 {
  width: 100%; }

.flex-item.auto {
  flex-grow: 1;
  flex-shrink: 1; }

@media screen and (max-width: 990px) {
  /* flex column styles */
  .flex-item.col-1 {
    width: 24.99%; }

  .flex-item.col-2 {
    width: 24.99%; }

  .flex-item.col-3 {
    width: 24.99%; }

  .flex-item.col-4 {
    width: 49.98%; }

  .flex-item.col-5 {
    width: 49.98%; }

  .flex-item.col-6 {
    width: 49.98%; }

  .flex-item.col-7 {
    width: 100%; }

  .flex-item.col-8 {
    width: 100%; }

  .flex-item.col-9 {
    width: 100%; }

  .flex-item.col-10 {
    width: 100%; }

  .flex-item.col-11 {
    width: 100%; }

  .flex-item.col-12 {
    width: 100%; }

  .flex-box.tablet-first {
    order: -1; }

  .flex-box.tablet-last {
    order: 13; } }
@media screen and (max-width: 740px) {
  /* flex column styles */
  .flex-item.col-1 {
    width: 49.98%; }

  .flex-item.col-2 {
    width: 49.98%; }

  .flex-item.col-3 {
    width: 49.98%; }

  .flex-item.col-4 {
    width: 49.98%; }

  .flex-item.col-5 {
    width: 49.98%; }

  .flex-item.col-6 {
    width: 49.98%; }

  .flex-item.col-7 {
    width: 100%; }

  .flex-item.col-8 {
    width: 100%; }

  .flex-item.col-9 {
    width: 100%; }

  .flex-item.col-10 {
    width: 100%; }

  .flex-item.col-11 {
    width: 100%; }

  .flex-item.col-12 {
    width: 100%; }

  .flex-box.mobile-first {
    order: -1; }

  .flex-box.mobile-last {
    order: 13; } }
@media screen and (max-width: 740px) {
  /* flex column styles */
  .flex-item.col-1 {
    width: 100%; }

  .flex-item.col-2 {
    width: 100%; }

  .flex-item.col-3 {
    width: 100%; }

  .flex-item.col-4 {
    width: 100%; }

  .flex-item.col-5 {
    width: 100%; }

  .flex-item.col-6 {
    width: 100%; }

  .flex-item.col-7 {
    width: 100%; }

  .flex-item.col-8 {
    width: 100%; }

  .flex-item.col-9 {
    width: 100%; }

  .flex-item.col-10 {
    width: 100%; }

  .flex-item.col-11 {
    width: 100%; }

  .flex-item.col-12 {
    width: 100%; } }
/****************************
/* Toggle Action Styles
/***************************/
*[data-action="toggle"] {
  border: 1px solid #ddd;
  padding: 8px 10px;
  position: relative;
  color: #333;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  padding-right: 30px; }

*[data-action="toggle"]:hover {
  background: #f7f7f7; }

*[data-action="toggle"]::after {
  content: "";
  border-width: 0.65rem 0.5rem 0 0.5rem;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  display: block;
  position: absolute;
  right: 10px;
  top: 40%;
  transition: all ease 0.5s; }

*[data-action="toggle"].active::after {
  transform: rotateZ(180deg);
  transition: all ease 0.5s; }

.action-toggle .toggle-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all ease 0.5s; }

.action-toggle .toggle-content.active {
  opacity: 1;
  max-height: 2000px;
  transition: all ease 0.5s; }

/****************************
/* Tabs Styles
/***************************/
.action-tabs .tabs-content {
  border: 1px solid #ddd;
  padding: 10px 20px;
  position: relative; }

.action-tabs .tabs {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap; }

.action-tabs .tabs *[data-action="tab"] {
  border: 1px solid #ddd;
  border-bottom: 0;
  padding: 10px 16px;
  flex-grow: 1;
  margin: 0 0px;
  cursor: pointer;
  font-size: 1.2em;
  flex-basis: 200px; }

.action-tabs .tabs *[data-action="tab"]:hover {
  background: #f7f7f7; }

.action-tabs .tabs *[data-action="tab"].active {
  background: #ddd; }

.action-tabs .tabs-content > * {
  display: none; }

.action-tabs .tabs-content > *.active {
  display: block; }

/****************************
/* Overlay Banner Styles
/***************************/
.overlay-banner {
  position: relative;
  margin-bottom: 40px; }

.overlay-banner img {
  width: 100%; }

.overlay-banner .overlay-text {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  text-align: center;
  display: table; }

/****************************
/* Parallax Styles
/***************************/
.action-parallax {
  padding: 15% 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.action-parallax h2 {
  text-align: center;
  color: #fff;
  font-size: 4vw;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.2); }

/****************************
/* Wrapper Styles
/***************************/
.content-wrapper {
  max-width: 1228px;
  margin: 0 auto;
  width: 100%; }

@media screen and (max-width: 1227px) {
  .content-wrapper {
    max-width: 990px;
    margin: 0 auto; } }
@media screen and (max-width: 989px) {
  .content-wrapper {
    max-width: 740px;
    margin: 0 auto;
    padding: 10px; } }
/****************************
/* Lightbox Styles
/***************************/
.pop-overlay {
  display: none; }

.pop-overlay.active {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8; }

.rl-pop {
  display: none; }

.rl-pop.active {
  display: block;
  position: fixed;
  z-index: 9;
  background: #fff;
  width: 60%;
  margin: 20% 20% 10px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  top: 0; }

.rl-pop [data-action="pop-close"] {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 14px;
  background: #ddd;
  border-radius: 0 0 0 4px;
  line-height: 0;
  font-weight: bold;
  cursor: pointer; }

@media screen and (max-width: 700px) {
  .rl-pop.active {
    width: 90%;
    margin: 20px 5%; } }
/****************************
/* Customer Service Forms
/***************************/
.cs-form label {
  display: block !important;
  margin: 15px 0 5px;
  width: 100% !important; }

.cs-form input[type="text"], .cs-form textarea {
  width: 90%;
  display: block !important;
  clear: both !important; }

.cs-form input[type="checkbox"] {
  display: inline-block;
  position: relative;
  top: 2px;
  left: 6px; }

.cs-form button {
  margin: 10px 0; }

.cs-form .newsletter {
  margin-top: 5px; }

.cs-form .newsletter label {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0; }

.cs-form button {
  float: none !important;
  clear: both !Important;
  display: block; }

/****************************
/* Basket Page Block
/***************************/
#basket-promo {
  max-width: 48%;
  margin: 1%;
  float: left; }

#basket-promo.returns span {
  max-width: 85%;
  margin: 0; }

#basket-promo li {
  display: block;
  float: left; }

#basket-promo li img {
  max-width: 40px;
  margin: 10px;
  float: left; }

#basket-promo li h3 {
  padding: 10px 0px;
  color: #000000;
  margin: 0;
  float: left;
  border-bottom: solid 1px #eaeaea;
  width: calc(100% - 60px); }

#basket-promo span {
  padding: 5px 0px;
  display: block;
  float: left;
  margin: 0px 0px 0px 60px; }

@media only screen and (max-width: 989px) {
  #basket-promo {
    max-width: 90%; }

  .delivery-basket-container {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll; }

  .basket-container-promo-block {
    position: relative; }

  .basket-container-promo-block:before {
    content: " ";
    background-image: url(http://cdn.dare2b.com/img/global-images/finger-swipe-up.svg);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: center;
    height: 40px;
    width: 30px;
    position: absolute;
    display: block;
    bottom: 20px;
    right: 50px;
    background-color: #ffffff;
    box-shadow: 0px 0px 50px #ffffff;
    animation-name: slide;
    animation-duration: 2s;
    animation-iteration-count: infinite; }

  @keyframes slide {
    0% {
      bottom: 20px; }
    50% {
      bottom: 40px; }
    51% {
      background-image: url(http://cdn.dare2b.com/img/global-images/finger-swipe-up.svg); }
    100% {
      bottom: 20px;
      background-image: url(http://cdn.dare2b.com/img/global-images/finger-swipe-down.svg); } } }
@media only screen and (max-width: 739px) {
  .delivery-basket-container {
    max-height: none;
    overflow-x: visible;
    overflow-y: visible; }

  #basket-promo {
    max-width: 100%; }

  #basket-promo li {
    width: 100%; } }
/****************************
/* Monetate - Endcaps
/***************************/
.page-product-configurable .monetate-product-relationships-one, .page-product-configurable .monetate-product-relationships-two {
  max-width: 48%;
  float: left;
  border: solid 1px #dedede;
  border-radius: 2px;
  margin: 1% 1% 2% 1%;
  background: white; }

.page-product-configurable .monetate-recently-viewed, .page-product-configurable .outfit-builder {
  clear: both;
  border: solid 1px #dedede;
  border-radius: 2px;
  margin: 1%;
  background: white; }

html .mt_animate {
  margin: 0px; }

.page-product-configurable #wrapper + .o-region .o-region__inner:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0%;
  width: 100%;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 10px 20px 0 #b8b8b8;
  z-index: 1; }

.monetate-container {
  max-width: 1228px;
  margin: auto; }

.c-tabs.product.info.detailed + .o-region__inner {
  width: 100%;
  background: #efefef; }

.page-product-configurable .monetate-container {
  max-width: 1228px;
  margin: auto;
  padding: 1% 0%; }

.monetate-product-relationships-one .mt_sliderMask ul li.mt_item, .monetate-product-relationships-two .mt_sliderMask ul li.mt_item {
  max-width: 245px; }

.c-tabs.product.info.detailed {
  z-index: 2; }

.c-tabs.product.info.detailed + .o-region__inner {
  position: relative; }

.page-product-configurable #wrapper .c-tabs.product.info.detailed + .o-region__inner:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0%;
  width: 100%;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 10px 20px 0 #b8b8b8;
  z-index: 1; }

.mt_itemWrapper a {
  text-decoration: none; }

@media only screen and (max-width: 500px) {
  .monetate-product-relationships-one, .monetate-product-relationships-two {
    max-width: 100%; }

  .c-tabs.product.info.detailed + .o-region__inner:before {
    display: none; }

  .c-tabs.product.info.detailed + .o-region__inner {
    background: transparent; }

  .monetate-product-relationships-one, .monetate-product-relationships-two {
    margin: 2% 0%; }

  .monetate-product-relationships-one .mt_sliderMask ul li.mt_item, .monetate-product-relationships-two .mt_sliderMask ul li.mt_item {
    max-width: none; }

  .monetate-recently-viewed {
    margin: 0; } }
.mt_endcap {
  overflow: hidden;
  position: relative; }

.mt_sliderMiddle {
  position: relative;
  overflow: hidden; }

.mt_sliderMask {
  width: 100%;
  height: auto;
  overflow: hidden; }

.mt_sliderMask ul {
  position: relative; }

.mt_sliderMask ul li.mt_item {
  box-sizing: border-box;
  padding: 10px;
  list-style: none; }

.mt_arrowContainer {
  cursor: pointer; }

.mt_ratings {
  display: inline-block;
  position: relative; }

.mt_ratings > .mt_rating {
  overflow: hidden;
  white-space: nowrap; }

.mt_ratings > .mt_rating.full {
  position: relative;
  z-index: 2; }

.mt_ratings > .mt_rating.empty {
  position: absolute;
  top: 0; }

.mt_endcap.mt_horizontal {
  width: 100%; }

.mt_horizontal .mt_sliderMiddle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center; }

.mt_horizontal .mt_sliderMask {
  float: left;
  max-width: calc(100% - 40px); }

.mt_horizontal .mt_sliderMask ul {
  left: 0; }

.mt_horizontal .mt_sliderMask ul.mt_animate {
  -webkit-transition: left .25s;
  transition: left .25s; }

.mt_horizontal li.mt_item {
  display: inline-block;
  vertical-align: top; }

.mt_horizontal .mt_itemImageContainer .mt_image {
  width: 100%;
  height: auto; }

.mt_horizontal .mt_arrowContainer {
  float: left;
  position: relative; }

.mt_sliderTop {
  text-align: center;
  margin: 0%;
  padding: 10px 0px 6px 0px; }

.mt_sliderTop .mt_title, .mt_item {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #2f2f2f;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left; }

.mt_sliderTop .mt_title {
  padding: 0;
  font-size: 20px;
  border-bottom: solid 1px #d4d4d4;
  width: 96%;
  display: block;
  text-align: left;
  margin: 0px 2%;
  padding: 5px;
  color: #525252;
  text-transform: none; }

.mt_item {
  font-size: 14px; }

.mt_item .mt_prodName {
  margin-bottom: 6px;
  overflow: hidden;
  height: 32px;
  font-size: 15px;
  text-align: center;
  color: #676767;
  text-transform: initial; }

.mt_item a:hover {
  color: #2f2f2f; }

.mt_itemImageContainer {
  margin-bottom: 18px;
  padding: 1px; }

.mt_priceText {
  text-align: center; }

.mt_price {
  display: inline-block; }

.mt_altPrice {
  text-decoration: line-through;
  color: #bfbfbf; }

.mt_price:before {
  content: 'Now: '; }

.mt_altPrice:before {
  content: 'RRP: '; }

.mt_altPrice + .mt_price {
  color: #ba2626;
  padding: 5px 5px 15px 5px;
  font-size: 16px; }

/****************************
/* Redeye Form Styles
/***************************/
/* Guarantee Page */
.redeye-form input {
  width: 100%; }

.redeye-form > div {
  margin: 1%;
  width: 48%;
  float: left; }

.redeye-form .title {
  clear: both;
  width: 15%; }

.redeye-form .first-name {
  clear: left; }

.redeye-form .address-1 {
  clear: both; }

.redeye-form .postcode {
  width: 10%; }

.redeye-form .town {
  width: 27.3%; }

.redeye-form .county {
  width: 27.3%; }

.redeye-form .country {
  width: 27.3%; }

.redeye-form .toggles > label {
  float: left; }

.redeye-form .toggles > select {
  clear: both;
  float: left; }

@media only screen and (max-width: 767px) {
  .redeye-form > div {
    width: 98% !important; } }
/****************************
/* Slider Styles
/***************************/
.swiper-button-prev, .swiper-button-next {
  filter: grayscale(100%) brightness(500%);
  opacity: 1 !important; }

/* Partials */
/*////////////////////////*/
/*Product page size Styles*/
/*////////////////////////*/
#sizeChartWrapper .td-style {
  background: #f9f9f9;
  border: solid 1px #e0e0e0;
  text-transform: uppercase;
  padding: 10px; }

#sizeChartWrapper .table-heading > td {
  background: #e0e0e0;
  height: 50px; }

/*//////////////////////////
/* SEO Footer Text */
/*////////////////////////*/
#content + .c-campaign > .s-text-banner {
  background: #f9f9f9; }

#content + .c-campaign > .s-text-banner > div {
  max-width: 1228px;
  margin: 40px auto;
  padding: 10px;
  display: inline-block; }

/*//////////////////////////
/* Footer Block */
/*////////////////////////*/
.page-product-configurable #basket-promo {
  font-size: 15px; }

@media only screen and (max-width: 739px) {
  .mobile-footer-links h4::before {
    content: "+";
    float: right;
    font-size: 20px;
    margin-top: -7px; }

  .mobile-footer-links .toggleMain::before {
    content: "-";
    float: right;
    font-size: 15px;
    margin-top: -3px; }

  .mobile-footer-links h4 {
    background: #606060;
    padding: 10px;
    color: #ffffff; }

  .mobile-footer-links h4 + ul {
    display: none; }

  .mobile-footer-links .toggleMain + ul {
    display: inline-block;
    margin: 0px; }

  .mobile-footer-links .toggleMain + ul li {
    display: block;
    padding: 10px;
    margin: 1%;
    width: 48%;
    float: left;
    background: #d4d4d4;
    text-align: left; }

  .mobile-footer-links .toggleMain + ul li a {
    color: #606060; } }
/*//////////////////////////
/* Footer Block Links */
/*////////////////////////*/
.s-text-banner {
  padding: 0; }

#top-level-cat-banner {
  padding: 6px 6px 0;
  background: #eee; }

#top-level-cat-banner:after {
  display: block;
  content: "";
  clear: both; }

#top-level-cat-banner-img {
  float: left;
  width: 25%; }

#top-level-cat-banner-text {
  float: right;
  width: 75%;
  text-align: left;
  padding: 10px 30px; }

#top-level-cat-banner-text > h1, #top-level-cat-banner-text > p {
  margin-bottom: 0px; }

#top-level-cat-banner-text li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 6px 10px 0 0; }

#top-level-cat-banner-text ul {
  padding: 0;
  margin: 0; }

#top-level-cat-banner-text li a {
  color: #333; }

@media screen and (max-width: 989px) {
  #top-level-cat-banner-img {
    display: none; }

  #top-level-cat-banner-text {
    width: 100%;
    padding: 20px; } }
/*////////////////////////////////*/
/*/ MEGA MENU                     */
/*////////////////////////////////*/
html .s-main-menu .block {
  padding-bottom: 0px; }

#mega-menu.category-items {
  padding-top: 0px;
  overflow: hidden;
  position: relative; }

#mega-menu h3 {
  margin: 10px 0px 5px 0px; }

#mega-menu ul li h3 a {
  color: #000000; }

#mega-menu ul li a {
  padding: 0px;
  color: #737373; }

#mega-menu .flex-item.col-2 {
  width: 20%;
  height: 100%; }

#mega-menu ul li.badge a img {
  max-height: 60px; }

#mega-menu .sale:hover {
  width: 100%;
  top: 0px;
  transition: all ease 0.2s;
  right: -20%; }

#mega-menu .sale {
  background: #c0283f;
  position: absolute;
  right: -80%;
  transition: all ease 0.2s;
  padding-left: 0;
  width: 100% !important;
  display: flex; }

#mega-menu .atmos {
  width: 106%;
  height: 510px;
  margin-bottom: -10px; }

.category-items {
  max-height: 518px;
  overflow: hidden; }

#mega-menu .sale a {
  color: #ddd; }

#mega-menu .sale h3 a {
  color: #fff; }

#mega-menu .badge img {
  margin-top: 10px; }

#mega-menu .flex-item.sale:hover {
  display: flex; }

.mm-sale-preview {
  width: 20%;
  background: url(https://d3h1w1ia8q4z9t.cloudfront.net/AW16/images/Mega-Menu/sale-graphic.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 120px; }

.mm-shop-by-buttons {
  opacity: 1;
  transition: all ease 1.2s;
  width: 70%;
  text-align: left;
  padding-left: 5%;
  background: rgba(0, 0, 0, 0.1);
  padding-right: 15%; }

#mega-menu .mm-shop-by-buttons h3 {
  width: 100%;
  text-align: left;
  color: #fff;
  margin: 20px 0 0; }

#mega-menu .mm-shop-by-buttons a {
  min-width: 40px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 7px 10px;
  margin: 10px 5px 0 0;
  border-radius: 4px;
  width: auto; }

#mega-menu .mm-shop-by-buttons a.mega-button {
  display: block !important;
  max-width: 150px;
  box-sizing: border-box;
  margin-top: 40px;
  background: #000;
  padding: 10px;
  border-radius: 4px; }

@media screen and (max-width: 1227px) {
  .category-items {
    max-height: 800px;
    overflow: hidden; } }
@media screen and (max-width: 990px) {
  #mega-menu .flex-item.col-2.mm-img {
    display: none; }

  #mega-menu .flex-item.col-2 {
    width: 25%;
    padding-left: 0; }

  #mega-menu .sale {
    right: -75%; }

  .mm-sale-preview {
    width: 25%;
    padding-left: 15px !important; }

  #mega-menu .sale:hover {
    right: -5%; } }
.s-main-menu .categories > li:last-child a {
  text-align: left; }

#mega-menu .sale.clearance {
  right: -90%; }

#mega-menu .sale.clearance:hover {
  right: -20%; }

.sale.clearance ul {
  background: #a2172c !important;
  padding: 0 !important;
  width: 10%; }

.category-items.clearance {
  background: #c0283f; }

#mega-menu.category-items.clearance li a {
  color: #ddd; }

#mega-menu.category-items.clearance li h3 a {
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  padding-bottom: 5px; }

.mm-tab {
  display: inline-block;
  width: 32%;
  margin: 20px 0 0;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  text-align: center; }

.mm-tab:hover, .mm-tab.active {
  background: #a2172c; }

.mm-tab:hover ~ div.mm-tab {
  background: transparent; }

.mm-tab > div {
  display: none; }

.mm-tab:hover > div, .mm-tab.active > div {
  display: block;
  position: absolute;
  background: #a2172c;
  width: 97%;
  left: 0;
  top: 64px;
  padding: 20px; }

.mm-tab:hover ~ div.active > div {
  display: none; }

#mm-tabs {
  position: relative; }

.clearance .mm-shop-by-buttons {
  width: 70% !important;
  padding: 0 0 0 26px !important; }

.mm-tab div {
  text-align: left; }

.mm-tab div h3 {
  font-size: 16px; }

@media screen and (max-width: 1060px) {
  .category-items .flex-item:first-child {
    display: none; }

  .category-items .flex-item.col-2 {
    padding: 20px 10px !important;
    min-height: 500px; }

  .category-items .flex-item.col-2.sale {
    padding: 0 !important; }

  .category-items:after {
    content: "";
    display: block;
    clear: both; }

  .sale.clearance {
    background: #a2172c !important; }

  .mm-shop-by-buttons {
    height: 110%;
    margin-bottom: 0; } }
@media screen and (max-width: 739px) {
  #mega-menu ul li a {
    display: none; }

  #mega-menu ul li h3 a {
    display: block;
    padding-bottom: 8px; }

  .category-items .flex-item.col-2 {
    float: none;
    width: 100% !important;
    min-height: 0;
    padding: 0 !important; }

  .s-main-menu .categories > li h3 a:before {
    top: 6px; } }
/*//////////////////////////
/* Black Friday page */
/*////////////////////////*/
#black-friday-page {
  text-align: center;
  color: #ffffff;
  padding: 20px 0px; }
  #black-friday-page h1, #black-friday-page h2, #black-friday-page h3, #black-friday-page h4, #black-friday-page h5, #black-friday-page h6 {
    color: #ffffff; }
  #black-friday-page h1 {
    font-weight: bold;
    font-size: 60px; }
  #black-friday-page .redeye-form > div {
    clear: both;
    width: 80%;
    margin: 0% 10%; }
  #black-friday-page .redeye-form > div label {
    padding: 20px 0px;
    display: block; }
  #black-friday-page .toggles label {
    float: initial; }
  #black-friday-page .toggles select {
    float: initial;
    color: #000000;
    min-width: 200px; }
  #black-friday-page .newsletter.text > * {
    display: inline-block;
    width: initial;
    padding: 20px; }
  #black-friday-page .arrow-button {
    margin: 0px 0px 10px 0px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none; }

/*//////////////////////////
/* Holiday Shop page */
/*////////////////////////*/
#holiday-shop-page .flex-container {
  position: relative; }
#holiday-shop-page .stay {
  min-height: 540px;
  max-height: 540px;
  height: 100vh;
  position: relative; }
#holiday-shop-page .stay .box-container.one {
  max-width: 30%; }
#holiday-shop-page .stay > a {
  width: 100%; }
#holiday-shop-page .stay .atmos.large {
  max-width: 60%;
  width: 100%; }
#holiday-shop-page .columns {
  background: url("//cdn.regatta.com/img/ss17/uk/page/holiday-shop/background.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  margin-top: -10px; }
#holiday-shop-page .breadcrumbs {
  display: none; }
#holiday-shop-page .c-page-wrapper {
  padding: 0px; }
#holiday-shop-page .holiday-shop {
  background: white; }
#holiday-shop-page .flex-item.col-12.banner {
  position: relative; }
#holiday-shop-page .flex-item.col-12 img {
  width: 100%; }
#holiday-shop-page .flex-item.col-12.banner .text {
  position: absolute;
  bottom: 10%;
  left: 3%;
  max-width: 395px; }
#holiday-shop-page .swimwear {
  background: #ea6c58 !important; }
#holiday-shop-page .holiday-shop .flex-item.col-12 {
  width: 100%;
  text-align: center; }
#holiday-shop-page .flex-item.col-12.sub-text {
  text-align: center;
  max-width: 80%;
  margin: auto; }
#holiday-shop-page .fancy-spots {
  min-height: 970px;
  max-height: 970px;
  height: 100vh;
  position: relative; }
#holiday-shop-page .border-box {
  border: solid 1px;
  height: 360px;
  position: absolute;
  width: 100%;
  max-width: 70%;
  top: 9%;
  right: 14%; }
#holiday-shop-page .text-box strong {
  display: block;
  color: #ffffff;
  text-transform: uppercase; }
#holiday-shop-page .atmos.large {
  position: absolute;
  max-width: 45%; }
#holiday-shop-page .text-box {
  background: #76cebc;
  width: 100%;
  max-width: 330px;
  max-height: 300px;
  height: 100vh;
  float: left;
  text-align: center;
  padding: 30px; }
#holiday-shop-page .product-shot {
  float: left;
  max-width: 230px;
  margin-left: 7%; }
#holiday-shop-page .icon {
  max-width: 80px;
  float: left;
  margin-top: 40px;
  margin-left: 7%; }
#holiday-shop-page .atmos.small {
  position: absolute;
  bottom: 5%;
  right: 0;
  max-width: 360px; }
#holiday-shop-page .box-container.one {
  position: absolute;
  right: 0px;
  top: 12%;
  width: 100%;
  max-width: 67%; }
#holiday-shop-page .box-container.two {
  position: absolute;
  right: 27%;
  bottom: 9%;
  z-index: 1; }
#holiday-shop-page .box-container.two .text-box {
  background: #e983bc; }
#holiday-shop-page .text-box h5 {
  font-family: 'Kristi', cursive;
  font-size: 6em;
  color: #ffffff;
  line-height: 70px;
  text-transform: capitalize;
  font-weight: 100; }
#holiday-shop-page .text-box span {
  color: #ffffff;
  text-transform: uppercase;
  display: block; }
#holiday-shop-page .text-box a {
  background: #ffffff;
  border: none;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
  color: #737373;
  text-decoration: none; }
#holiday-shop-page .footwear .flex-container {
  background: #f5eced;
  padding: 20px;
  max-height: 300px;
  height: 100vh;
  margin: 0; }
#holiday-shop-page .final .fancy-spots {
  min-height: 630px;
  max-height: 650px;
  height: 65vh; }
#holiday-shop-page .footwear .text-box {
  background: #e3efca; }
#holiday-shop-page .final .fancy-spots .atmos.large {
  right: 0px;
  max-width: 30%; }
#holiday-shop-page .final .fancy-spots .box-container.one {
  right: 32%;
  z-index: 1; }
#holiday-shop-page .final .fancy-spots .text-box {
  float: right; }
#holiday-shop-page .final .fancy-spots .product-shot {
  float: right;
  margin-left: initial;
  margin-right: 5%;
  margin-top: 2%; }
#holiday-shop-page .final .atmos.small {
  max-width: 65%;
  width: 100%;
  right: initial;
  padding: 20px;
  font-size: 2em;
  letter-spacing: 9px;
  color: #ffffff;
  line-height: 30px;
  text-transform: uppercase;
  background: #f2b4a8;
  background: -moz-linear-gradient(left, #f2b4a8 0%, #ba1e02 100%);
  background: -webkit-linear-gradient(left, #f2b4a8 0%, #ba1e02 100%);
  background: linear-gradient(to right, #f2b4a8 0%, #ba1e02 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2b4a8', endColorstr='#ba1e02', GradientType=1); }
@media only screen and (max-width: 1227px) {
  #holiday-shop-page .icon {
    display: none; }
  #holiday-shop-page .text-box h5 {
    font-size: 5em; } }
@media only screen and (max-width: 990px) {
  #holiday-shop-page .product-shot {
    display: none; }
  #holiday-shop-page .flex-container.footwear .col-9 {
    max-width: 70%; }
  #holiday-shop-page .footwear h5 {
    font-size: 4em; }
  #holiday-shop-page .final .atmos.small {
    max-width: 100%; }
  #holiday-shop-page .content-spots .col-12 {
    max-width: 50%; } }
@media only screen and (max-width: 760px) {
  #holiday-shop-page .footwear > .col-9, #holiday-shop-page .footwear > .col-3 {
    width: 100%;
    max-width: 100% !important; }
  #holiday-shop-page .footwear .text-box {
    max-width: 100%; }
  #holiday-shop-page .footwear h5 {
    font-size: 6em; } }
@media only screen and (max-width: 740px) {
  #holiday-shop-page .content-spots .flex-item {
    max-width: 50%; }
  #holiday-shop-page .content-spots .col-12 {
    max-width: 50% !important; }
  #holiday-shop-page .footwear .flex-item {
    max-width: 32.98%; }
  #holiday-shop-page .footwear .flex-item.col-12 {
    max-width: 100%; }
  #holiday-shop-page .columns {
    background: none; }
  #holiday-shop-page .stay .box-container.one, #holiday-shop-page .border-box {
    display: none; } }
@media only screen and (max-width: 550px) {
  #holiday-shop-page .atmos.small {
    bottom: 14%; }
  #holiday-shop-page .box-container.two {
    bottom: -10%; }
  #holiday-shop-page .footwear {
    margin-top: 40%; }
  #holiday-shop-page .swimwear h5 {
    font-size: 5em; }
  #holiday-shop-page body .banner .text {
    max-width: 180px !important;
    left: 0 !important;
    right: 0;
    margin: auto; }
  #holiday-shop-page .stay {
    min-height: 360px !important;
    max-height: 360px !important;
    margin-top: 60px !important; }
  #holiday-shop-page .stay .atmos.large {
    max-width: 100%;
    width: 100%; } }
@media only screen and (max-width: 340px) {
  #holiday-shop-page .text-box h5 {
    font-size: 3em;
    line-height: normal; }
  #holiday-shop-page .text-box {
    max-height: 240px; } }

/*//////////////////////////
/* Homepage */
/*////////////////////////*/
#homepage .footwear span, #homepage .footwear strong {
  color: #000000 !important; }
#homepage .gender-spots a:nth-child(2) {
  margin: 8px 0px;
  display: block; }
@media only screen and (max-width: 990px) {
  #homepage .gender-spots > a {
    width: 32.6%;
    display: block;
    float: left;
    margin-top: 7px !important; }
  #homepage .gender-spots > a:nth-child(2) {
    margin: 0px 1%; }
  #homepage .content-spots .flex-item.col-3 {
    width: 49.99%;
    margin: 5px 0px; }
  #homepage .saleStrip {
    display: none; }
  #homepage .contentSpots-Lower > div {
    width: 32.98%; } }
@media only screen and (max-width: 600px) {
  #homepage .gender-spots > div {
    float: left;
    width: 49.98% !important;
    margin: 5px 0px; }
  #homepage .mid-spots > div {
    width: 49.98%;
    margin: 5px 0px; }
  #homepage .final-spots > div:nth-child(2) {
    margin: 10px 0px; } }

/*//////////////////////////
/* Fabrics Page */
/*////////////////////////*/
.cms-fabrics .action-parallax {
  padding: 10% 0;
  margin-bottom: 30px; }

.cms-fabrics .action-parallax h2 {
  text-align: center;
  color: #fff;
  font-size: 4vw;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.2); }

#fabric-technologies {
  margin-bottom: 60px; }

#fabric-technologies h2,
#footwear-tech h2 {
  text-align: center;
  font-size: 32px; }

#fabric-technologies select,
#footwear-tech select {
  margin: 10px auto 30px;
  max-width: 400px;
  display: block;
  width: 100%; }

#fabric-info > div,
#footwear-info > div {
  background: #eee;
  padding: 20px;
  border: 1px solid #e7e7e7;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  margin: 10px 0;
  display: none; }

#fabric-info > div.active,
#footwear-info > div.active {
  display: block; }

#fabric-info > div img,
#footwear-info > div .foot-image {
  float: left;
  width: 50%;
  max-width: 400px;
  margin-right: 20px; }

#footwear-info .foot-contents {
  float: right;
  width: 40%; }

#fabric-info > div p,
#footwear-info > div p {
  font-size: 14px; }

#fabric-info > div:after,
#footwear-info > div:after {
  content: "";
  display: block;
  clear: both; }

.cms-fabrics .o-region__inner.main {
  width: 100%; }

@media screen and (max-width: 989px) {
  #footwear-info > div .foot-image {
    float: none;
    width: 100%; }

  #footwear-info .foot-contents {
    float: none;
    width: 100%; } }
/*//////////////////////////

/* About Us Page */
/*////////////////////////*/
.overlay-banner .overlay-text span {
  display: block;
  color: #fff;
  font-size: 2.8vw !important;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.7); }

#about-us > p {
  text-align: center;
  max-width: 900px;
  margin: 12px auto; }

#about-us > p strong {
  font-size: 20px; }

/*//////////////////////////

/* Garment Care Page */
/*////////////////////////*/
.cms-garment-care .o-region__inner.main {
  width: 100%; }

#garment-care .action-parallax {
  padding: 10% 0;
  margin-bottom: 40px;
  box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.5); }

/*//////////////////////////

/* Jackets Guide Page */
/*////////////////////////*/
#jackets-buying-guide .flex-container > div {
  padding: 20px;
  border-bottom: 1px solid #ddd; }

#jackets-buying-guide .flex-container > div .arrow-button {
  display: block;
  margin: 12px 0;
  text-decoration: none;
  max-width: 400px; }

/*//////////////////////////

/* Tents Guide Page */
/*////////////////////////*/
#tent-buying-guide .overlay-banner, #tent-buying-guide .tent-img {
  margin-bottom: -7px; }

.tents-intro {
  background: #eee;
  padding: 20px; }

#tent-buying-guide .flex-container {
  margin: 0; }

#tent-buying-guide .flex-container > div {
  padding: 20px; }

#tent-buying-guide .flex-container .col-4 {
  background: #333;
  color: #fff; }

#tent-buying-guide .flex-container .col-4 h3 {
  color: #fff; }

#tent-buying-guide .flex-container .col-8 {
  background: #eee; }

/*//////////////////////////

/* Boots Guide Page */
/*////////////////////////*/
#boots-buying-guide .arrow-button {
  text-decoration: none;
  margin-top: 40px;
  display: block;
  max-width: 260px; }

#boots-buying-guide .flex-item {
  padding: 20px;
  background: #eee;
  margin: 10px 0;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2); }

/*//////////////////////////

/* Down Guide Page */
/*////////////////////////*/
#down-guides > img {
  max-width: 150px;
  margin: 60px auto 30px;
  display: block; }

#down-guides .flex-item.col-6 {
  padding: 10px 40px; }

#down-guides .flex-item.col-6 > img {
  max-width: 240px;
  display: block;
  margin: 10px auto; }

@media screen and (max-width: 741px) {
  #down-guides .flex-item.col-3 img {
    display: none; } }
/*//////////////////////////

/* Email Sign Up Page */
/*////////////////////////*/
#email-signup-page .redeye-form > div {
  width: 100%; }
#email-signup-page .redeye-form > div > div {
  width: 48%;
  margin: 1%;
  float: left; }
#email-signup-page .optionSelect > div {
  width: 115px;
  margin: 10px;
  float: left;
  background: #dadada;
  text-align: center;
  padding: 10px;
  border-radius: 4px; }

@media screen and (max-width: 767px) {
  .redeye-form > div > div {
    width: 100%; } }
#email-signup-page .flex-item {
  margin: 5px 0;
  display: inline-block;
  width: 100%; }

#email-signup-page form > div:first-child label {
  display: block; }

#email-signup-page .newsletter.text {
  margin: 8px 0; }

#email-signup-page {
  margin: 10px;
  display: inline-block; }

/*//////////////////////////

/* Reg Guarantee Up Page */
/*////////////////////////*/
#register-guarantee-page .newsletter.text {
  margin: 8px 0; }

#register-guarantee-page {
  margin: 10px;
  display: inline-block; }

/*//////////////////////////

/* Camp Guarantee Up Page */
/*////////////////////////*/
#camping-gurantee-page .newsletter.text {
  margin: 8px 0; }

#camping-gurantee-page {
  margin: 10px; }

#camping-gurantee-page form > div > label {
  display: block; }

/* Singles */

/*# sourceMappingURL=styles.css.map */
