/****** Customer Service Styles ******/
.helppages .helppagesleft {
	float: left;
}

.helppages .helppagesright {
	width: 86%;
	padding-left: 2vw;
	float: right;
}

.helppages li {
	list-style-type: none;
	padding: 2px;
}

.helppages .helppagemenuheadingfirst {
	border-bottom: 4px solid #cccccc;
	font-weight: bold;
	margin-bottom: 15px;
}

.helppages .helppagemenuheading {
	border-bottom: 4px solid #cccccc;
	padding-top: 20px;
	font-weight: bold;
	margin-bottom: 15px;
}

.lefthandmenu {
	margin-left: 0;
}

.customerservice__mobilemenu {
	display: none;
}

.helppages {
	display: flex;
}

.navbarlinks {
	float: left;
	padding: 5px;
	background: #eee;
	width: 25%;
	text-align: center;
	border-right: 1px solid #ddd;
} 

.customerservice__row {
	float: left;
	width: 100%;
	margin: 1% 0;
}

.cms-page-view p.customerservice__header {
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}

.cms-page-view p.customerservice__deliveryprice {
	font-weight: bold;
}

.helppagesright p {
	margin-bottom: 10px;
}

.helppages a {
	color: #343334;
	text-decoration: none;
}

.helppagesright a:last-child .navbarlinks {
	border: 0;
}

.internationalzones1 {
	font-weight: bold;
	margin-top: 1%;
}

.redeye-form input,
.redeye-form select,
.redeye-form textarea {
	width: 100%;
}

.newsletter input[type=checkbox] {
	width: auto;
}

.newsletter label {
	min-width: 135px;
	float: left;
}

.studentbeans {
	position: relative;
	padding-bottom: 100%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;
}

.studentbeans iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.deliveryinformation__header {
	text-align: center;
	float: left;
	width: 100%;
}

.cms-page-view p.customerservice__header {
	font-family: 'montserratbold', 'Arial Black', Gadget, Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

.customerservice__row {
	float: left;
	width: 100%;
	margin: 1% 0;
}

.customerservice__row p {
	margin: 0;
}

.cms-page-view p.customerservice__header--subheader {
	text-transform: none;
	font-size: 14px;
}

p.customerservice--margin {
	margin-top: 1%;
}

.customerservice__row--border {
	border-top: 1px solid #000;
}

.cms-page-view p.customerservice__header--mainheader {
	font-size: 22px;
	margin: 0;
	text-decoration: underline;
}

.customerservice__row td,
.customerservice__row th {
	border: 2px solid #CCCCCC;
	padding: 5px;
}

.card__gender {
	width: 33%;
	padding: 10px;
	float: left;
	text-align: center;
	background: #eee;
	border-right: 1px solid #ddd;
	cursor: pointer;
}

.customerservice__row tr:first-child {
	background: #ccc;
}

tr.headerrow,
.customerservice__row th {
	font-weight: 600;
}

.datatablesizing {
	margin-top: 1%;
	width: 100%;
    text-align: center;
}

#customerservice__row--women {
	display: block
}

#customerservice__row--men,
#customerservice__row--kids {
	display: none;
}

div#customerservice__row--women table,
div#customerservice__row--men table,
div#customerservice__row--kids table,
div#customerservice__row--women table th,
div#customerservice__row--men table th,
div#customerservice__row--kids table th {
	text-align: center;
}

.helppagesright a:last-child {
	float: none;
}

.isActive {
	background: #b5b5b5;
}

.helppagesright table {
	width: 100%;
}

.desktopfootwearsection {
	display: table;
	width: 100%;
}

.mobilefootwearsection {
	display: none;
	width: 100%;
}

.desktopfootwearsection tr:first-child {
	background: none;
}

.desktopfootwearsection td:first-child {
	font-weight: 600;
}

.mobilefootwearsection tr:first-child {
	font-weight: 600;
}

.cms-price-match-promise .redeye-form input {
    width: 100%;
    float: left;
    clear: both;
    border: 1px solid;
}

/* New Fit Guide Diagram Stuff */
.fitGuideDiagrams {
	padding-top: 3%;
	float: left;
}

.fitGuideDiagrams__title,
.fitGuideDiagrams__blockContainer {
	float: left;
	clear: both;
}

.fitGuideDiagrams__block {
	width: 29%;
	float: left;
	margin: 0 6% 2% 0;
}

.fitGuideDiagrams__block:last-child {
	margin-right: 0;
}

.fit-tip .fitGuideDiagrams__block {
	width: 100%;
	margin: 0;
}

.fit-tip .fitGuideDiagrams__image {
	width: 80%;
	margin: 0 auto;
}

.guaranteeimg {
    float: right;
}

.guaranteehead h3 {
    font-weight: bold;
    font-size: 18px;
}  

.redeye-form button {
    float: right;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 35px;
    text-transform: uppercase;
}

.redeye-form button:hover {
    opacity: 0.8;
}

.redeye-form {
    display: table;
    width: 75%;
}

.helppagesright span {
    font-weight: bold;
    font-size: 16px;
} 

.cms-privacy-policy .customerservice__row ul {
    margin-left: 3%;
}

.cms-privacy-policy .customerservice__row li {
    list-style-type: disc;
}

.requiredfield {
    color: #ff0000;
}

.datatablesizing30 {
  	width: 32% !important;
  	float: left;
  	margin-right: 12px;
}

.header_padding_top {
  	padding-top: 5%;
}

.action-tabs-sizing .tabs-content {
    border: none !important;
    padding: 0 !important;
    position: relative;
}

.action-tabs-sizing .tabs-content {
    border-top: 1px solid #ddd !important;
}

/* Media Queries for Customer Services Start */

@media only screen and (max-width:500px) {
  	.datatablesizing30 {
    	width: 100% !important;
  	}
}

@media only screen and (max-width:989px) {
	.navbarlinks {
		width: 50%;
	}

	a:nth-child(1) .navbarlinks,
	a:nth-child(2) .navbarlinks {
		border-bottom: 1px solid #ddd;
	}

	a:nth-child(2) .navbarlinks {
		border-right: 0;
	}

}

@media screen and (max-width:768px) {
	.fitGuideDiagrams__block {
		width: 47%;
		margin: 0 6% 2% 0;
	}

	.fitGuideDiagrams__block:nth-child(2) {
		margin-right: 0;
	}

}

@media only screen and (max-width:740px) {
	.helppages .helppagesleft {
		display: none;
	}

	.customerservice__mobilemenu {
		display: block;
		float: left;
		width: 100%;
	}

	.customerservice__mobile {
		float: left;
		padding: 10px 10px 0 10px;
		cursor: pointer;
		border-bottom: 4px solid #cccccc;
		font-weight: bold;
		margin-bottom: 3%;
	}

	.customerservice__links {
		float: left;
		display: none;
		padding-left: 10px;
	}

	.customerservice__links ul {
		float: left;
		padding-right: 2%;
	}

	.customerservice__links li {
		padding: 4px 3px;
		list-style: none;
	}

	.helppagemenuheadingfirst {
		border-bottom: 4px solid #cccccc;
		font-weight: bold;
		margin-bottom: 15px;
	}

	.helppages {
		display: inline-block;
	}

	.helppages .helppagesright {
		width: 100%;
		padding-left: 0;
		float: left;
	}

	.customerservice__mobile:after {
		content: '';
		position: relative;
		width: 0;
		height: 0;
		display: block;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		border-left: 4px solid #000;
		border-right: none;
		top: 9px;
		float: right;
		left: 10px;
	}

	.customerservice__mobile.active:after {
		content: '';
		position: relative;
		width: 0;
		height: 0;
		display: block;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
		border-top: 4px solid #000;
		border-bottom: none;
		top: 11px;
		float: right;
		left: 10px;
	}

}

@media only screen and (max-width:550px) {

	.guaranteeimg {
	    float: none;
	    width: 100%;
	    margin: 0 auto;
	    max-width: 131px;
	    display: table;
	}

}


@media only screen and (max-width:526px) {
	.customerservice__row td,
	.customerservice__row th {
		padding: 2px;
	}

}

@media only screen and (max-width:480px) {
	.desktopfootwearsection {
		display: none;
	}

	.mobilefootwearsection {
		display: table;
	}

	p.customerservice--margin {
		margin-top: 2%;
	}

	.customerservice__row tr:hover {
		background: black;
		color: white;
	}

}

@media screen and (max-width:440px) {
	.fitGuideDiagrams__block {
		width: 100%;
		margin: 0 0 2%;
	}

}

/* New contact us page */
.std .card p {
    width: 100%;
}

.contact__popup {
    display: none;
}

.contact__popup.popup_open {
    display: block;
    z-index: 999;
    position: fixed;
    width: 100%;
    max-width: 1228px;
    background: #fff;
    top: 85px;
    padding: 10px;
    overflow-y: scroll;
    height: 750px;
}
.popup__inner {
    background: #fff;
    float: left;
    width: 100%;
}
.popup__bg.popup_open {
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 5;
}
div#form__close {
    float: right;
    background: #e3e3e3;
    padding: 10px;
    cursor: pointer;
    z-index: 999999999999;
}
.form_popup {
    cursor: pointer;
    text-decoration: underline;
}
@media only screen and (max-width: 480px){
  .contact__popup.popup_open {
      overflow: scroll;
      height: 500px;
      padding: 20px 40px;
  }
}


/* Returns */
.returns-myhermes {
    padding: 1.5% 0 1% 0;
}

p.customerservice-left {
	text-align: left;
}
/* END */

/* delivery and returns */
.action-tabs .tabs-content {
    border: 1px solid #ddd;
    padding: 10px 20px;
    position: relative;
}

.action-tabs .tabs {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.action-tabs .tabs *[data-action="tab"] {
    border: 1px solid #ddd;
    border-bottom: 0;
    padding: 20px 14px;
    flex-grow: 1;
    margin: 0 0px;
    cursor: pointer;
    font-size: 1em;
    flex-basis: 200px;
    font-weight: bold;
    text-align: center;
}

.action-tabs .tabs *[data-action="tab"]:hover {
    background: #f7f7f7;
}

.action-tabs .tabs *[data-action="tab"].active {
    background: #ddd;
}

.action-tabs .tabs-content > * {
    display: none;
}

.action-tabs .tabs-content > *.active {
    display: block
}

.delret-first {
    padding-top: 1.5%;
}

h2.delret-title {
    font-size: 1.7em;
    padding-top: 1%;
}

h3.delret-title {
    font-weight: 400;
    font-size: 1.4em;
    padding-top: 20px;
    margin-bottom: 5px;
}

ul.delret-list {
    list-style: none;
}
/* END */

/* Modern SLavery Page */

.modern-slavery-title {
	font-size: 300%; 
	font-family: $crimreg;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	padding: 3% 0 5% 0;
}

.modern-slavery-left {
	float: left;
	width: 44%;
	padding: 0 3%;
}

.modern-slavery-copy {
	font-size: 14px;
	line-height: 19px;
	color: #000;
	padding-bottom: 8%;
}

.modern-slavery-btn-container {
    display: block;
}

.modern-slavery-btn {
	color: #ffffff;
	font-size: 16px;
	background: #8996a2;
	padding: 15px 20px 15px 20px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	display: inline-block;
}

.modern-slavery-btn:hover {
	background: #727c85;
}

a:link, a:visited, a:hover, a:active .modern-slavery-btn {
    text-decoration: none;
}

.modern-slavery-img {
	float: left;
	width: 47%;
	padding: 0 3% 0 0;
}

.modern-slavery-clear {
	clear: both;
}

@media only screen and (max-width:800px) {
	.modern-slavery-title {
		font-size: 200%;
	}

	.modern-slavery-left {
		float: none;
		width: 96%;
		padding: 0 2%;
	}

	.modern-slavery-img {
		float: none;
		width: 96%;
		padding: 5% 2% 0 2%;
	}
}

/* END */


/* Unsubscribe form */
iframe.unsubscribe {
	border: 0;
	width: 100%;
	padding-top: 2%;
}
/* END */

/* contact us wufoo form */
#wufooFormzcppv9q1o0smos {
	height: 1000px;
}
/* END */

/* Success Message */
.successmessage {
    text-align: center;
    background: #008000;
    color: #fff;
    padding: 2% 0;
    font-size: 16px;
}
/* END */

/* Form error scroll */
.redeye-form .invalid {
    border: 2px solid #ff0000;
}
.redeye-form .popup{
	color:#ff0000;
}
/* END */

/* Price Match Promise */
.cms-price-match-promise .action-tabs .tabs *[data-action="tab"].active {
	background: #fff;
	border: 1px solid #000;
	border-bottom: 0;
}

.cms-price-match-promise .action-tabs .tabs *[data-action="tab"] {
	border: 0;
	border-bottom: 1px solid #000;
}

.cms-price-match-promise .action-tabs .tabs-content {
	border: 0;
}

.helppagesright span {
	font-weight: bold;
	font-size: 16px;
	display: block;
}

.pmp-intro {
	margin-bottom: 4%;
}

.pmp-intro span {
	text-align: center;
}

.pmp-intro span:first-of-type {
	font-family: $crimreg;
	font-weight: 300;
	font-size: 22px;
	letter-spacing: 2px;
	margin-bottom: 2%;
}

.pmp-intro span:first-of-type:before {
	background: url(https://cdn.craghoppers.com/img/AW17/UK/misc/tick/Tick-Black.png);
	background-repeat: no-repeat;
	content: '';
	display: inline-block;
	width: 35px;
	height: 35px;
	background-size: 100%;
	vertical-align: middle;
	margin-right: 10px;
}

.pmp-intro span:last-of-type {
	margin-bottom: 2%;
}

#pmpcall {
	text-align: center;
}

#pmpcall button {
	text-align: center;
	background: #F6AB00;
	border: 1px solid #F6AB00;
	color: #fff;
	width: 350px;
	padding: 0.5% 0;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: bold;
}

#pmpcall p {
	font-weight: bold;
}

.pmp-terms {
	font-style: italic;
}

.pmp-terms ul {
	margin: 0;
}

.pmp-terms ul li:before {
	content: '-';
	margin-right: 5px;
}

.pmp-terms ul li {
	padding: 0;
	line-height: 1.5;
}

.cms-price-match-promise .action-tabs .tabs-content {
	padding: 5% 0;
}

#pmpform form {
	width: 75%;
}

#pmpform form button {
	float: left;
	margin-top: 3%;
}
/* END */


/* SS18 CUSTOMER SERVICE PAGES START*/

.cms-email-sign-up .c-breadcrumbs,
.cms-contact-us .c-breadcrumbs,
.cms-delivery-restrictions .c-breadcrumbs,
.cms-payment-options .c-breadcrumbs,
.cms-returns .c-breadcrumbs,
.cms-delivery-information .c-breadcrumbs,
.cms-customer-services .c-breadcrumbs {
	display: none;
}

.cms-email-sign-up .columns .o-region__inner,
.cms-contact-us .columns .o-region__inner,
.cms-delivery-restrictions .columns .o-region__inner,
.cms-payment-options .columns .o-region__inner,
.cms-returns .columns .o-region__inner,
.cms-delivery-information .columns .o-region__inner,
.cms-customer-services .columns .o-region__inner {
    width: 100%;
}

.customerservice-new h2[data-action="toggle"]:hover {
    background: none;
}

.customerservice-new h2[data-action="toggle"] {
    border: none;
    border-top: 1px solid #ddd;
    color: #333;
    border-radius: none;
    box-shadow: none;
    cursor: pointer;
    padding: 3% 0 0 0;
}

.customerservice-new h2[data-action="toggle"]::after {
    top: 60%;
}

.customerservice-new .toggle-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all ease 0.5s;
}

.customerservice-new .toggle-content.active {
    opacity: 1;
    max-height: 2000px;
    transition: all ease 0.5s;
}

.cs-main {
    font-size: 20px !important;
}

.csbtn {
	color: #343334;
	font-size: 18px;
	background: #fff;
	padding: 10px 20px 10px 20px;
	border: solid #ddd 1px;
	text-decoration: none;
	text-align: center;
}

.csbtn:hover {
	background: #ddd;
	text-decoration: none;
}

a.cs-link {
    color: #343334;
    text-decoration: underline;
}

.customerservice-new {
    max-width: 45%;
    margin: auto;
    padding-bottom: 3%;
}

.customerservice-new-padding {
	padding-top: 4%;
}

.option-btn {
	padding-bottom: 1.5%;
}

.flex-item.col-6.option-btn-small {
    max-width: 49.98% !important;
    margin: auto;
    padding-bottom: 1.5%;
}

.csbottom {
	text-align: center;
	/*padding: 10% 0;
	border-top: 1px solid #ddd;*/
	padding: 3%;
}

.csbottom-img{
	padding-bottom: 3%;
}

.csbottom-title {
    font-size: 18px;
}

.csbottom-cta {
    font-size: 15px;
}

.csbottomleft {
	border-right: 1px solid #ddd;
}

.flex-item.col-6.csbottomcontainer {
    padding: 0 !important;
    margin: 3% 0 !important;
}

.csborder {
    text-align: center;
    margin: 10% 0 0% 0;
    border-top: 1px solid #ddd;
}

.cs-header {
	width: 100%;
	max-width: 1920px;
	min-height: 270px;
	margin:auto;
	margin-bottom: 3%;
	text-align: center;
	background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.cs-extra-padding {
	padding-top: 3% !important;
}

.cs-copy-main {
    max-width: 1000px;
    margin: auto;
}

.cs-main {
	background-image: url(https://cdn.craghoppers.com/img/SS18/UK/misc/customer-services/Customer-Services.jpg);
	margin-bottom: 7% !important;
}

.cs-delivery {
	background-image: url(https://cdn.craghoppers.com/img/SS18/UK/misc/customer-services/Price-Match-Promise.jpg);
}

.cs-returns {
	background-image: url(https://cdn.craghoppers.com/img/SS18/UK/misc/customer-services/Privacy-Policy.jpg);
}

.cs-payment {
	background-image: url(https://cdn.craghoppers.com/img/SS18/UK/misc/customer-services/Cookie-Policy.jpg);
}

.cs-payment-restrictions {
	background-image: url(https://cdn.craghoppers.com/img/SS18/UK/misc/customer-services/Contact-Us.jpg);
}

.cs-contact-us {
	background-image: url(https://cdn.craghoppers.com/img/SS18/UK/misc/customer-services/Contact-Us.jpg);
}

.cs-email-sign-up {
	background-image: url(https://cdn.craghoppers.com/img/SS18/UK/misc/customer-services/Customer-Services.jpg);
}


.cs-header-title {
    color: #fff;
    padding-top: 4%;
    font-size: 55px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "CrimsonText-Regular", Helvetica, Arial, sans-serif;
}

.cs-return-link {
	text-align: left;
	padding-bottom: 2%;
	color: #343334 !important;
}

.cs-header-line {
    text-align: left;
    margin: 0 0 3% 0;
    border-top: 1px solid #ddd;
}

.internationalzones1 {
	padding-top: 2%;
}


h2.customer-services-title {
	padding: 1% 0 1% 0 !important;
	margin: 0;
}

.customerservice-new {
	p,
	li {
		font-size: 16px;
		padding-bottom: 2%;
	}

	ul {
		padding: 1% 0 2% 0;
		margin-bottom: 0 !important;
	}
}

.customer-service-list {
	list-style: none;
}

.customerservice-new .flex-container {
    margin: 0;
}

@media screen and (max-width:1000px) {
	.customerservice-new {
		max-width: 90%;
	}

	.cms-email-sign-up .o-region__inner.column.main,
	.cms-contact-us .o-region__inner.column.main,
	.cms-delivery-restrictions .o-region__inner.column.main,
	.cms-payment-options .o-region__inner.column.main,
	.cms-returns .o-region__inner.column.main,
	.cms-delivery-information .o-region__inner.column.main,
	.cms-customer-services .o-region__inner.column.main {
		width: 100% !important;
	}

	.csborder {
    	margin: 5% 0 0% 0;
	}

	.cs-header-title {
	    padding-top: 11%;
	    font-size: 44px;
	}
}

@media screen and (max-width:600px) {

	.cs-header {
		max-width: 600px;
		min-height: auto;
	}

	.cs-main {
		background-image: url(https://cdn.craghoppers.com/img/SS18/UK/misc/customer-services/Customer-Services-Mobile.jpg);
	}

	.cs-delivery {
		background-image: url(https://cdn.craghoppers.com/img/SS18/UK/misc/customer-services/Price-Match-Promise-Mobile.jpg);
	}

	.cs-returns {
		background-image: url(https://cdn.craghoppers.com/img/SS18/UK/misc/customer-services/Privacy-Policy-Mobile.jpg);
	}

	.cs-payment {
		background-image: url(https://cdn.craghoppers.com/img/SS18/UK/misc/customer-services/Cookie-Policy-Mobile.jpg);
	}

	.cs-payment-restrictions {
		background-image: url(https://cdn.craghoppers.com/img/SS18/UK/misc/customer-services/Contact-Us-Mobile.jpg);
	}

	.cs-contact-us {
		background-image: url(https://cdn.craghoppers.com/img/SS18/UK/misc/customer-services/Contact-Us-Mobile.jpg);
	}

	.cs-email-sign-up {
		background-image: url(https://cdn.craghoppers.com/img/SS18/UK/misc/customer-services/Customer-Services-Mobile.jpg);
	}

	.cs-header-title {
	    padding-top: 13%;
    	font-size: 24px;
    	min-height: 150px;
	}
}

@media screen and (max-width:500px) {
	.customerservice-new {
		max-width: 95%;
	}

	.cs-main {
    	font-size: 18px !important;
	}

	.flex-item.col-6.csbottomcontainer {
		width: 49.86%;
	}

	.csbottom-cta {
	    font-size: 13px;
	    padding: 0 10%;
	    line-height: 18px;
	}

	.csborder {
    	margin: 6% 0 0% 0;
	}

	.flex-item.col-6.option-btn-small {
	    max-width: 100% !important;
	    margin: auto;
	}

	.customerservice-new h2[data-action="toggle"]::after {
    	top: 50%;
	}
}

/* END */

/* SS18 COOKIE POLICY*/

.cs-table {
	font-size: 14px;
	width: 100%;
}

.cs-table td {
	font-size: 14px;
    border: 1px solid #ddd;
    padding: 0.25% 0.75%;
    vertical-align: top;
}

.cs-table-header {
	background-color: #ddd;
}

.cs-table-2col-1 {
	width: 30%;
}

.cs-table-2col-2 {
	width: 77%;
}

.cs-table-4col-1 {
	width: 10%;
}

.cs-table-4col-2 {
	width: 35%;
}

.cs-table-4col-3 {
	width: 10%;
}

.cs-table-4col-4 {
	width: 25%;
}

.cs-list {
	font-size: 16px;
}

.cs-title {
	margin-top: 3%;
	font-weight: bold;
}

.cookie-header {
	font-weight: bold;
    margin-bottom: 0 !important;
    margin-top: 2%;
    font-size: 24px !important;
}

/* END */

/* Cookie Policy */
.cs-table {
	font-size: 14px;
	width: 100%;
}

.cs-table td {
	font-size: 14px;
    border: 1px solid #ddd;
    padding: 0.25% 0.75%;
    vertical-align: top;
}

.cs-table-header {
	background-color: #ddd;
}

.cs-table-2col-1 {
	width: 30%;
}

.cs-table-2col-2 {
	width: 77%;
}

.cs-table-4col-1 {
	width: 10%;
}

.cs-table-4col-2 {
	width: 35%;
}

.cs-table-4col-3 {
	width: 10%;
}

.cs-table-4col-4 {
	width: 25%;
}

.cs-list {
	font-size: 16px;
}

.cs-title {
	margin-top: 3%;
	font-weight: bold;
}

.cookie-header {
	font-weight: bold;
    margin-bottom: 0 !important;
    margin-top: 2%;
    font-size: 24px !important;
}

.cs-table tr:nth-child(odd) {
    background: #eee;
}



@media screen and (max-width:700px) {
	.tableWrapper{
		overflow: auto;
	}
	.cs-table {
	    overflow-x: scroll;
    	width: 1000px;
	}
	.cs-table td {
		font-size: 12px;
	}
}
/* END */


/* EMAIL UNSUBSCRIBE FORM */

	.email-unsubscribe iframe {
		width: 100%;
    	min-height: 500px;
    	overflow: visible;
    	border: none;
	}

/* END */