/****** Customer Service Styles ******/
.helppages .helppagesleft {
	float: left;
}

.helppages .helppagesright {
	width: 86%;
	padding-left: 2vw;
	float: right;
}

.helppages li {
	list-style-type: none;
	padding: 2px;
}

.helppages .helppagemenuheadingfirst {
	border-bottom: 4px solid #cccccc;
	font-weight: bold;
	margin-bottom: 15px;
}

.helppages .helppagemenuheading {
	border-bottom: 4px solid #cccccc;
	padding-top: 20px;
	font-weight: bold;
	margin-bottom: 15px;
}

.lefthandmenu {
	margin-left: 0;
}

.customerservice__mobilemenu {
	display: none;
}

.helppages {
	display: flex;
}

.navbarlinks {
	float: left;
	padding: 5px;
	background: #eee;
	width: 25%;
	text-align: center;
	border-right: 1px solid #ddd;
} 

.customerservice__row {
	float: left;
	width: 100%;
	margin: 1% 0;
}

.cms-page-view p.customerservice__header {
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}

.cms-page-view p.customerservice__deliveryprice {
	font-weight: bold;
}

.helppagesright p {
	margin-bottom: 10px;
}

.helppages a {
	color: #343334;
	text-decoration: none;
}

.helppagesright a:last-child .navbarlinks {
	border: 0;
}

.internationalzones1 {
	font-weight: bold;
	margin-top: 1%;
}

.redeye-form input,
.redeye-form select,
.redeye-form textarea {
	width: 100%;
}

.newsletter input[type=checkbox] {
	width: auto;
}

.newsletter label {
	min-width: 135px;
	float: left;
}

.studentbeans {
	position: relative;
	padding-bottom: 100%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;
}

.studentbeans iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.deliveryinformation__header {
	text-align: center;
	float: left;
	width: 100%;
}

.cms-page-view p.customerservice__header {
	font-family: 'montserratbold', 'Arial Black', Gadget, Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

.customerservice__row {
	float: left;
	width: 100%;
	margin: 1% 0;
}

.customerservice__row p {
	margin: 0;
}

.cms-page-view p.customerservice__header--subheader {
	text-transform: none;
	font-size: 14px;
}

p.customerservice--margin {
	margin-top: 1%;
}

.customerservice__row--border {
	border-top: 1px solid #000;
}

.cms-page-view p.customerservice__header--mainheader {
	font-size: 22px;
	margin: 0;
	text-decoration: underline;
}

.customerservice__row td,
.customerservice__row th {
	border: 2px solid #CCCCCC;
	padding: 5px;
}

.card__gender {
	width: 33%;
	padding: 10px;
	float: left;
	text-align: center;
	background: #eee;
	border-right: 1px solid #ddd;
	cursor: pointer;
}

.customerservice__row tr:first-child {
	background: #ccc;
}

tr.headerrow,
.customerservice__row th {
	font-weight: 600;
}

.datatablesizing {
	margin-top: 1%;
	width: 100%;
    text-align: center;
}

#customerservice__row--women {
	display: block
}

#customerservice__row--men,
#customerservice__row--kids {
	display: none;
}

div#customerservice__row--women table,
div#customerservice__row--men table,
div#customerservice__row--kids table,
div#customerservice__row--women table th,
div#customerservice__row--men table th,
div#customerservice__row--kids table th {
	text-align: center;
}

.helppagesright a:last-child {
	float: none;
}

.isActive {
	background: #b5b5b5;
}

.helppagesright table {
	width: 100%;
}

.desktopfootwearsection {
	display: table;
	width: 100%;
}

.mobilefootwearsection {
	display: none;
	width: 100%;
}

.desktopfootwearsection tr:first-child {
	background: none;
}

.desktopfootwearsection td:first-child {
	font-weight: 600;
}

.mobilefootwearsection tr:first-child {
	font-weight: 600;
}

.cms-price-match-promise .redeye-form input {
    width: 100%;
    float: left;
    clear: both;
    border: 1px solid;
}

/* New Fit Guide Diagram Stuff */
.fitGuideDiagrams {
	padding-top: 3%;
	float: left;
}

.fitGuideDiagrams__title,
.fitGuideDiagrams__blockContainer {
	float: left;
	clear: both;
}

.fitGuideDiagrams__block {
	width: 29%;
	float: left;
	margin: 0 6% 2% 0;
}

.fitGuideDiagrams__block:last-child {
	margin-right: 0;
}

.fit-tip .fitGuideDiagrams__block {
	width: 100%;
	margin: 0;
}

.fit-tip .fitGuideDiagrams__image {
	width: 80%;
	margin: 0 auto;
}

.guaranteeimg {
    float: right;
}

.guaranteehead h3 {
    font-weight: bold;
    font-size: 18px;
}  

.redeye-form button {
    float: right;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 35px;
    text-transform: uppercase;
}

.redeye-form button:hover {
    opacity: 0.8;
}

.redeye-form {
    display: table;
    width: 75%;
}

.helppagesright span {
    font-weight: bold;
    font-size: 16px;
} 

.cms-privacy-policy .customerservice__row ul {
    margin-left: 3%;
}

.cms-privacy-policy .customerservice__row li {
    list-style-type: disc;
}

.requiredfield {
    color: #ff0000;
}

.datatablesizing30 {
  	width: 32% !important;
  	float: left;
  	margin-right: 12px;
}

.header_padding_top {
  	padding-top: 5%;
}

.action-tabs-sizing .tabs-content {
    border: none !important;
    padding: 0 !important;
    position: relative;
}

.action-tabs-sizing .tabs-content {
    border-top: 1px solid #ddd !important;
}

/* Media Queries for Customer Services Start */

@media only screen and (max-width:500px) {
  	.datatablesizing30 {
    	width: 100% !important;
  	}
}

@media only screen and (max-width:989px) {
	.navbarlinks {
		width: 50%;
	}

	a:nth-child(1) .navbarlinks,
	a:nth-child(2) .navbarlinks {
		border-bottom: 1px solid #ddd;
	}

	a:nth-child(2) .navbarlinks {
		border-right: 0;
	}

}

@media screen and (max-width:768px) {
	.fitGuideDiagrams__block {
		width: 47%;
		margin: 0 6% 2% 0;
	}

	.fitGuideDiagrams__block:nth-child(2) {
		margin-right: 0;
	}

}

@media only screen and (max-width:740px) {
	.helppages .helppagesleft {
		display: none;
	}

	.customerservice__mobilemenu {
		display: block;
		float: left;
		width: 100%;
	}

	.customerservice__mobile {
		float: left;
		padding: 10px 10px 0 10px;
		cursor: pointer;
		border-bottom: 4px solid #cccccc;
		font-weight: bold;
		margin-bottom: 3%;
	}

	.customerservice__links {
		float: left;
		display: none;
		padding-left: 10px;
	}

	.customerservice__links ul {
		float: left;
		padding-right: 2%;
	}

	.customerservice__links li {
		padding: 4px 3px;
		list-style: none;
	}

	.helppagemenuheadingfirst {
		border-bottom: 4px solid #cccccc;
		font-weight: bold;
		margin-bottom: 15px;
	}

	.helppages {
		display: inline-block;
	}

	.helppages .helppagesright {
		width: 100%;
		padding-left: 0;
		float: left;
	}

	.customerservice__mobile:after {
		content: '';
		position: relative;
		width: 0;
		height: 0;
		display: block;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		border-left: 4px solid #000;
		border-right: none;
		top: 9px;
		float: right;
		left: 10px;
	}

	.customerservice__mobile.active:after {
		content: '';
		position: relative;
		width: 0;
		height: 0;
		display: block;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
		border-top: 4px solid #000;
		border-bottom: none;
		top: 11px;
		float: right;
		left: 10px;
	}

}

@media only screen and (max-width:550px) {

	.guaranteeimg {
	    float: none;
	    width: 100%;
	    margin: 0 auto;
	    max-width: 131px;
	    display: table;
	}

}


@media only screen and (max-width:526px) {
	.customerservice__row td,
	.customerservice__row th {
		padding: 2px;
	}

}

@media only screen and (max-width:480px) {
	.desktopfootwearsection {
		display: none;
	}

	.mobilefootwearsection {
		display: table;
	}

	p.customerservice--margin {
		margin-top: 2%;
	}

	.customerservice__row tr:hover {
		background: black;
		color: white;
	}

}

@media screen and (max-width:440px) {
	.fitGuideDiagrams__block {
		width: 100%;
		margin: 0 0 2%;
	}

}

/* New contact us page */
.std .card p {
    width: 100%;
}
.contact__card {
    padding-bottom: 1%;
    border-bottom: 1px solid;
    margin-bottom: 2%;
}
.contact__popup {
    display: none;
}

.contact__popup.popup_open {
    display: block;
    z-index: 999;
    position: fixed;
    width: 100%;
    max-width: 1228px;
    background: #fff;
    top: 85px;
    padding: 10px;
    overflow-y: scroll;
    height: 750px;
}
.popup__inner {
    background: #fff;
    float: left;
    width: 100%;
}
.popup__bg.popup_open {
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 5;
}
div#form__close {
    float: right;
    background: #e3e3e3;
    padding: 10px;
    cursor: pointer;
    z-index: 999999999999;
}
.form_popup {
    cursor: pointer;
    text-decoration: underline;
}
@media only screen and (max-width: 480px){
  .contact__popup.popup_open {
      overflow: scroll;
      height: 500px;
      padding: 20px 40px;
  }
}


/* Returns */
.returns-myhermes {
    padding: 1.5% 0 1% 0;
}

p.customerservice-left {
	text-align: left;
}
/* END */

/* delivery and returns */
.action-tabs .tabs-content {
    border: 1px solid #ddd;
    padding: 10px 20px;
    position: relative;
}

.action-tabs .tabs {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.action-tabs .tabs *[data-action="tab"] {
    border: 1px solid #ddd;
    border-bottom: 0;
    padding: 20px 14px;
    flex-grow: 1;
    margin: 0 0px;
    cursor: pointer;
    font-size: 1em;
    flex-basis: 200px;
    font-weight: bold;
    text-align: center;
}

.action-tabs .tabs *[data-action="tab"]:hover {
    background: #f7f7f7;
}

.action-tabs .tabs *[data-action="tab"].active {
    background: #ddd;
}

.action-tabs .tabs-content > * {
    display: none;
}

.action-tabs .tabs-content > *.active {
    display: block
}

.delret-first {
    padding-top: 1.5%;
}

h2.delret-title {
    font-size: 1.7em;
    padding-top: 1%;
}

h3.delret-title {
    font-weight: 400;
    font-size: 1.4em;
    padding-top: 20px;
    margin-bottom: 5px;
}

ul.delret-list {
    list-style: none;
}
/* END */

/* Modern SLavery Page */

.modern-slavery-title {
	font-size: 300%; 
	font-family: $crimreg;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	padding: 3% 0 5% 0;
}

.modern-slavery-left {
	float: left;
	width: 44%;
	padding: 0 3%;
}

.modern-slavery-copy {
	font-size: 14px;
	line-height: 19px;
	color: #000;
	padding-bottom: 8%;
}

.modern-slavery-btn-container {
    display: block;
}

.modern-slavery-btn {
	color: #ffffff;
	font-size: 16px;
	background: #8996a2;
	padding: 15px 20px 15px 20px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	display: inline-block;
}

.modern-slavery-btn:hover {
	background: #727c85;
}

a:link, a:visited, a:hover, a:active .modern-slavery-btn {
    text-decoration: none;
}

.modern-slavery-img {
	float: left;
	width: 47%;
	padding: 0 3% 0 0;
}

.modern-slavery-clear {
	clear: both;
}

@media only screen and (max-width:800px) {
	.modern-slavery-title {
		font-size: 200%;
	}

	.modern-slavery-left {
		float: none;
		width: 96%;
		padding: 0 2%;
	}

	.modern-slavery-img {
		float: none;
		width: 96%;
		padding: 5% 2% 0 2%;
	}
}

/* END */


/* Unsubscribe form */
iframe.unsubscribe {
	border: 0;
	width: 100%;
	padding-top: 2%;
}
/* END */

/* contact us wufoo form */
#wufooFormzcppv9q1o0smos {
	height: 1000px;
}
/* END */

/* Success Message */
.successmessage {
    text-align: center;
    background: #008000;
    color: #fff;
    padding: 2% 0;
    font-size: 16px;
}
/* END */

/* Form error scroll */
.redeye-form .invalid {
    border: 2px solid #ff0000;
}
.redeye-form .popup{
	color:#ff0000;
}
/* END */

/* Price Match Promise */
.cms-price-match-promise .action-tabs .tabs *[data-action="tab"].active {
	background: #fff;
	border: 1px solid #000;
	border-bottom: 0;
}

.cms-price-match-promise .action-tabs .tabs *[data-action="tab"] {
	border: 0;
	border-bottom: 1px solid #000;
}

.cms-price-match-promise .action-tabs .tabs-content {
	border: 0;
}

.helppagesright span {
	font-weight: bold;
	font-size: 16px;
	display: block;
}

.pmp-intro {
	margin-bottom: 4%;
}

.pmp-intro span {
	text-align: center;
}

.pmp-intro span:first-of-type {
	font-family: $crimreg;
	font-weight: 300;
	font-size: 22px;
	letter-spacing: 2px;
	margin-bottom: 2%;
}

.pmp-intro span:first-of-type:before {
	background: url(https://cdn.craghoppers.com/img/AW17/UK/misc/tick/Tick-Black.png);
	background-repeat: no-repeat;
	content: '';
	display: inline-block;
	width: 35px;
	height: 35px;
	background-size: 100%;
	vertical-align: middle;
	margin-right: 10px;
}

.pmp-intro span:last-of-type {
	margin-bottom: 2%;
}

#pmpcall {
	text-align: center;
}

#pmpcall button {
	text-align: center;
	background: #F6AB00;
	border: 1px solid #F6AB00;
	color: #fff;
	width: 350px;
	padding: 0.5% 0;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: bold;
}

#pmpcall p {
	font-weight: bold;
}

.pmp-terms {
	font-style: italic;
}

.pmp-terms ul {
	margin: 0;
}

.pmp-terms ul li:before {
	content: '-';
	margin-right: 5px;
}

.pmp-terms ul li {
	padding: 0;
	line-height: 1.5;
}

.cms-price-match-promise .action-tabs .tabs-content {
	padding: 5% 0;
}

#pmpform form {
	width: 75%;
}

#pmpform form button {
	float: left;
	margin-top: 3%;
}
/* END */