/* UTC Fonts */

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(https://cdn.craghoppers.com/fonts/montserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(https://cdn.craghoppers.com/fonts/montserrat/Montserrat-Medium.otf);
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url(https://cdn.craghoppers.com/fonts/montserrat/Montserrat-Light.otf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(https://cdn.craghoppers.com/fonts/montserrat/Montserrat-Bold.otf);
}

$montreg: 'Montserrat-Regular', Helvetica, Arial, sans-serif;
$montmed: 'Montserrat-Medium', Helvetica, Arial, sans-serif;
$montlight: 'Montserrat-Light', Helvetica, Arial, sans-serif;
$montbold: 'Montserrat-Bold', Helvetica, Arial, sans-serif; 



/* Film Awards Fonts */

@font-face {
    font-family: 'Gotham-Black';
    src: url(https://cdn.craghoppers.com/fonts/gotham/Gotham-Black.otf);
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url(https://cdn.craghoppers.com/fonts/gotham/Gotham-Bold.otf);
}

@font-face {
    font-family: 'Gotham-Book';
    src: url(https://cdn.craghoppers.com/fonts/gotham/Gotham-Book.otf);
}

@font-face {
    font-family: 'Gotham-Light';
    src: url(https://cdn.craghoppers.com/fonts/gotham/Gotham-Light.otf);
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url(https://cdn.craghoppers.com/fonts/gotham/Gotham-Medium.otf);
}

@font-face {
    font-family: 'Gotham-MediumItalic';
    src: url(https://cdn.craghoppers.com/fonts/gotham/Gotham-MediumItalic.otf);
}

$gothblack: 'Gotham-Black', Helvetica, Arial, sans-serif;
$gothbold: 'Gotham-Bold', Helvetica, Arial, sans-serif;
$gothbook: 'Gotham-Book', Helvetica, Arial, sans-serif;
$gothlight: 'Gotham-Light', Helvetica, Arial, sans-serif;
$gothmed: 'Gotham-Medium', Helvetica, Arial, sans-serif; 
$gothmedit: 'Gotham-MediumItalic', Helvetica, Arial, sans-serif; 

/* SS18 Fonts */

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('https://cdn.craghoppers.com/fonts/open_sans/OS/os-bold/OpenSans-Bold.eot');
  src: url('https://cdn.craghoppers.com/fonts/open_sans/OS/os-bold/OpenSans-Bold.woff2') format('woff2'),
       url('https://cdn.craghoppers.com/fonts/open_sans/OS/os-bold/OpenSans-Bold.woff') format('woff'),
       url('https://cdn.craghoppers.com/fonts/open_sans/OS/os-bold/OpenSans-Bold.ttf') format('truetype'),
       url('https://cdn.craghoppers.com/fonts/open_sans/OS/os-bold/OpenSans-Bold.otf') format('otf'),
       url('https://cdn.craghoppers.com/fonts/open_sans/OS/os-bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('https://cdn.craghoppers.com/fonts/open_sans/OS/os-light/OpenSans-Light.eot');
  src: url('https://cdn.craghoppers.com/fonts/open_sans/OS/os-light/OpenSans-Light.woff2') format('woff2'),
       url('https://cdn.craghoppers.com/fonts/open_sans/OS/os-light/OpenSans-Light.woff') format('woff'),
       url('https://cdn.craghoppers.com/fonts/open_sans/OS/os-light/OpenSans-Light.ttf') format('truetype'),
       url('https://cdn.craghoppers.com/fonts/open_sans/OS/os-light/OpenSans-Light.otf') format('otf'),
       url('https://cdn.craghoppers.com/fonts/open_sans/OS/os-light/OpenSans-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('https://cdn.craghoppers.com/fonts/open_sans/OS/os-regular/OpenSans-Regular.eot');
  src: url('https://cdn.craghoppers.com/fonts/open_sans/OS/os-regular/OpenSans-Regular.woff2') format('woff2'),
       url('https://cdn.craghoppers.com/fonts/open_sans/OS/os-regular/OpenSans-Regular.woff') format('woff'),
       url('https://cdn.craghoppers.com/fonts/open_sans/OS/os-regular/OpenSans-Regular.ttf') format('truetype'),
       url('https://cdn.craghoppers.com/fonts/open_sans/OS/os-regular/OpenSans-Regular.otf') format('otf'),
       url('https://cdn.craghoppers.com/fonts/open_sans/OS/os-regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

$osbold: "OpenSans-Bold", Helvetica, Arial, sans-serif;
$osreg: "OpenSans-Regular", Helvetica, Arial, sans-serif;
$oslight: "OpenSans-Light", Helvetica, Arial, sans-serif; 

@font-face {
  font-family: 'CrimsonText-Bold';
  src: url('https://cdn.craghoppers.com/fonts/crimson/crimson/crimson-bold/CrimsonText-Bold.eot');
  src: url('https://cdn.craghoppers.com/fonts/crimson/crimson/crimson-bold/CrimsonText-Bold.woff2') format('woff2'),
       url('https://cdn.craghoppers.com/fonts/crimson/crimson/crimson-bold/CrimsonText-Bold.woff') format('woff'),
       url('https://cdn.craghoppers.com/fonts/crimson/crimson/crimson-bold/CrimsonText-Bold.ttf') format('truetype'),
       url('https://cdn.craghoppers.com/fonts/crimson/crimson/crimson-bold/CrimsonText-Bold.svg#CrimsonText-Bold') format('svg'),
       url('https://cdn.craghoppers.com/fonts/crimson/crimson/crimson-bold/CrimsonText-Bold.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.craghoppers.com/fonts/crimson/crimson/crimson-bold/CrimsonText-Bold.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CrimsonText-Regular';
  src: url('https://cdn.craghoppers.com/fonts/crimson/crimson/crimson-regular/CrimsonText-Regular.eot');
  src: url('https://cdn.craghoppers.com/fonts/crimson/crimson/crimson-regular/CrimsonText-Regular.woff2') format('woff2'),
       url('https://cdn.craghoppers.com/fonts/crimson/crimson/crimson-regular/CrimsonText-Regular.woff') format('woff'),
       url('https://cdn.craghoppers.com/fonts/crimson/crimson/crimson-regular/CrimsonText-Regular.ttf') format('truetype'),
       url('https://cdn.craghoppers.com/fonts/crimson/crimson/crimson-regular/CrimsonText-Regular.svg#CrimsonText-Regular') format('svg'),
       url('https://cdn.craghoppers.com/fonts/crimson/crimson/crimson-regular/CrimsonText-Regular.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.craghoppers.com/fonts/crimson/crimson/crimson-regular/CrimsonText-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

$crimbold: "CrimsonText-Bolds", Helvetica, Arial, sans-serif;
$crimreg: "CrimsonText-Regular", Helvetica, Arial, sans-serif;