/* Mega Menu */
.mm__container {
  width: 1228px;
  margin: 0 auto;
}

.s-main-menu .category-items .mm__column {
  width: 20%;
  float: left;
  margin-left: 0;
  text-align: left;
  list-style-type: none;
}

.mm__column a {
  text-decoration: none;
}

.mm__column h3 {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 2;
  text-transform: none;
}

.columnHead {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5%;
}

.mm__column img {
  margin-top: 5%;
}

.mm__column--lookbook a {
  padding: 0;
  line-height: 1;
}

.mm__column--lookbook li {
  float: left;
  width: 100%;
}

.mm__column--lookbook li.sub-cat {
  float: left;
  margin-left: 7%;
  width: auto;
}

.s-main-menu .block .category-items ul.hidden-sub-cat {
  float: left;
  padding: 0;
  min-width: 200px;
}

.mm__column--lookbook span {
  float: left;
}

.s-main-menu .category-items .mm__column.mm__column--lookbook {
  width: 50%;
}

.s-main-menu .category-items .mm__column.mm__column--lookbook-img {
  width: 25%;
}

.mm__column a {
  line-height: 1;
}

@media only screen and (max-width:740px) {
  .s-main-menu .category-items .mm__column {
    width: 100%;
  }

  .mm__column img {
    margin-top: 0;
    width: auto;
  }

  .columnHead {
    margin-left: 1%;
  }

  .mm__column--img {
    display: none;
  }

    .ui-state-active {
    background-color: #eeeeee;
    width: 100%;
    margin-left: 0 !important;
    padding-left: 10px !important;
  }

}

.s-main-menu .categories ul.mm__column li a {
  text-align: left;
  color: #666 !important;
}

/* Insect Repellent Mega Menu */
.s-main-menu .block .mmrow--nosilife {
  width: 50%;
  margin-top: 3%;
  text-align: left;
}

.s-main-menu .block .mmrow.mmrow--nosilife-image {
  float: right;
  width: auto;
  padding-bottom: 3%;
  padding-right: 3%;
  margin-top: 3%;
}

.s-main-menu .block .mmrow--nosilife ul.mmlist {
  padding-left: 0;
}

.mmrow--nosilife .mmrow__header {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 2%;
}

ul.mmlist {
  padding-bottom: 8%;
}

ul.mm__column.mm__column--nosilife-fom.expanded {
  width: 100%;
  padding-left: 0;
}

li.dropdown.dropdown--red a {
  color: #ff0000;
}

.s-main-menu .mm__container--insectrepellent .mm__column--img{
  float: right;
  width: auto;
  padding: 0;
}

.s-main-menu .category-items .mm__column.mm__column--extend{
  width: auto;
}

.s-main-menu .category-items .whatisnosilife{
  margin-top:11%; 
}

@media only screen and (max-width:1000px) {
  .s-main-menu .block .mmrow--nosilife ul.mmlist {
    padding-bottom: 2%;
  }

}

@media only screen and (max-width:770px) {
  .mm__column img {
    margin-top: 0;
    width: auto;
  }

  .columnHead {
    margin-left: 1%;
  }

  .s-main-menu .category-items .mm__column,
  .s-main-menu .category-items .mm__column.mm__column--lookbook {
    width: 33%;
  }

  .mmLookbookColumn li {
    padding-right: 12px;
  }

  .hidden-sub-cat {
    opacity: 1 !important;
    width: 100%;
  }

  .mm__column.mm__column--img,
  .mmLookbookColumn:nth-child(3),.s-main-menu .category-items .mm__column.mm__column--lookbook-img {
    display: none;
  }

  .mmLookbookColumn--links {
    width: 90%;
  }

  .mm__column--lookbook li.sub-cat {
    margin-left: 1%;
    width: 100%;
    display: inline-block;
  }

  .mm__column--lookbook span {
    margin-left: 1%;
    color: #666;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 2%;
  }

  .s-main-menu .categories ul.mm__column li.sub-cat a {
    margin-left: 0;
  }

  .s-main-menu .category-items .mm__column.mm__column--extend {
    width: 100%;
  }

  .s-main-menu .category-items .whatisnosilife {
    margin-top: 0;
  }

}

/* centre align nav */
.s-main-menu .categories>li {
  text-align: center;
  display: inline-block;
  padding-right: 0.1%;
}

.s-main-menu .categories {
  display: table;
  margin: 0 auto;
  text-align: center;
}

.s-main-menu {
  position: relative;
}

.shopall {
  display: none;
}

@media screen and (max-width:500px) {
  .s-main-menu .categories > li {
    text-align: left;
    display: block;
  }

  .s-main-menu .category-items .mm__column,
  .s-main-menu .category-items .mm__column.mm__column--lookbook {
    width: 100%;
  }

  .shopall {
    display: block;
  }

}

/* END */