/* Mega Menu */
.mm__container {
  width: 1228px;
  margin: 0 auto;
}

.s-main-menu .category-items .mm__column {
  width: 20%;
  float: left;
  margin-left: 0;
  text-align: left;
  list-style-type: none;
}

.mm__column a {
  text-decoration: none;
}

.mm__column h3 {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 2;
  text-transform: none;
}

.columnHead {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5%;
}

.mm__column img {
  margin-top: 5%;
}

.mm__column--lookbook a {
    padding: 0;
    line-height: 1;
}

.mm__column--lookbook li {
    float: left;
    width: 100%;
}

.mm__column--lookbook li.sub-cat {
    float: left;
    margin-left: 7%;
    width: auto;
}

.s-main-menu .block .category-items ul.hidden-sub-cat {
    float: left;
    padding: 0;
    min-width: 200px;
}

.mm__column--lookbook span {
    float: left;
}

.s-main-menu .category-items .mm__column.mm__column--lookbook {
    width: 50%;
}
.s-main-menu .category-items .mm__column.mm__column--lookbook-img {
    width: 25%;
}

@media only screen and (max-width:740px) {
  
  .s-main-menu .category-items .mm__column {
    width: 100%;
  }

  .mm__column img {
    margin-top: 0;
    width: auto;
  }

  .columnHead {
    margin-left: 1%;
  }

  .mm__column--img{
    display: none;
  }

}

.s-main-menu .categories ul.mm__column li a {
    text-align: left;
}