/* *********** START *********** */

/* **** MICROSITE STYLES **** */

/* All prefixed with micro- to avoid leakage */

/* Do not use micro- prefix classes anywhere other than Microsite pages */

/* Refactor/rename if layout/style is needed again */

.micro-megaMenu {
	height: 140px;
	background: #fff;
	width: 106%;
	margin-left: -3%;
}

.micro-megaMenu ul span {
	font-weight: 400 !important;
	font-size: 13px !important;
	color: #333 !important;
}

/* Targeting a class on the body like this is clearly bonkers. Access to all markup needed */
.cms-nosilife .breadcrumbs,
.cms-what-is-nosilife .breadcrumbs,
.cms-nosilife-facts .breadcrumbs,
.cms-a-nosilife-story .breadcrumbs {
	display: none;
}

.cms-nosilife .main-container,
.cms-what-is-nosilife .main-container,
.cms-nosilife-facts .main-container,
.cms-a-nosilife-story .main-container {
	max-width: 100%;
}

.cms-nosilife .col-main,
.cms-what-is-nosilife .col-main,
.cms-nosilife-facts .col-main,
.cms-a-nosilife-story .col-main {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.cms-nosilife .col-main *,
.cms-what-is-nosilife .col-main *,
.cms-nosilife-facts .col-main *,
.cms-a-nosilife-story .col-main * {
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.micro-sectionContainer {
	display: table;
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
}

.micro-sectionContainer strong {
	font-weight: 700;
	font-weight: 400;
}

/* fixed width sidebar */
.micro-sideBar {
	display: table-cell;
	width: 230px;
	padding-right: 16px;
	vertical-align: top;
}

.micro-sidebar__logo {
	padding: 30px 20px 0;
	background-color: #e7e6e4;
	margin: 0;
	font-size: 32px;
}

.micro-sidebar__logo span {
	font-weight: 700;
}

.micro-sidebar__tagline {
	font-size: 12px;
	background-color: #e7e6e4;
	padding: 0 20px 30px 20px;
	margin-bottom: 0;
}

.micro-sideNav {
	padding: 0 20px;
	font-size: 16px;
	background-color: #e7e6e4;
	margin: 0;
}

.micro-sideNav__item {
	font-weight: 700;
	font-size: 16px !important;
	text-transform: uppercase;
	padding: 24px 8px;
	border-top: 1px #000 solid;
}

.micro-sideNav--subNav {
	list-style: none outside !important;
	margin: 0;
}

.micro-sideNav--subNav .micro-sideNav__item {
	color: #999;
	padding: 0 0 6px;
	border: none;
	font-size: 14px;
	text-transform: none;
	font-size: 14px !important;
}

.micro-sideNav--subNav .micro-sideNav__item:first-child {
	padding-top: 12px;
}

.micro-sideNav__item--current {
	text-decoration: underline;
}

.micro-sideNav__image {
	margin-top: 16px;
	width: 100%;
}

.micro-sideNav__item a,
.micro-sideBar a {
    text-decoration: none;
}


/* abandoned base modifier approach due to more differences than similarities in designs */
.micro-hero {
	display: table-cell;
	background-size: cover !important;
	vertical-align: top;
	position: relative;
}

.micro-hero--home {
	background: url('https://cdn.craghoppers.com/img/SS17/UK/page/nosilife_microsite/nosilife-mainpage_hero.jpg') no-repeat top right;
	color:#fff;
}

.micro-hero--what {
	background: url('https://cdn.craghoppers.com/img/SS17/UK/page/nosilife_microsite/nosilife-whatisnosilife_hero.jpg') no-repeat top right;
}

.micro-hero--facts {
	background: #7f7a77;
}

.micro-hero--story {
	background: url('https://cdn.craghoppers.com/img/SS17/UK/page/nosilife_microsite/nosilife-thesolution_hero.jpg') no-repeat top right;
}

.micro-hero--innercontainer {
    float: left;
    width: 47%;
    margin-left: 5%;
    clear: both;
}

.micro-hero--innercontainer .micro-hero__subtext {
    margin-left: 0% !important;
    width:100%;
}

.micro-hero--home cite.micro-hero__citation {
    border-color: #fff;
}

.micro-hero--home .micro-hero--innercontainer {
    color: #fff;
}

@media screen and (max-width:1100px) {
	.micro-hero {
		background-position: top right -12vw;
	}
	.micro-hero--what {
	    background-position: top right -8vw;
	}
	.micro-hero--story {
	    background-position: top right -12vw;
	}

}

@media screen and (max-width:940px) {
	.micro-hero {
		background-position: top right -24vw;
	}

	.micro-hero--what {
	    background-position: top right -8vw;
	}

	.micro-hero--story {
	    background-position: top right -12vw;
	}

}

@media screen and (max-width:768px) {
	.micro-sideBar {
		display: block;
		width: 100%;
		padding-right: 0;
		text-align: center;
		margin-bottom: 5vw;
	}

	.micro-sideNav__image {
		display: none;
	}

	.micro-hero {
		display: block;
		width: 100%;
		float: left;
		background-position: top right -30vw;
		min-height: 80vw;
		margin-bottom: 0;
		padding-bottom: 5%;
	}

	.cms-nosilife .micro-hero {
	    background-position: top right 0vw;
	    background-size: cover;
	}

	.micro-hero--facts,
	.micro-hero--story {
		height: auto;
		max-height: 20000px;
	}

	.micro-shop,
	.micro-blog,
	.pageTextBlock--social {
		display: none;
	}

	.micro-hero--what{
	    background-position: top right -11vw;
	}

	.micro-hero--story {
	    background-position: top right -23vw;
	}



}

@media screen and (max-width:560px) {
	.micro-hero {
		background-position: top left -5vw;
		background-size: 140%;
	}

	.micro-hero--story.micro-hero {
	    background-size: 106%;
	}

	.micro-hero__logo {
		width: 75px;
	}

		.micro-hero--what{
	    background-position: top right -5vw !important;
	}

}

@media screen and (max-width:525px) {
	.micro-hero--story.micro-hero--story {
		background: url('https://cdn.craghoppers.com/img/SS17/UK/page/nosilife_microsite/NosiLifeMicrosite-Mobile-AStory-Fin.jpg') no-repeat top right;
		background-size: cover;
	}

	.micro-hero--what {
		background: url('https://cdn.craghoppers.com/img/SS17/UK/page/nosilife_microsite/NosiLifeMicrosite-Mobile-WhatIsNosiLife-Fin.jpg') no-repeat top left;
		background-size: cover;
	    background-position: center center !important;
	}

	.micro-hero--home {
    	background: url('https://cdn.craghoppers.com/img/SS17/UK/page/nosilife_microsite/NosiLifeMicrosite-Mobile-MainPage-Fin.jpg') no-repeat top right;
	}

	.micro-sidebar__tagline {
    	font-size: 2.5vw;
	}

	.micro-hero__title {
    	width: 74%;
    	margin: 0 0 1vw 0;
	}

	.micro-hero__subtitle {
    	margin-left: 0;
	}

}

@media screen and (max-width:400px) {
	.micro-hero {
    	background-position: top right -65vw;
	}

	.micro-hero--story {
    	background-position: top right -35vw;
	}

}

.micro-hero__logo {
	margin: 5% 5% 2vw 5%;
	float:left;
}

.micro-hero--facts .micro-hero__logo {
	float: left;
	width: 11%;
	min-width: 60px;
}

.micro-hero__headingContainer {
	float: left;
	width: 100%;
}

.micro-hero__title,
.micro-hero__subtitle {
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
}

.micro-hero__title--white,
.micro-hero__subtitle--white,
.micro-hero__subtext--white,
.micro-hero__quote--white,
.micro-hero__citation--white {
	color: #fff;
}

.micro-hero__title {
	font-size: 2.8vw;
    width: 46%;
    line-height: 1.3;
    margin: 0 0 1vw 8%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.micro-hero--what .micro-hero__title,
.micro-hero--story .micro-hero__title {
    width: 100%;
}

.micro-hero__title--white {
    margin: 0 0 1vw 0;
}

.micro-hero__title--facts {
	float: left;
	margin-top: 5%;
	line-height: 1.2;
	width: auto !important;
}

.micro-hero__title--facts span {
	font-size: 58px;
	padding-right: 120px;
	background: url('//d1khwdv4lze0nb.cloudfront.net/images/SS16/nosilife/Mosquito.png') no-repeat right;
}

@media screen and (max-width:960px) {
	.micro-hero__title--facts span {
		font-size: 5.4vw;
		background: none;
		padding-right: 0;
	}

}

@media screen and (max-width:740px) {
	.micro-hero__title--facts span {
		font-size: 42px;
	}

}

.micro-hero__subtitle {
	text-transform: uppercase;
	font-size: 1.8vw;
	margin-left: 8%;
	line-height: 1.5;
}

.micro-hero--home .micro-hero__subtitle {
    margin-left: 0;
}

.micro-hero--home .micro-hero__title {
    margin: 0 0 1vw 0;
}

.micro-hero__subtext {
	margin-left: 5% !important;
	width: 40%;
	font-size: 18px;
	font-weight: 300;
}

@media screen and (max-width:1023px) {
	.micro-hero__subtext {
		width: 54%;
	}

}

@media screen and (max-width:840px) {
	.micro-hero__subtext {
		width: 64%;
		font-size: 16px;
	}

}

.micro-hero--facts .micro-hero__subtext {
	width: 90% !important;
}

.micro-hero__infographicRow {
	padding: 2.4% 0;
	margin: 0 5%;
	border-bottom: 2px #fff dashed;
	float: left;
	width: 90%;
}

.micro-hero__infographicRow--topRow {
	border-top: 2px #fff dashed;
}

.micro-hero__infographic {
	float: left;
	width: 25%;
	border-right: 2px #fff dashed;
}

@media screen and (max-width:668px) {
	.micro-hero__infographic {
		width: 50%;		/*border-right: none;*/
		margin-bottom: 2.4%;
	}

	.micro-hero__infographic:nth-child(2) {
		border-right: none;
	}

}

.micro-hero__infographic:last-child {
	border-right: none;
}

.micro-hero__infographic--fullWidth {
	width: 96%;
}

.micro-hero__quoteContainer {
	position: absolute;
	bottom: 5%;
	left: 8%; 
	width: 32%;
}

.micro-hero__quote {
	font-size: 22px;
	margin-bottom: 24px;
	letter-spacing: 1px;
}

.micro-hero--story .micro-hero__quote {
	text-transform: uppercase;
	font-size: 16px;
}

.micro-hero__citation {
	text-transform: uppercase;
	padding-top: 12px;
	border-top: 2px #000 solid;
}

.micro-hero__citation--white {
	border-top: 2px #fff solid;
}

.micro-hero--story .micro-hero__citation {
	font-size: 26px;
}

@media screen and (max-width:787px) {
	.micro-hero__quote,
	.micro-hero__citation {
		display: none;
	}

}

.micro-hero__arrow {
	position: fixed;
	bottom: 48px;
	right: 5%;
}

@media screen and (min-width:1200px) {
	.micro-hero__arrow {
		left: 50%;
	}

}

.micro-video {
	display: none;
}

.micro-quote--border {
	border-top: 1px #999 solid;
}

.micro-details__column {
	width: 50%;
	padding: 3vw 5%;
	float: left;
}

.micro-details__text {
	line-height: 1.5;
}

.micro-details__text:last-child {
	margin-bottom: 0 !important;
}

.micro-details__text--tagline {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: .5px;
	margin-top: 48px !important;
}

.micro-details__column hr {
	width: 42%;
	color: #000;
	margin-bottom: .5em;
}

.micro-details__heading {
	padding-top: 12px;
}

.micro-details__heading--wLogo {
	background: url('//d1khwdv4lze0nb.cloudfront.net/images/SS16/nosilife/NosiLifeLogo_114x114px.jpg') no-repeat 0 0;
	background-size: 48px;
	padding: 0 0 0 56px;
	min-height: 48px;
}

.micro-details__heading--wNDLogo {
	background-image: url('//d1khwdv4lze0nb.cloudfront.net/images/SS16/nosi-defence-02.jpg');
}

@media screen and (max-width:860px) {
	.micro-details__heading {
		font-size: 16px;
	}

}

.micro-collection {
	display: table;
	width: 100%;
	max-width: 1260px;
	margin-top: 1.5em;
}

.micro-collection__verticalBanner,
.micro-collection__collectionArea {
	display: table-cell;
	vertical-align: top;
}

.micro-collection__verticalBanner {
	background: url('https://cdn.craghoppers.com/img/SS17/UK/page/nosilife_microsite/NosiMicrosite-TheColution-VerticalBanner-Women.jpg') no-repeat;
	width: 214px;
	max-width: 214px;
}

.micro-collection__verticalBanner--kids {
	background: url('https://cdn.craghoppers.com/img/SS17/UK/page/nosilife_microsite/NosiMicrosite-TheColution-VerticalBanner-Kids.jpg') no-repeat;
}

.micro-collection__collectionArea {
	background: #ececec;
	border-left: 16px #fff solid;
}

.micro-collection__intro {
	display: table;
	width: 100%;
}

.micro-collection__heading,
.micro-collection__copy {
	display: table-cell;
	vertical-align: middle;
	padding: 2vw 0;
}

.micro-collection__mobileH1 {
	display: none;
}

.micro-collection__heading {
	text-align: center;
	width: 36%;
	font-size: 22px;
	text-transform: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #777;
}


.micro-collection__copy {
	font-size: 24px;
	padding-left: 1%;
	padding-right: 5%;
	color: #777;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.micro-collection__productArea {
    width: 100%;
    float: left;
}

.micro-collection__productsContainer, .micro-collection__banner {
    vertical-align: top;
    float: left;
    width: 100%;
    text-align: center;
}

.micro-product {
    width: 37%;
    float: none;
    text-align: center;
    display: inline-block;
    margin: 0 auto 3vw auto;
}

.micro-product__image {
	width: 95%;
	margin-bottom: 12px;
}

.micro-product__name {
	text-align: center;
	padding: 0 5%;
	margin-bottom: 12px;
	height: 28px;
}

@media screen and (max-width:800px) {
	.micro-product {
	    width: 40%;
	}

	.micro-collection__heading,
	.micro-collection__copy {
		display: block;
		width: 100%;
		padding: 2vw 3% 0 3%;
		text-align: center;
	}

	.micro-product__name {
		height: 42px;
	}

}

.micro-product__description {
	padding: 0 5%;
	height: 54px;
}

.micro-product__price {
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 3vw;
}

a.micro-product__button {
	background-color: #802022;
	padding: 4% 12%;
	color: #fff !important;
	font-size: 17px;
	letter-spacing: 3px;
	font-weight: 700;
}

.micro-product__button:hover {
	background-color: #990000;
}

.micro-collection__banner {
	width: 38%;
	max-width: 319px;
	background-size: cover;
}

.micro-collection--mobile{
	display: none;
}

@media screen and (min-width:769px) and (max-width: 785px){
	.cms-nosilife .micro-hero--home {
	    padding-bottom: 40% ;
	}

}

@media screen and (min-width:1025px) {

	/* Seems like an odd thing to do, but is most reliable way of getting hover stuff to only work on non-touch devices. Once access to all code is possible we can do this better */
	.micro-product__description {
		display: none;
	}

	.micro-product:hover .micro-product__description {
		display: block;
		position: absolute;
		bottom: 3vw;
		left: 0;
		background: #fff;
		height: 70px;
		border: 1px #ccc solid;
		padding: 6%;
		width: 95%;
	}

	.micro-product:hover .micro-product__price {
		color: #fff;
	}

}

@media screen and (max-width:580px) {
	.micro-collection__productArea,
	.micro-collection__productsContainer {
		display: block;
		width: 100%;
	}

	.micro-collection__collectionArea {
		border-left: none;
	}

	.micro-collection__verticalBanner {
		display: none;
	}

	.micro-collection__heading {
		margin-bottom: 0;
		line-height: 1;
	}

	.micro-collection__copy {
		margin-top: 0;
	}

}

.micro-quote {
	margin-bottom: 0;
}

.micro-quote p {
	color: #666;
	font-size: 2.1vw;
	padding: 3vw 5vw;
	text-align: center;
	margin-bottom: 0 !important;
}

@media screen and (min-width:1141px) {
	.micro-hero__title {
		font-size: 30px;
    	width: 43%;
	}

	.micro-hero--innercontainer .micro-hero__title {
    	width: 93%;
    	margin-left:0;
	}

	.micro-hero__subtitle {
		width: 70%;
		font-size: 22px;
	}

	.micro-hero--home .micro-hero__subtitle {
	    width: 85%;
	}

	.micro-quote p {
		font-size: 25px;
	}

}

@media screen and (max-width:768px) {
	.micro-hero__title {
	    font-size: 3.6vw;
	    width: 65%;
	    margin-left: 8%;
	}

	.micro-hero__title.micro-hero__title--white {
	    margin: 0 0 1vw 0;
	    width: 100%;
	}

	.micro-hero__subtitle {
		font-size: 2.6vw;
	}

	.micro-hero__subtext {
		width: 54%;
	}

	.micro-hero__arrow {
		display: none;
	}

	.micro-quote p {
		text-align: left;
		padding: 2vw 5%;
	}

	.micro-quote p {
		font-size: 18px;
	}

	.micro-hero__subtitle {
    	margin-left: 8%;
	}

	.micro-sidebar__tagline {
    	font-size: 15px;
	}

	.micro-sidebar__logo {
    	font-size: 38px;
	}

	.micro-hero--home .micro-hero__title,
	.micro-hero--home .micro-hero__subtitle {
	    margin-left: 0;
	}

}

@media screen and (max-width:640px) {

	.micro-hero__subtext {
		width: 68%;
	}

	.micro-details__column {
		width: 100%;
	}

	.micro-hero__subtext.micro-hero__subtext--white {
	    width: 100% !important;
	}

}

@media screen and (max-width:580px) {

	.micro-product {
	    width: 50%;
	}

	.cms-a-nosilife-story .micro-collection__collectionArea {
    	display: none;
	}

	.micro-collection--mobile{
		display: block;
	}

	.micro-collection--mobile span {
	    width: 70%;
	    margin: 0 auto;
	    display: table;
	    text-align: center;
	    margin-bottom: 1%;
	    padding: 1%;
	    text-transform: uppercase;
	    font-weight: bold;
	    font-size: 18px;
	    background: #802022;
    	color: #fff;
	}

}

@media screen and (max-width:560px) {

	.micro-hero--what .micro-hero__title {
	    width: 100%;
	    margin: 3% 0;
	}

	.micro-hero--what .micro-hero--innercontainer,
	.micro-hero--story .micro-hero--innercontainer{
    	width: 85%;
	}

}

@media screen and (max-width:480px) {
	.micro-hero__subtext {
		width: 90%;
	}

}

@media screen and (max-width:400px) {
	.micro-hero__title {
		font-size: 18px;
		width: 100%;
	}

	.micro-hero__subtitle {
		font-size: 11px;
	}

}

.micro-inlineInfographic {
	margin-bottom: 0;
}

.micro-inlineInfographic__image {
	width: 50%;
	float: left;
}

.micro-inlineInfographic__image--circles {
	margin-left: -1%;
}

@media screen and (max-width:800px) {
	.micro-inlineInfographic__image {
		width: 100%;
	}

}

.micro-shop {
	background-color: #e7e6e4;
	padding-top: 2vw;
	padding-bottom: 2vw;
}

.micro-shop__block {
	width: 32%;
	margin-right: 2%;
	margin-bottom: 3vw;
	float: left;
}

.micro-shop__block:last-child {
	margin-right: 0;
}

.micro-shop__categoryName {
	text-align: center;
	text-transform: none;
	letter-spacing: 0;
}

.micro-shop__categoryImage {
	width: 100%;
}

@media screen and (max-width:768px) {
	.micro-shop {
		padding-top: 3vw;
	}

	.micro-shop__block {
		width: 42.5%;
	}

	.micro-shop__block:nth-child(2),
	.micro-shop__block:nth-child(4) {
		margin-left: 6%;
	}

	.micro-shop__block:nth-child(3) {
		margin-right: 0;
	}

}

.micro-blog,
.micro-photos {
	background-color: #e7eff2;
	padding-top: 2vw;
}

.micro-photos .pageSection__constraint {
	margin-bottom: 1vw;
}

.micro-photos__image {
	width: 31.66%;
	margin-right: 2%;
	margin-bottom: 2%;
}

.micro-photos__image:nth-child(3n) {
	margin-right: 0;
}

@media screen and (max-width:580px) {
	.micro-photos__image--desktopOnly {
		display: none;
	}

	.micro-photos__image {
		width: 48.5%;
	}

	.micro-photos__image:nth-child(5) {
		margin-right: 0;
	}

}

.micro-sectionContainer {
	max-width: 1260px;
}

.micro-sideNav {
	list-style: none outside !important;
	padding: 0 10px;
}

.micro-sideNav--subNav {
	list-style: none outside;
}

/* *********** END *********** */


/* *********** FILM PRIZE *********** */

.cms-filmprize .o-list-inline,
.cms-filmprize-about .o-list-inline,
.cms-filmprize-discover .o-list-inline,
.cms-filmprize-enter .o-list-inline,
.cms-filmprize-aboutcraghoppers .o-list-inline {
    display: none;
}
.FA-Logo {
	max-width: 170px;
}
.FA-SocialContainer,
.FA-NavContainer {
    text-align: right;
}
.FA-Social {
    padding: 7% 0 0 1%;
    display: inline-block;
}
.FA-NavItem {
    padding: 6% 0 0 3.5%;
    display: inline-block;
    font-family: $gothbold;
    color: #595c63;
    font-size: 16px;
}
.FA-NavItem a {
    color: #595c63;
}
.FA-NavItemBlue,
.FA-NavItemBlue a {
    color: #248393 !important;
    text-decoration: underline;
}
.FA-Banner {
    padding-top: 2%;
}
.FA-Main-Header {
    font-family: $gothbold;
    text-transform: uppercase;
    color: #000;
    font-size: 21px;
    padding: 2% 0 1% 0;
    letter-spacing: 1.5px;
}
.FA-Main-Header-Grey {
    font-family: $gothbold;
    text-transform: uppercase;
    color: #656565;
    font-size: 19px;
    padding: 1% 0;
}
.FA-Main-Copy {
    font-family: $gothbook;
    color: #000;
    font-size: 17px;
    padding: 0 23% 0 0;
}
.FA-Main-Copy a {
    text-decoration: underline;
}
.FA-Main-Copy-Small {
	font-family: $gothbook;
    color: #000;
    font-size: 15px;
    padding: 2% 23% 0 0;
}
.FA-Main-Copy-Italic {
    font-style: italic;
}
.FA-DiscoverFilm {
	padding-top: 1%;
	max-width: 234px;
}
ul.FA-list {
    list-style: none;
    font-family: $gothbook;
    color: #000;
    font-size: 18px;
    margin: 0;
}
ul.FA-list1 {
    float: left;
    padding-right: 20%;
}
.FA-SocialContainerMobile {
	display: none;
}

@media screen and (max-width: 1024px){
	.cms-filmprize .flex-item.col-2,
	.cms-filmprize-about .flex-item.col-2,
	.cms-filmprize-discover .flex-item.col-2,
	.cms-filmprize-enter .flex-item.col-2,
	.cms-filmprize-aboutcraghoppers .flex-item.col-2 {
        width: 20%;
    }
    .cms-filmprize .flex-item.col-10,
	.cms-filmprize-about .flex-item.col-10,
	.cms-filmprize-discover .flex-item.col-10,
	.cms-filmprize-enter .flex-item.col-10,
	.cms-filmprize-aboutcraghoppers .flex-item.col-10 {
        width: 80%;
    }
    .FA-Logo {
		max-width: 150px;
	}
}
@media screen and (max-width: 900px){
	.FA-NavItem {
	    padding: 6% 0 0 5%;
	    font-size: 16px;
	}
	.FA-Social {
    	padding: 10% 0 0 1%;
	}
}
@media only screen and (max-width:700px){
    .FA-Social {
        padding: 11% 0 0 1%;
    }
    .FA-NavItem {
    	padding: 5% 0 0 2%;
    	font-size: 14px;
	}
}
@media only screen and (max-width:770px){
    .FA-Social {
        padding: 11% 0 0 1%;
    }
    .FA-NavItem {
        padding: 6% 0 0 2%;
    }
    .FA-Main-Copy {
        padding: 0;
    }
}
@media only screen and (max-width:600px){
    .cms-filmprize .flex-item.col-2,
	.cms-filmprize-about .flex-item.col-2,
	.cms-filmprize-discover .flex-item.col-2,
	.cms-filmprize-enter .flex-item.col-2,
	.cms-filmprize-aboutcraghoppers .flex-item.col-2,
	.cms-filmprize .flex-item.col-10,
	.cms-filmprize-about .flex-item.col-10,
	.cms-filmprize-discover .flex-item.col-10,
	.cms-filmprize-enter .flex-item.col-10,
	.cms-filmprize-aboutcraghoppers .flex-item.col-10 {
        width: 100%;
    }
    .FA-Logo {
    	margin: auto;
    }
    .FA-Logo,
    .FA-SocialContainer,
    .FA-NavContainer {
        text-align: center;
    }
    .FA-NavItem {
        padding: 2% 4.5% 0 4.5%;
        font-size: 16px;
    }
    .FA-Main-Header {
    	font-size: 18px;
    	letter-spacing: 1px;
	}
	.FA-Main-Header-Grey {
    	font-size: 16px;
    	letter-spacing: 1px;
	}
	.FA-Main-Copy {
    	font-size: 14px;
	}
	.FA-Social {
    	padding: 6% 0 1% 1%;
	}
	ul.FA-list {
    	font-size: 14px;
	}
	.FA-Logo {
		max-width: 120px;
	}
	.FA-SocialContainer {
		display: none;
	}
	.FA-SocialContainerMobile {
		display: block;
    	text-align: center;
	}
	.FA-MainContainer {
    	padding: 0 1%;
	}
	ul.FA-list1 {
    	float: none;
    	padding-right: 0;
	}
}

/* *********** END *********** */

.fp-Container h3 {
    background-color: #626262;
    color: #fff;
    font-family: $gothbold;
    font-size: 35px;
    padding: 35px;
    padding-left: 20px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: none;
    padding-right: 12%;
}

.fp-section {
    display: flex;
}

.fp-Container img{
	width:100%;
}

.fp-topleft{
	width:40%;
}

.fp-tophero{
	width:60%;
}

.fp-Container p{
	font-family: $gothbook;
}

.fp-story h4,
.fp-Container .fp-storySub{
	font-family: $gothbold;
}

.fp-Intro p {
    letter-spacing: 1px;
}

.fp-Intro {
    width: 100%;
    max-width: 352px;
    margin-left: 5%;
    margin-top: 7%;
}

.fp-story {
    width: 50%;
}

.fp-story div {
    margin-left: 3%;
}

.fp-story h4 span{
	display:flex;
}

.fp-story h4 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 1px;
}

.fp-storySub{
	text-transform:uppercase;
}

.fp-section:nth-child(2),
.fp-section:nth-child(3) {
    margin-top: 4%;
}

.fp-low {
    width: 42%;
    display: flex;
}

a:nth-child(2) .fp-CTA {
    margin: 0 20px;
}

.fp-CTA img {
    width: auto;
}

@media only screen and (max-width:1227px){
	.fp-low,
	.fp-low + div {
		width: 50%;
	}

}

@media only screen and (max-width:989px){

	.fp-low {
	    width: 100%;
	    display: block;
	}

	.fp-low .fp-CTA,
	.fp-CTA img,
	.fp-topleft,
	.fp-story {
    	width: 100%;
	}

	a:nth-child(2) .fp-CTA {
    	margin: 0;
	}

	.fp-low + div,
	.fp-tophero {
    	display: none;
	}

	.fp-Intro {
	    max-width: 100%;
	    margin-left: 0;
	    margin-top: 0%;
	    padding: 0 10px;
	}

	.fp-section {
    	display: block;
	}

	.fp-story div {
    	margin-left: 0;
	}

	.fp-story:last-of-type {
    	margin-top: 3%;
    	padding: 0 10px;
	}


}

/* *********** END *********** */


/* *********** CHOOSE YOUR ADVENTURE *********** */

/* choose home */
.cms-choose-your-adventure .breadcrumbs.c-breadcrumbs,
.cms-choose-your-adventure-escape .breadcrumbs.c-breadcrumbs,
.cms-choose-your-adventure-expedition .breadcrumbs.c-breadcrumbs,
.cms-choose-your-adventure-explore .breadcrumbs.c-breadcrumbs {
	display: none;
}
.cya-main-title {
	font-family: $crimreg;
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	padding: 3% 0 1% 0;
	letter-spacing: 3px;
}
.cya-main-copy {
	font-size: 16px;
	text-align: center;
	padding: 0 19% 1% 19%;
	color: #000;
}
.cya-title {
	font-family: $crimreg;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	line-height: 40px;
}
.cya-subtitle {
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	padding: 0 15%;
	color: #000;
}
.cya-copy {
	font-size: 16px;
	text-align: center;
	padding: 4% 10% 3% 10%;
	color: #000;
}
.cya-cta {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	padding: 2% 0 5% 0;
	color: #000;
}
.cya-cta span {
	text-decoration: underline;
}
@media screen and (max-width: 1024px) {
	.flex-item.col-4 {
    	width: 33.32%;
	}
	.cya-img {
    	min-height: 325px;
	}
	.cya-subtitle {
    	padding: 0 5%;
	}
}
@media screen and (max-width: 650px) {
	.flex-item.col-4 {
    	width: 99.9%;
    	margin: auto;
	}
	.cya-img {
		max-width: 375px;
    	margin: auto;
    	padding-top: 8%;
	}
	.cya-cta {
    	padding: 0 0 5% 0;
	}
	.cya-main-copy {
    	line-height: 22px;
	}
}
@media screen and (max-width: 400px) {
	.flex-item.col-4 {
    	width: 99.9%;
	}
	.cya-copy {
    	padding: 2%;
    	line-height: 20px;
	}
	.cya-img {
		padding-top: 3%;
		min-height: auto;
	}
	.cya-main-title {
	    font-size: 28px;
	    padding: 4% 0;
	    letter-spacing: 2px;
	    line-height: 38px;
	}
	.cya-main-copy  {
	    font-size: 15px;
	    padding: 0 2% 1% 2%;
	    line-height: 24px;
	}
}
/* choose landing */
.cyal-title {
	font-family: $crimreg;
	font-size: 36px;
	color: #000;
	padding-top: 4%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	line-height: 40px;
}
.cyal-subtitle {
	font-size: 22px;
	color: #000;
	padding-bottom: 3%;
	text-align: center;
	text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 26px
}
.cyal-topcopy {
	font-family: $crimreg;
	font-size: 24px;
	color: #000;
	line-height: 32px;
}
.cyal-topcopy-expedition {
	padding: 17% 0 7% 0;
}
.cyal-topcopy-explore {
	padding: 20% 0 7% 0;
}
.cyal-topcopy-escape {
	padding: 13% 0 7% 0;
}
.cyal-line {
	background-color: #000;
	height: 1px;
	width: 100%;
}
.cyal-bottomcopy {
	font-size: 16px;
	color: #000;
	padding: 7% 13% 0 0;
	line-height: 22px;
	font-family: $crimreg;
}
.cyal-header-mob,
.cyal-header-tablet {
	display: none;
}
.cyal-main {
	width: 100%;
	height: 564px;
	background-position: center center;
	background-size: cover;
}
.cyal-expedition {
	background-image: url("https://cdn.craghoppers.com/img/SS18/UK/page/adventure/expedition-desktop.jpg");
}
.cyal-explore {
	background-image: url("https://cdn.craghoppers.com/img/SS18/UK/page/adventure/explore-desktop.jpg");
}
.cyal-escape {
	background-image: url("https://cdn.craghoppers.com/img/SS18/UK/page/adventure/escape-desktop.jpg");
}
.cyal-inner {
	width: 32%;
	margin: auto;
}
.cyal-divide {
	font-family: $crimreg;
	color: #000;
  	font-size: 22px;
  	background: #f1e9e1;
  	text-decoration: none;
    max-width: 100%;
  	text-align: center;
  	margin: 3% 0 2% 0;
  	line-height: 30px;
}
.cyal-divide-expedition,
.cyal-divide-explore,
.cyal-divide-escape {
  	padding: 2% 30%;
}
.cyal-arrow {
	padding-top: 1%;
	text-align: center;
}
.cyal-title2 {
	font-family: $crimreg;
	font-size: 22px;
	text-align: center;
	color: #000;
}
.cyal-copy2 {
	font-size: 18px;
	text-align: center;
	padding: 3% 13%;
	color: #000;
}
.cyal-price {
    font-size: 24px;
    text-align: center;
    padding: 0 0 3% 0;
    color: #000;
    font-weight: bold;
}
.cyal-btn {
  	color: #fff;
  	font-size: 20px;
  	background: #3f413e;
  	padding: 10px 20px;
  	text-decoration: none;
  	text-transform: uppercase;
    max-width: 42%;
    margin: auto;
  	text-align: center;
  	margin-bottom: 10%;
}
.cyal-btn:hover {
  	background: #626561;
  	text-decoration: none;
}
.cyal-img {
    max-width: 445px;
    margin: auto;
}
.cyal-product {
    min-height: 315px;
}
.cyal-product2 {
    min-height: 285px;
}
.cyal-divide.cya-button {
    padding: 4%;
}
.flex-item.col-6.col-6btn{
    padding: 0;
}
@media screen and (max-width: 770px) {
	.cyal-inner {
    	width: 50%;
	}
	.cyal-divide-expedition,
	.cyal-divide-explore,
	.cyal-divide-escape {
  	padding: 2% 20%;
	}	
	.cyal-topcopy-expedition,
	.cyal-topcopy-explore,
	.cyal-topcopy-escape {
		padding: 2% 0 4% 0;
	}
	.cyal-title2 {
    	font-size: 24px;
    	line-height: 30px;
	}
	.cyal-copy2 {
    	line-height: 22px;
    	padding: 3% 7%;
	}
	.cyal-product {
    	min-height: auto;
	}
	.cyal-header-mob {
		display: none;
	}
	.cyal-header-tablet {
		display: block;
	}
	.cyal-main {
		background-image: none;
		height: auto;
	}
	.cyal-inner {
		width: 95%;
		margin: auto;
	}
	.cyal-bottomcopy {
	    font-size: 18px;
	    padding: 5% 20% 15px 0;
	    line-height: 20px;
	}
	.cyal-line {
    	width: 80%;
	}
}
@media screen and (max-width: 500px) {
	.cyal-header-mob {
		display: block;
	}
	.cyal-header-tablet {
		display: none;
	}
	.cyal-main {
		background-image: none;
		height: auto;
	}
	.cyal-topcopy {
	    font-size: 18px;
	    padding: 0 0 5% 0;
	    line-height: 24px;
	}
	.cyal-line {
		display: none;
	}
	.cyal-bottomcopy {
    	line-height: 19px;
	}
	.cyal-divide {
	    font-size: 18px;
	    line-height: 26px;
	    padding: 3% 5%;
	    margin: 1% 0;
	}
	.cyal-copy {
    	padding: 5%;
	}
	.cyal-title2 {
    	line-height: 30px;
    	padding: 0 5%;
	}
	.cyal-copy2 {
	    font-size: 16px;
	    padding: 3% 5%;
	    line-height: 21px;
	}
	.cyal-btn {
	  	font-size: 17px;
	  	padding: 8px 20px;
	}
	.cyal-img {
   	 	max-width: 80%;
	}
}

/* *********** END *********** */

/* SS18 Mid season Sale Start*/
.cms-mid-season-sale .breadcrumbs.c-breadcrumbs {
	display: none;
}

.midseasonsale-wrapper {
    display: inline-block;
}

.mss-innerwrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: table;
}

.mss-innerwrapper .flex-item.col-3,
.mss-hero {
    position: relative;
}

.flex-item.col-3.mss-scene:last-of-type {
    margin: 0;
}

.midseasonsale-wrapper .bannerOverlay__contents a {
    display: inline-block;
}

.midseasonsale-wrapper .mss-scene .bannerOverlay__contents a {
    display: block;
}

.mss-widewrapper {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.midseasonsale-wrapper picture img{
    width: 100%;
}

.mss-hero .bannerOverlay {
    height: 67%;
}

.mss-cta_button {
    width: 85%;
    margin: 0 auto;
    background: #f6ab00;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5%;
    padding: 1.5% 0;
    font-size: 16px;
    letter-spacing: 1px;
    border: 1px solid #f6ab00;
}

.mss-cta_button:hover {
    color: #f6ab00;
    background: #fff;
}

.mss-hero .mss-subtitle{
    font-family: $crimreg;
}

.mss-hero .mss-title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 22px;
    line-height: 1.3;
}

.mss-hero .mss-subtitle {
    font-family: $crimreg;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 28px;
    line-height: 1;
}

.mss-banner_subtitle {
    color: #f6ab00;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 28px;
    margin-bottom: 0;
}

.mss-hero .mss-subtitle span {
    display: none;
}

.flex-item.col-4.mss-hero:last-of-type {
    margin-bottom: 0;
}

.flex-container.mss-columnthree {
    margin-top: 20px;
}

.mss-hero .bannerOverlay.bannerOverlaymss {
    height: 61%;
}

.cms-mid-season .bannerOverlay__contentArea {
    padding-bottom: 10%;
}


@media only screen and (max-width:989px) {

    .mss-hero .mss-title {
        font-size: 18px;
        margin-top: -10%;
    }

    .mss-hero .mss-subtitle {
        font-size: 20px;
    }

    .mss-cta_button {
    	font-size: 12px;
	}

	.cms-mid-season .bannerOverlay__contentArea {
    	padding-bottom: 7%;
	}
}


@media only screen and (max-width:730px) {
	.mss-hero .mss-title {
        margin-top: -20%;
        font-size: 16px;
    }
    .mss-hero .mss-subtitle {
    	font-size: 17px;
	}

}


@media only screen and (max-width:650px) {
    .mss-cta_button {
    	font-size: 16px;
	}
    .mss-innerwrapper .flex-item.col-3.mss-scene {
        margin-bottom: 1%;
        width: 49.6%;
    }

    .flex-item.col-3.mss-scene:nth-child(2) {
        margin-right: 0;
    }

    .mss-hero .bannerOverlay,
    .mss-hero .bannerOverlay.bannerOverlaymss {
        height: 20vw;
    }

    .mss-hero .mss-title {
        display: none;
    }

    .mss-hero .mss-subtitle span {
        display: inline-block;
    }

    .mss-hero .mss-subtitle {
        font-size: 4vw;
    }

    .mss-cta a:first-of-type .mss-cta_button {
        margin-top: 0;
    }

    .mss-hero {
        margin-bottom: 6%;
    }

    .mss-cta {
    	margin: 2% 0 7% 0;
	}

	.cms-mid-season .bannerOverlay__contentArea {
    	padding-top: 9%;
    	padding-bottom: 0;
	}
}

/* SS18 Mid season Sale End*/