.c-product-size__link {
	font-weight: normal;
}

.c-product-details .product-info-stock-sku .value {
	float: none;
	text-align: left;
}
 
.c-icon--quantity-plus {
	background-image: url(https://cdn.craghoppers.com/img/SS17/UK/misc/icons/plus.svg) !important;
}

.c-icon--quantity-minus {
    background-image: url(https://cdn.craghoppers.com/img/SS17/UK/misc/icons/minus.svg)!important;
}

@media only screen and (max-width:770px){
	.c-qty__input {
	    width: 60px;
	}

}