#tech-image-wrapper img {
	width: auto;
}

.c-product-tile__btn {
	font-size: 1rem;
	background: #bbb;
	color: #343334;
	border: none;
	padding: 2px;
}

.u-heading-epsilon {
	line-height: 1.4;
}

@media only screen and (max-width:500px) {
	.s-text-banner {
		margin-top: 5%;
	}

}

/* Mobile SEO show/hide */

.category-view__description + button {
	display:none;
} 

@media only screen and (max-width:550px) {
	.category-view__description.active {
	    overflow: hidden;
	    max-height: 50px;
	} 

	.category-view__description + button {
	    border: 0;
	    display: table;
	    margin: 0 auto;
	    text-align: center;
	    background: #343334;
	    padding: 1% 6%;
	    color: #fff;
	    cursor: pointer;
	}

}
/* END */

/* Tick boxes */

body .c-checkbox-option__checkbox:after {
	margin: 1px;
}

body .c-checkbox-option__input:checked~.c-checkbox-option__checkbox {
	border: 2px solid #dfe0e1;
	background: #fff;
}

/* END */

/* Lower SEO */
.js-fredhopper-fredhopper-plp-seo-text-wrapper-placeholder div .s-text-banner.active {
    height: 110px;
    overflow: hidden;
}
.js-fredhopper-fredhopper-plp-seo-text-wrapper-placeholder div .s-text-banner.active.open {
    height: auto;
    overflow: auto;
}
.lower-seobttn-container .readmore {
    padding: 0.5% 0;
    margin-top: 0.5%;
}
/* END */


/*/////////////////////////*/
/*    Hides Quick Buy     */
/*/////////////////////////*/
.catalog-category-view .c-btn.c-btn--secondary.c-btn--expanded.c-product-tile__btn {
 display: none !important;
 }

.catalog-category-view .c-product-tile__img-wrapper {
  margin-bottom: 10px;
}

p.c-price__group.nowPrice span:before {
    content: 'Now: ';
}