#tech-image-wrapper img {
	width: auto;
}

.c-product-tile__btn {
	font-size: 1rem;
	background: #bbb;
	color: #343334;
	border: none;
	padding: 2px;
}


.u-heading-epsilon {
	line-height: 1.4;
}

