////////////////////////////
//Top level banners styles//
///////////////////////////

.categoryBanner {
	display: table;
	height: 285px;
	width: 100%;
	background: #fff;
}

.categoryBanner__image {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	width: 100%;
}

.categoryBanner__title {
	color: #fff;
	font-size: 64px;
	letter-spacing: 9px;
	line-height: 1em;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

.category-view__title {
	font-weight: 700;
	text-align: left;
}

.category-view__description {
	font-size: 12px;
	text-align: left;
}

.categorypath-men .categoryBanner__image,
.categorypath-herren .categoryBanner__image {
	background: url(https://cdn.craghoppers.com/img/SS17/UK/cat/top_level/TopLevel-Mens.jpg) no-repeat center;
}

.categorypath-women .categoryBanner__image {
	background: url(https://cdn.craghoppers.com/img/SS17/UK/cat/top_level/TopLevel-Womens.jpg) no-repeat center;
}

.categorypath-kids .categoryBanner__image,
.categorypath-kinder .categoryBanner__image {
	background: url(https://cdn.craghoppers.com/img/SS17/UK/cat/top_level/TopLevel-Kids.jpg) no-repeat center;
}

.categorypath-accessories .categoryBanner__image,
.categorypath- .categoryBanner__image {
	background: url(https://cdn.craghoppers.com/img/SS17/UK/cat/top_level/TopLevel-Accessories.jpg) no-repeat center;
}

.categoryBanner .categoryBanner__image.categoryBanner__image--discovery {
	background: url(https://cdn.craghoppers.com/img/SS17/UK/cat/top_level/TopLevel-Discovery.jpg) no-repeat center;
}

.categoryBanner .categoryBanner__image.categoryBanner__image--os {
	background: url(https://cdn.craghoppers.com/img/SS17/UK/cat/top_level/TopLevel-OS.jpg) no-repeat center;
}

/* Mobile SEO show/hide */
.seemore {
    margin: 0 auto;
    width: 200px;
    text-align: center;
    background: #e3e3e3;
    padding: 2% 0;
    margin-top: 1%;
}

p.category-view__description.category-description {
    display: block !important;
}

.category-view__title + .category-view__description .gradient{
	margin-top:-5.5%;
}

.seemore.toggle-removebttn,
.category-view__description + .category-view__description .gradient,
.gradient.gradient-toggle,
.mobileseo-container.close{
	display: none;
}

.mobileseo-container {
    margin-top: -7%;
} 


@media only screen and (max-width: 644px){
	p.category-view__description.first-description {
	    max-height: 50px;
	    overflow: hidden;
	}

	.mobileseo-container {
	    margin-top: -52px;
	}

}

@media only screen and (max-width: 375px){
	.category-view__title + .category-view__description .gradient {
	    margin-top: -12.5%;
	}
}

/* END */


@media only screen and (max-width:770px) {
	.categoryBanner {
		display: none;
	}

}