////////////////////////////
//Top level banners styles//
///////////////////////////
.plp-fleece{
	background-image: url("https://cdn.craghoppers.com/img/SS18/UK/cat/top_level/TopLevel-Fleece.jpg");
}
.plp-trousers{
	background-image: url("https://cdn.craghoppers.com/img/SS18/UK/cat/top_level/TopLevel-Trousers.jpg");
}
.plp-jackets{
	background-image: url("https://cdn.craghoppers.com/img/SS18/UK/cat/top_level/TopLevel-Jackets.jpg");
}
.plp-shirts{
	background-image: url("https://cdn.craghoppers.com/img/SS18/UK/cat/top_level/TopLevel-Shirts.jpg");
}
.plp-headerMens{
	background-image: url("https://cdn.craghoppers.com/img/SS18/UK/cat/top_level/TopLevel-Banners-Mens.jpg");
}
.plp-headerWomens{
	background-image: url("https://cdn.craghoppers.com/img/SS18/UK/cat/top_level/TopLevel-Banners-Womens.jpg");
}
.plp-headerKids{
	background-image: url("https://cdn.craghoppers.com/img/SS18/UK/cat/top_level/TopLevel-Banners-Kids.jpg");
}

.category-view__title {
    margin-bottom: 0;
    font-family: $crimreg;
}
.categorypath-men p.category-view__description,
.categorypath-women p.category-view__description,
.categorypath-womens p.category-view__description,
.categorypath-kids p.category-view__description,
.categorypath-accessories p.category-view__description,
.header-customclothing p.category-view__description {
    width: 59%;
    margin-bottom: 0;
} 

.header-customclothing{
	padding: 6% 0;
}
.plp-header {
    text-align: center;
    background-repeat: no-repeat;
    padding: 4.9% 0;
    background-size: cover;
    background-position: center;
}
.plp-header h1 {
    text-align: center;
    color: #000;
    font-family: $crimreg;
    margin-bottom: 2%;
    line-height: 1;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 300;
}
.plp-header a {
    margin: 0 2%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.plp-header.plp-toplevel h1 {
    margin-bottom: 0;
}

.plp-header.plp-toplevel {
    padding: 6.9% 0;
}

.category-view__description {
    width: 100% !important;
    font-size: 14px;
}

@media only screen and (max-width: 700px){
	
	.plp-fleece{
		background-image: url("https://cdn.craghoppers.com/img/SS18/UK/cat/top_level/TopLevel-BannersMobile-.jpg");
	}
	.plp-trousers{
		background-image: url("https://cdn.craghoppers.com/img/SS18/UK/cat/top_level/TopLevel-BannersMobile-Trousers.jpg");
	}
	.plp-jackets{
		background-image: url("https://cdn.craghoppers.com/img/SS18/UK/cat/top_level/TopLevel-BannersMobile-Jackets.jpg");
	}
	.plp-shirts{
		background-image: url("https://cdn.craghoppers.com/img/SS18/UK/cat/top_level/TopLevel-BannersMobile-Shirts.jpg");
	}
	.plp-headerMens{
		background-image: url("https://cdn.craghoppers.com/img/SS18/UK/cat/top_level/TopLevel-BannersMobile-Mens.jpg");
	}
	.plp-headerWomens{
		background-image: url("https://cdn.craghoppers.com/img/SS18/UK/cat/top_level/TopLevel-BannersMobile-Womens.jpg");
	}
	.plp-headerKids{
		background-image: url("https://cdn.craghoppers.com/img/SS18/UK/cat/top_level/TopLevel-BannersMobile-Kids.jpg");
	}
	.plp-header {
    	padding: 10% 0;
	}
	.plp-header.plp-toplevel {
    	padding: 13% 0;
	}
	.plp-header h1 {
	    font-size: 4.6vw;
	}
}

/* Mobile SEO show/hide */
.seemore {
    margin: 0 auto;
    width: 200px;
    text-align: center;
    background: #e3e3e3;
    padding: 2% 0;
    margin-top: 1%;
}

p.category-view__description.category-description {
    display: block !important;
}

.category-view__title + .category-view__description .gradient{
	margin-top:-5.5%;
}

.seemore.toggle-removebttn,
.category-view__description + .category-view__description .gradient,
.gradient.gradient-toggle,
.mobileseo-container.close{
	display: none;
}

.mobileseo-container {
    margin-top: -7%;
} 


@media only screen and (max-width: 644px){
	p.category-view__description.first-description {
	    max-height: 50px;
	    overflow: hidden;
	}

	.mobileseo-container {
	    margin-top: -52px;
	}

}

@media only screen and (max-width: 375px){
	.category-view__title + .category-view__description .gradient {
	    margin-top: -12.5%;
	}
}

/* PLP Show/Hide */
@media only screen and (max-width: 650px){
	.category-view__description {
	    height: auto;
	    overflow: hidden;
	}
	.category-view__description + button {
	    display: block !important;
	}
	.category-view__description.active {
    	height: 50px;
	}
	.category-view__description + button {
	    display: block;
	    margin: 0 auto;
	    background: #000;
	    border: #000;
	    color: #fff;
	    padding: 0.5% 50px;
	    margin-top: 1.5%;
	}

}
/* END */

