/* Trouser Campaign Styles */

.trou-vid-title {
    font-family: $crimreg;
    font-size: 32px;
    letter-spacing: 7px;
    padding: 3% 0;
    text-transform: uppercase;
    text-align: center;
}

.trou-vid-button-outer-container {
    background-color: #f3f3f3;
    min-height: 100px;
    text-align: center;
    padding: 2% 10%;
}

.trou-vid-button-container {

}

.trou-vid-button-mens,
.trou-vid-button-womens,
.trou-vid-button-kids {
    color: #fff;
    font-size: 16px;
    background: #000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 280px;
    float: left;
    text-align: center;
    text-transform: uppercase;
}

.trou-vid-button-mens:hover,
.trou-vid-button-womens:hover,
.trou-vid-button-kids:hover {
    background: #343334;
    text-decoration: none;
}

.trou-vid-padding {
    clear: both;
    height: 20px;
}

.videoSlide iframe{
    width: 100%;
    min-height: 500px;
}
.cms-the-trouserless-nightmare .flexslider .flex-direction-nav-trouser {
    display: block !important;
}

@media only screen and (max-width: 550px){
    .videoSlide iframe{
        min-height: 300px;
    }
    .trou-vid-button-mens, .trou-vid-button-womens, .trou-vid-button-kids {
        width: 100%; 
        margin-bottom: 1%;
    }

}
/* END */ 


/* Mens and Womens Trouser Page */
.trou-header-mob,
.wtrou-header-mob,
.trou-copy-mob {
    display: none;
}
.trou-header {
    background-image: url(https://cdn.craghoppers.com/img/AW17/UK/page/trouser-store/trousers-header.jpg);
    min-height:420px;
}
.wtrou-header {
    background-image: url(https://cdn.craghoppers.com/img/AW17/UK/page/trouser-store/wtrousers-header.jpg);
    min-height:420px;
}
.trou-title {
    color: #fff;
    font-family: $crimreg;
    text-transform: uppercase;
    font-size: 37px;
    padding: 79px 0 0 334px;
    line-height: 42px;
}
.trou-copy {
    color: #fff;
    font-size: 15px;
    padding: 79px 50px 0 30px;
    line-height: 24px;
}
.trou-box-title {
    font-family: $crimreg;
    font-size: 27px;
    text-transform: uppercase;
    text-align: center;
    padding: 4% 0;
    color: #000;
    letter-spacing: 4px;
}
.trou-box-copy {
    font-size: 19px;
    padding: 5% 15%;
    text-align: center;
    color: #000;
    background-color: #e5e5e5;
    line-height: 26px;
}
.trou-box-btn-container {
    background: #e5e5e5;
    height: 90px;
}
.trou-box-btn {
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    padding: 10px 20px 10px 20px;
    border: solid #000000 2px;
    text-decoration: none;
    background: #e5e5e5;
    width: 270px;
    margin: auto;
    font-weight: bold;
}
.trou-box-btn:hover {
    background: #cacaca;
    text-decoration: none;
 }
.trou-box-img {
    text-align: center;
}
.trou-box-imgtitle {
    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 0 4% 0;
    color: #000;
    font-weight: bold;
}
.trou-box-tech {
    padding: 0 0 4% 0;
    text-align: center;
}
.trou-box-prodbtn1,
.trou-box-prodbtn2,
.trou-box-prodbtn3 {
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 270px;
    margin: auto;
    font-weight: bold;
    color: #fff;
}
.trou-box-prodbtn1 a,
.trou-box-prodbtn2 a, 
.trou-box-prodbtn3 a {
    color: #fff;
    text-decoration: none;
}
.trou-box-prodbtn1 {
    background: #184347;
}
.trou-box-prodbtn2 {
    background: #6c6c4d;
}
.trou-box-prodbtn3 {
    background: #802023;
}
.trou-box-prodbtn1:hover,
.trou-box-prodbtn2:hover,
.trou-box-prodbtn3:hover {
    text-decoration: none;
 }
 .trou-box-prodbtn1:hover {
    background: #112f32;
 }
  .trou-box-prodbtn2:hover {
    background: #505039;
 }
  .trou-box-prodbtn3:hover {
    background: #61191b;
 }

@media only screen and (max-width:1024px){
    .trou-copy {
       padding-top: 0;
       padding-left: 34%;
    }
    .flex-item.col-4.trou-column {
       width: 33%;
    }
    .trou-box-copy {
    font-size: 16px;
    height: 140px;
        }
.trou-box-btn {
    font-size: 14px;
        }

}


@media only screen and (max-width:989px){
    .trou-box-btn {
       width: 85%;
    }
    .trou-box-prodbtn1, .trou-box-prodbtn2, .trou-box-prodbtn3 {
       width: 95%;
    }
    .trou-title {
       padding: 10px 0 0 334px;
    }
    .trou-copy {
       padding-left: 45%;
    }

    .trou-box-title {
       font-size: 20px;
    }
    .trou-title {
       font-size: 30px;
       line-height: 30px;
    }
}

@media only screen and (max-width: 550px){
.trou-box-title {
        padding: 10% 0 4% 0;
    }
    .trou-header,
    .wtrou-header {
        display: none;
    }
    .trou-header-mob,
    .trou-copy-mob,
    .wtrou-header-mob,
    .wtrou-copy-mob {
        display: block;
    }
 .trou-header-mob {
    background-image: url(https://cdn.craghoppers.com/img/AW17/UK/page/trouser-store/trousers-header-mob.jpg);
    min-height:248px;
    }
.wtrou-header-mob {
    background-image: url(https://cdn.craghoppers.com/img/AW17/UK/page/trouser-store/wtrousers-header-mob.jpg);
    min-height:248px;
    }
.trou-title-mob {
    color: #fff;
    font-family: $crimreg;
    text-transform: uppercase;
    font-size: 27px;
    padding: 20% 0 0 40%;
    line-height: 34px;
    }
.trou-copy-mob {
    color: #000;
    font-size: 15px;
    padding: 10% 1%;
    line-height: 24px;
    }
    .flex-item.col-4.trou-column {
       width: 100%;
    }
}

/* END */ 