// Only put in here styles needed for Crags US

/* Insect Repellent Collection Dump */
.cms-insect-repellent-collection{
    .wrapper{
    	display: inline-block;
    	max-width:1228px;
    }
    .hero-irc{
    	background-image:url('https://d1khwdv4lze0nb.cloudfront.net/images/SS16/US/Collection+Assets/IS_MainImage_1140x400px.jpg');
    	height: 400px;
    	background-size: cover;
    }
    .wrapper > *,
    .row-10 > *{
    	float:left;
    }
    .row-10{
    	width:100%;
    }
    .row-8{
    	width: 80%;
    }
    .row-7{
    	width: 70%;
    }
    .row-5{
    	width:50%;
    }
    .row-3{
    	width: 30%;
    }
    .row-2{
    	width:20%;
    }
    .row-3 a {
        border: 2px solid #000;
        width: 100%;
        float: left;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        margin-top: 3%;
        padding: 2% 0;
        font-size: 16px;
    }
    .hero-button{
    	padding: 0 1%;
    }
    .hero-info{
    	padding: 1.5%;
    }
    .row-clear{
    	border-bottom: 1px solid #000;
        margin-bottom: 2%;
    }
    .hero-product {
        padding: 1.3% 2%;
    }
    .row-5 a {
        width: 100%;
        display: inline-block;
        text-align: center;
        border: 2px solid #000;
        padding: 0.5% 0;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        margin-bottom: 6%;
        font-size: 16px;
        margin-top: 2%;
    }
    .row-paddingleft {
        padding-left: 1%;
    }
    .row-paddingright {
        padding-right: 1%;
    }
    .section-clear {
        border: 1px solid;
        margin-bottom: 4%;
    }
    .tech-padding{
    	padding: 0 2.5%;
    }

    .hero_hover{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        display: none;
        position: relative;
    }

    .row-10.hero-irc:hover .hero_hover {
        display: block;
    }

    .hero_hover a {
    	width: 100%;
        height: 100%;
        display: table;
        text-decoration: none;
    }

    .play-buttoncontainer{
    	text-align: center;
        vertical-align: middle;
        display: table-cell;
    }

    .play-buttoncontainer span{
    	color: #fff;
        font-weight: bold;
        font-size: 18px;
        background: #494949;
        border-radius: 100px;
        width: 50px;
        height: 50px;
        display: block;
        margin: 0 auto;
        line-height: 51px;
        background: -moz-linear-gradient(top, #7f7f7f 1%, #494949 100%);
        background: -webkit-linear-gradient(top, #7f7f7f 1%,#494949 100%);
        background: linear-gradient(to bottom, #7f7f7f 1%,#494949 100%);
    }

    .play-buttoncontainer span p{
    	width: 0px;
        border-top: 8px solid transparent;
        border-left: 12px solid #fff;
        border-bottom: 8px solid transparent;
        margin: 0 auto;
        top: 17px;
        position: relative;
    }

    .hero-tech {
        position: absolute;
    }

    .hero-product ul li {
        list-style-type: none;
    }

    .hero-product ul {
        margin-left: 3%;
    }

    .hero-product p:first-child,
    .tech-padding h3 {
        font-size: 1.5em;
        margin-bottom: 2%;
    }

    .hero-info h1 {
        line-height: 1.5;
    }

    .row-3 a:hover,
    .row-5 a:hover {
        background: #000;
        color: #fff;
    }

    .hero-product li strong {
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 550px){
    .cms-insect-repellent-collection{
    	.row-7 {
    		width: 100%;
    	}

    	.row-5 {
    		width: 100%;
    	}

    	.row-3 {
    		width: 100%;
    	}

    	.row-paddingleft,
    	.row-paddingright {
    		padding: 0;
    	}

    	.hero_hover {
    		display: block;
    	}

    	.hero-button a:last-child {
    		margin-bottom: 2%;
    	}

    	.row-clear {
    	    margin: 3% 0;
    	}

    	.hero-product p {
    	    margin-top: 1%;
    	}

    	.hero-product img {
    	    width: 100% !important;
    	}
    	
    	.row-5 a {
    	    margin-bottom: 2%;
    	}

    	.row-paddingright a {
    	    margin-bottom: 0;
    	}
    }
	
}

/* END */

/* US Banners */

.categorypath-men.category-men .mens-seoheader,
.categorypath-women.category-women .womens-seoheader {
    padding: 6.8% 0;
}
/* END */