.utc{
	font-family:$montreg;
}
.cms-utc-journey #content .columns .o-region__inner,
.cms-utc-story #content .columns .o-region__inner,
.cms-utc-technologies #content .columns .o-region__inner,
.cms-utc-mens #content .columns .o-region__inner,
.cms-utc-womens #content .columns .o-region__inner {
    width: 100%;
} 

/* UTC Header */
.utc-header {
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center right;
}
.utc-car {
    background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/banners/utc-header-3.jpg);
}
.utc-plane {
    background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/banners/utc-header-1.jpg);
}
.utc-room {
    background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/banners/utc-header-2.jpg);
}
.utc-product {
    background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/banners/utc-header-4.jpg);
}
.utc-heromale {
    background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/banners/utc-header-tech-1.jpg);
}
.utc-herofemale {
    background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/banners/utc-header-tech-2.jpg);
}

.utc-nav {
    width: 45%;
    background: rgba(0,0,0,0.5);
    padding: 2% 0 4% 0;
}
.utc-nav ul {
    margin: 0;
    float: right;
    list-style-type: none;
    color: #fff;
    padding-right: 25%;
    text-transform: uppercase;
    text-align: center;
    font-family: $montreg;
    line-height: 2.5;
}
.utc-nav ul a{
	color:#fff
}
.utc-nav ul a:hover {
    text-decoration: underline;
}
/* END */

/* UTC Footer */
.utc-footer {
    background: #000;
    text-align: center;
    color: #fff;
	padding:2% 0;
	    margin-top: 1%;
}
.utc-footer p {
    margin: 0;
	    font-family: $montlight;
	text-transform:uppercase;
	letter-spacing:5px;
}
.utc-footer p:first-child {
    font-size: 35px;
    margin-bottom: 0.5%;
}
.utc-footer p:last-child {
    font-family:$montreg;
}

@media only screen and (max-width:600px){
	.utc-nav {
    	width: 100%;
	}
	.utc-nav ul {
		float: none;
		padding: 0;
	}
}
/* END */

/* Center Container */
.utc-centralcont{
	max-width:1228px;
	margin:0 auto;
}
.flex-container.utc-centralcont.utc-subnav.tabs {
    margin: 0 auto;
    text-transform: uppercase;
}
/* END */

.utc-strip{
	background: #000;
    height: 7px;
    max-width: 223px;
    border-radius: 10px;
}
.utc-title{
	font-family: $montbold;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 5px;
    color: #000;
    padding: 2% 0;
}
.utc-subnav {
    background: #000;
    color: #fff;
    padding: 1.5% 0;
}
.cms-utc-journey .action-tabs .tabs-content {
    border: 0;
    padding: 0;
}
.utc-multihero {
    text-align: center;
}
.utc-multihero .utc-producttitle {
    text-transform: uppercase;
    margin: 5% 0;
    display: table;
    width: 100%;
    letter-spacing: 1px;
}
.utc-multihero .utc-productdesc {
    font-size: 12px;
    font-family: $montlight;
    width: 75%;
    margin: 0 auto;
}
.utc-multihero .utc-productdesc + span {
    text-transform: uppercase;
    display: table;
    width: 100%;
    margin: 4% 0 7% 0;
    font-family: $montlight;
    font-size: 12px;
}
.flex-item.col-6.active {
    background: #000 !important;
    text-decoration: underline;
}
.action-tabs .utc-subnav.tabs li {
    text-align: left;
}
.action-tabs .utc-subnav.tabs li:first-of-type {
    text-align: right;
}
.action-tabs .utc-subnav.tabs li:hover {
    background: #000;
    text-decoration: underline;
}
.utc-button{
	background: transparent;
    border: 1px solid #000;
    text-transform: uppercase;
    color: #000;
    padding: 0.5% 4%;
}
.utc-technical{
	width: 287px;
    font-size: 19px;
}
.utc-striphero {
    padding: 4% 0px;
}
.utc-lowerhero.utc-herofemale{
	background-image:url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/safe_journey/UTC_Womens.jpg);
}
.utc-femaletechone{
	background-image:url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/safe_journey/UTC_WomensTech_Down.jpg);
}
.utc-femaletechtwo{
	background-image:url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/safe_journey/UTC_WomensTech_RFID.jpg);
}
.utc-femaletechthree{
	background-image:url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/safe_journey/UTC_WomensTech_Reversible.jpg);
}
.utc-lowerhero {
    padding: 2%;
    background-repeat: no-repeat;
    background-size: cover;
}
.utc-techsection p {
    margin: 0;
}
.utc-journeytech{
	padding: 0;
	color: #fff;
}
.utc-techsection {
    padding: 39% 0 4% 4%;
    background-repeat: no-repeat;
    background-size: cover;
}
.utc-lowerhero .utc-producttitle {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.3;
    display: table;
    margin-bottom: 2%;
    letter-spacing: 2px;
    color: #000;
    margin-top: 29%;
}
.utc-lowerhero .utc-productdesc {
    width: 207px;
    font-size: 12px;
}
.utc-lowerhero .utc-productdesc + span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
} 

/*PLP START */

.cms-utc-mens #content .columns .o-region__inner,
.cms-utc-womens #content .columns .o-region__inner {
    background-color: #f2f2f2;
} 

.flex-container-styles {
	padding: 1.2% 0;
	background-color: #fff;
}

.utc-plp-container {
	border-right: #9d9d9c;
	border-width: 1px;
	border-right-style: solid;
	box-sizing: border-box;
	padding: 0px;
}

.utc-plp-container:nth-child(3),
.utc-plp-container:nth-child(7),
.utc-plp-container:nth-child(11) {
	border: none;
}

.utc-plp-title {
	color: #000;
	font-family: $montlight;
	padding: 0 0 1% 0;
	text-align: center;
	font-size: 100%;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.utc-plp-image {
}

.utc-plp-description {
	color: #716d68;
	font-family: $montlight;
	padding: 1% 6%;
	text-align: center;
	font-size: 90%;
	height: 110px;
}

.utc-plp-swatches {
	text-align: center;
}

.utc-plp-swatch-inner {
	padding: 0 0.5%;
}

.utc-plp-product-link {
	color: #716d68;
	font-family: $montlight;
	padding: 1% 0 1% 0;
	text-align: center;
	font-size: 90%;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
}

.utc-plp-product-horiz-divide {
	height: 1px;
	color: #000;
	background-color: #9d9d9c;
	width: 100%;
	margin: 1.2%;
}

@media only screen and (max-width:770px) {
	.utc-plp-title {
		padding: 0 4% 3% 4%;
		height: 55px;
		font-size: 90%;
	}

	.utc-plp-product-link {
		padding: 5% 0 1% 0;
	}

	.utc-plp-description {
		padding: 1% 6% 5% 6%;
		height: 140px;
	}

	.utc-plp-container {
		width: 33.3% !important;
	}

}

@media only screen and (max-width:400px) {
	.utc-plp-product-horiz-divide {
		display: none;
	}

	.utc-plp-container {
		border-right: none;
		border-bottom: #9d9d9c;
		border-width: 1px;
		border-bottom-style: solid;
		width: 100% !important;
	}

	.utc-plp-title {
		padding: 5% 0 3% 0;
		height: auto;
	}

	.utc-plp-description {
		height: auto;
	}

	.utc-plp-product-link {
		padding: 3% 0 5% 0;
	}

}

/*PLP END */


/* UTC Story Start */

.utc-story-goretex {
	background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/story/story-goretex.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	max-width: 190px;
	min-height: 190px;
}

.utc-story-rfid {
	background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/story/story-rfid.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	max-width: 190px;
	min-height: 190px;
}

.utc-story-aquadry {
	background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/story/story-aquadry.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	max-width: 190px;
	min-height: 190px;
}

.utc-story-nosilife {
	background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/story/story-nosilife.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	max-width: 190px;
	min-height: 190px;
}

.utc-story-antibacterial {
	background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/story/story-antibac.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	max-width: 190px;
	min-height: 190px;
}

.utc-story-down {
	background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/story/story-down.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	max-width: 190px;
	min-height: 190px;
}

.utc-story-box-title {
	color: #fff;
	font-family: $montlight;
	font-size: 110%;
	text-transform: uppercase;
	letter-spacing: 4px;
	padding: 45% 0 0 0;
	text-align: center;
}

.utc-story-box-title-bold {
	font-family: $montreg;
}

.utc-story-img {
	padding-top: 4%;
}

/* UTC Story End */

/* Technologies Start */

	.utc-technology-goretex {
		background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/technologies/goretex.jpg);
		background-size: cover;
		background-repeat:no-repeat;
		width: 100%;
		max-width: 400px;
		min-height: 400px;
	}
	.utc-technology-aquadry {
		background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/technologies/aquadry.jpg);
		background-size: cover;
		background-repeat:no-repeat;
		width: 100%;
		max-width: 400px;
		min-height: 400px;
	}
	.utc-technology-solarshield {
		background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/technologies/solarshield.jpg);
		background-size: cover;
		background-repeat:no-repeat;
		width: 100%;
		max-width: 400px;
		min-height: 400px;
	}
	.utc-technology-down {
		background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/technologies/down.jpg);
		background-size: cover;
		background-repeat:no-repeat;
		width: 100%;
		max-width: 400px;
		min-height: 400px;
	}
	.utc-technology-nosilife{
		background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/technologies/nosilife.jpg);
		background-size: cover;
		background-repeat:no-repeat;
		width: 100%;
		max-width: 400px;
		min-height: 400px;
	}
	.utc-technology-moisture-control {
		background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/technologies/moisture-control.jpg);
		background-size: cover;
		background-repeat:no-repeat;
		width: 100%;
		max-width: 400px;
		min-height: 400px;
	}
	.utc-technology-wash-wear {
		background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/technologies/wash-wear.jpg);
		background-size: cover;
		background-repeat:no-repeat;
		width: 100%;
		max-width: 400px;
		min-height: 400px;
	}
	.utc-technology-rfidshield {
		background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/technologies/rfid.jpg);
		background-size: cover;
		background-repeat:no-repeat;
		width: 100%;
		max-width: 400px;
		min-height: 400px;
	}
	.utc-technology-lightweight {
		background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/technologies/lightweight.jpg);
		background-size: cover;
		background-repeat:no-repeat;
		width: 100%;
		max-width: 400px;
		min-height: 400px;
	}
	.utc-technology-security {
		background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/technologies/security.jpg);
		background-size: cover;
		background-repeat:no-repeat;
		width: 100%;
		max-width: 400px;
		min-height: 400px;
	}
	.utc-technology-anti-bacterial {
		background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/technologies/anti-bac.jpg);
		background-size: cover;
		background-repeat:no-repeat;
		width: 100%;
		max-width: 400px;
		min-height: 400px;
	}
	.utc-technology-reversible {
		background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/utc/technologies/reversible.jpg);
		background-size: cover;
		background-repeat:no-repeat;
		width: 100%;
		max-width: 400px;
		min-height: 400px;
	}

	.utc-technology-box-title {
		color: #fff;
		font-family: $montlight;
		font-size: 220%;
		text-transform: uppercase;
		letter-spacing: 4px;
		padding: 37% 0 0 0;
		text-align: center;
		line-height: 120%;
	}

	.utc-technology-box-title-bold {
		font-family: $montreg;
	}

	.utc-technology-box-copy {
		color: #fff;
		font-family: $montlight;
		font-size: 90%;
		padding: 5% 4% 0 4%;
		text-align: center;
	}

/*Technologies End */
