/*//////////////////////////*/
/*Jackets Buying Guide      */
/*//////////////////////////*/

#wp-jacket-guide .flex-item a {
	text-decoration: none;
	color: #fff;
	margin: 20px;
	display: block
}
#wp-jacket-guide .flex-container {
	margin: 50px 0;
	border-bottom: 1px solid #eee;
	padding-bottom: 40px;
}
#wp-jacket-guide .col-9 {
	padding: 0 30px;
}
@media screen and (max-width:990px) {
	#wp-jacket-guide .flex-item img {
		display: none;
	}
}

/*//////////////////////////
/* Fabrics Page */
/*////////////////////////*/

.cms-fabrics .action-parallax{
  padding: 10% 0;
  margin-bottom: 30px;
}

.cms-fabrics .action-parallax h2{
  text-align: center;
  color: #fff;
  font-size: 4vw;
  text-shadow: 1px 3px 5px rgba(0,0,0,0.5);
  padding: 10px 0;
  background: rgba(0,0,0,0.2);
}

#fabric-technologies{
  margin-bottom: 60px;
}

#fabric-technologies h2,
#footwear-tech h2{
  text-align: center;
  font-size: 32px;
}

#fabric-technologies select,
#footwear-tech select{
  margin: 10px auto 30px;
  max-width: 400px;
  display: block;
  width: 100%;
}

#fabric-info > div,
#footwear-info > div{
  background: #eee;
  padding: 20px;
  border: 1px solid #e7e7e7;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  margin: 10px 0;
  display: none;
}

#fabric-info > div.active,
#footwear-info > div.active{
  display: block;
}

#fabric-info > div img,
#footwear-info > div .foot-image{
  float: left;
  width: 50%;
  max-width: 400px;
  margin-right: 20px;
}

#footwear-info .foot-contents{
  float: right;
  width: 40%;
}

#fabric-info > div p,
#footwear-info > div p{
  font-size: 14px;
}

#fabric-info > div:after,
#footwear-info > div:after{
  content: "";
  display: block;
  clear: both;
}

.cms-ourfabrics .o-region__inner.main{width: 100% !important;}

@media screen and (max-width: 989px){
  #footwear-info > div .foot-image{float: none; width: 100%;}
  #footwear-info .foot-contents{float: none; width: 100%;}
}
