/*//////////////////////////
/* FAQ Page               */
/*////////////////////////*/

#faq .icon > img{
  width:32px;
}

#faq {
  .the-super-duper-mega-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 100%;
  }
  .content-c {
    width: 30%;
    float: left;
    margin: 10px;
    min-height: 220px;
  }
  .icon {
    width: 100%;
    float: left;
  }
  .title {
    width: 100%;
    float: left;
    margin-top: 10px;
    color: #333333;
  }
  .text {
    width: 100%;
    float: left;
    margin-top: 10px;
    color: #666666;
  }
  @media only screen and (max-width:950px) {
    .content-c {
      min-height: 240px;
    }
  }
  @media only screen and (max-width:830px) {
    .content-c {
      width: 100%;
      float: left;
      margin: 0px;
      margin-left: -20px;
      min-height: 80px;
      padding: 20px;
    }
    .content-c {
      background-color: #f3f1f1
    }
    .content-c:nth-child(2), .content-c:nth-child(4), .content-c:nth-child(6) {
      background-color: #eae8e8;
    }
  }
}

/* mixin test */

#faq .icon > img{
  width:32px;
  @include tablet {
    width: 40px;
  }
  @include large-mobile {
    width: 35px;
  }
  @include small-mobile {
    width: 30px;
  }
}

/*//////////////////////////
/* Contact Us */
/*////////////////////////*/
#size-guide-page td {
  border: 1px solid #ccc;
  padding: 5px;
}
#size-guide-page table {
  border-collapse: collapse;
  font-size: 14px;
  color: #444;
}
#size-guide-page .table-heading {
  background: #eee;
  font-weight: bold;
}
#size-guide-page .flex-item {
  padding: 0 20px;
}
#size-guide-page .size-buttons a {
  background: #c10925;
  padding: 14px 12px;
  border-radius: 4px;
  margin: 6px;
  float: left;
  color: #fff;
  text-decoration: none;
  display: block;
  width: 50px;
  text-align: center;
}
#size-guide-page a.euro-toggle {
  background: #333;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  text-align: center;
  display: block;
  font-size: 16px;
}
#size-guide-page .tabs-content .flex-container {
  margin: 40px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 40px;
}
#size-guide-page .tabs-content img {
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 10px 0;
  max-width: 180px;
}
.euro-toggle + #size-guide-container .sizes-euro, .euro-toggle.active + #size-guide-container .sizes-uk {
  display: none;
}
.euro-toggle.active + #size-guide-container .sizes-euro {
  display: block;
}
#size-guide-page h1, #size-guide-page h2, #size-guide-page h3 {
  margin: 14px 0;
  color: #333 !important;
}
@media screen and (max-width:500px) {
  #size-guide-page .tabs-content {
    padding: 10px 5px;
  }
  #size-guide-page .flex-item {
    padding: 0 0px;
  }
}
.size-buttons, #size-guide-page .col-4 h2 {
  display: none;
}


/*//////////////////////////
/* Contact Us */
/*////////////////////////*/
#contact-us{

  .methods, .hours{
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 20px !important;
    margin-bottom: 30px;
  }

.methods a, p a{
  text-decoration: underline; 
  font-weight: bold;
  cursor: pointer;
}

h1{
  color: #333;
  margin: 40px 0 20px 0;
}

.rl-pop.active{
  left: 0;
}


.buttons-set > button { float: left !important; background: #5AA11F !important; padding: 13px; border-radius: 6px; }
.webforms-fields-ex_data_export_time_sent{display: none}
.webforms-fields-ex_data_export_recipient{display: none;}
.fields.first > div:nth-child(2){display: none !important}
textarea{width: 370px; border: 1px solid #ccc; max-width: 90%}
.fields.last{display: none}

.hours p{
  margin: 2px 0;
}

.methods ul, .methods li{
  margin: 0 !important;
  padding: 0;
  list-style-type: none;
}

.methods p{
  padding-left: 30px
}

.methods p:nth-child(1){
  background: url(https://s3-eu-west-1.amazonaws.com/regattaoutlet-static-images-live/SS15/img/pages/contact/call.jpg);
  background-size: 20px;
  background-repeat: no-repeat;
}

.methods p:nth-child(2){
  background: url(https://s3-eu-west-1.amazonaws.com/regattaoutlet-static-images-live/SS15/img/pages/contact/email.jpg);
  background-size: 20px;
  background-repeat: no-repeat;
}

.methods ul li:nth-child(1){
  background: url(https://s3-eu-west-1.amazonaws.com/regattaoutlet-static-images-live/SS15/img/pages/contact/locaton.jpg);
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 30px;
  margin-bottom: 10px !Important;
  display: block
}

.cms-page{
  margin: 10px;
}

#cu-form{
  margin-top: 100px !important;
  max-height: 80%;
  overflow: auto;
  z-index: 999999999999999;
  border: 1px solid #ccc
}

.cms-page ul, .cms-page li{
  list-style-type: none !important;
}
}

/*//////////////////////////*/
/*Jackets Buying Guide      */
/*//////////////////////////*/

#wp-jacket-guide .flex-item a {
	text-decoration: none;
	color: #fff;
	margin: 20px;
	display: block
}
#wp-jacket-guide .flex-container {
	margin: 50px 0;
	border-bottom: 1px solid #eee;
	padding-bottom: 40px;
}
#wp-jacket-guide .col-9 {
	padding: 0 30px;
}
@media screen and (max-width:990px) {
	#wp-jacket-guide .flex-item img {
		display: none;
	}
}

/*//////////////////////////
/* Fabrics Page */
/*////////////////////////*/

.cms-fabrics .action-parallax{
  padding: 10% 0;
  margin-bottom: 30px;
}

.cms-fabrics .action-parallax h2{
  text-align: center;
  color: #fff;
  font-size: 4vw;
  text-shadow: 1px 3px 5px rgba(0,0,0,0.5);
  padding: 10px 0;
  background: rgba(0,0,0,0.2);
}

#fabric-technologies{
  margin-bottom: 60px;
}

#fabric-technologies h2,
#footwear-tech h2{
  text-align: center;
  font-size: 32px;
}

#fabric-technologies select,
#footwear-tech select{
  margin: 10px auto 30px;
  max-width: 400px;
  display: block;
  width: 100%;
}

#fabric-info > div,
#footwear-info > div{
  background: #eee;
  padding: 20px;
  border: 1px solid #e7e7e7;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  margin: 10px 0;
  display: none;
}

#fabric-info > div.active,
#footwear-info > div.active{
  display: block;
}

#fabric-info > div img,
#footwear-info > div .foot-image{
  float: left;
  width: 50%;
  max-width: 400px;
  margin-right: 20px;
}

#footwear-info .foot-contents{
  float: right;
  width: 40%;
}

#fabric-info > div p,
#footwear-info > div p{
  font-size: 14px;
}

#fabric-info > div:after,
#footwear-info > div:after{
  content: "";
  display: block;
  clear: both;
}


.cms-ourfabrics .o-region__inner.main{width: 100% !important;}

@media screen and (max-width: 989px){
  #footwear-info > div .foot-image{float: none; width: 100%;}
  #footwear-info .foot-contents{float: none; width: 100%;}
}

/*//////////////////////////
/* Delivery Page          */
/*////////////////////////*/

#delivery-information td{
  padding: 10px;
}