/*/////////////////////////////////////////*/
/* Dare 2b Styles                          */
/* Author: Shaun Pelling & Richard Silcock */
/*/////////////////////////////////////////*/
/* Modules */
/***************************************************
/* UTILITY CSS
/* All below css is external from reglib
/**************************************************/
/****************************
/* Image Styles
/***************************/
.cms-page img {
  width: 100%; }

/****************************
/* Effects Library
/***************************/
.ease {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }

/****************************
/* Colour Library
/***************************/
.blue {
  background-color: #0080c5;
  color: #fff; }

.green {
  background-color: #5aa11f;
  color: #fff; }

.black {
  background-color: #000;
  color: #fff; }

/****************************
/* Button Styles
/***************************/
.arrow-button {
  padding: 10px 30px 10px 20px;
  text-align: center;
  font-size: 20px;
  background-image: url(https://dbdhuxde2t9el.cloudfront.net/AW16/img/global/white-arrow-line.png);
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 10px;
  border-radius: 3px;
  box-shadow: 0px 11px 10px -5px rgba(0, 0, 0, 0.29);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  top: 0px;
  position: relative; }

.arrow-button:hover {
  position: relative;
  top: -10px;
  color: #fff;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }

/****************************
/* Redeye Styles
/***************************/
.redeye-form .successmessage {
  text-align: center;
  font-size: 30px;
  background: #5AA11F;
  color: #ffffff;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0px 11px 10px -10px rgba(0, 0, 0, 0.38); }
.redeye-form .redeye-form {
  max-width: 1200px;
  margin: auto; }
.redeye-form .invalid {
  box-shadow: 0px 0px 5px red; }
.redeye-form .popup {
  position: absolute;
  right: 0px;
  top: -10px;
  color: red; }
.redeye-form .redeye-form > div {
  margin: 1%;
  float: left;
  width: 48%;
  position: relative; }
.redeye-form .redeye-form label {
  width: 100%;
  font-size: 20px;
  color: #000000; }
.redeye-form .redeye-form input {
  width: 100%;
  height: 40px;
  border: 1px solid #cecece;
  border-radius: 3px; }
.redeye-form .newsletter, .redeye-form .toggles {
  width: inherit;
  clear: both; }
.redeye-form .redeye-form button {
  clear: both;
  float: left;
  margin: 1%;
  width: 50%;
  padding: 20px;
  background: #000000;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  border: 0px;
  border-radius: 6px; }
.redeye-form .newsletter.first {
  clear: both; }
.redeye-form .newsletter {
  clear: none;
  width: 31%;
  margin: 1%;
  border: solid 1px #d0d0d0;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 10px 10px -10px #909090; }
.redeye-form .form-checkbox {
  max-width: 18%;
  text-align: center;
  border: solid 1px #c5c5c5;
  padding: 1%;
  box-shadow: 0px 5px 2px -5px #808080; }
.redeye-form input[type="checkbox"], .redeye-form input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  width: 20px !important;
  height: 14px !important;
  margin: 10px; }

.redeye-form > div {
  margin: 1%;
  float: left;
  width: 48%;
  position: relative; }

.redeye-form input {
  width: 100%;
  height: 40px;
  border: 1px solid #cecece;
  border-radius: 3px; }

.redeye-form button {
  clear: both;
  float: left;
  margin: 1%;
  width: 50%;
  padding: 20px;
  background: #000000;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  border: 0px;
  border-radius: 6px; }

@media only screen and (max-width: 768px) {
  html .redeye-form > div {
    width: 98%; }

  html .redeye-form input {
    max-width: 100%; }

  html .redeye-form button {
    width: 100%; } }
/****************************
/* Flex grid styles
/***************************/
/* base flex styles */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0; }

.flex-container.flex-end {
  justify-content: flex-end; }

.flex-container.flex-start {
  justify-content: flex-start; }

.flex-container.flex-center {
  justify-content: center; }

.flex-container.flex-space {
  justify-content: space-around; }

.flex-item {
  flex-grow: 1;
  padding: 0 5px;
  box-sizing: border-box; }

.flex-item > img {
  width: 100%; }

.flex-container.flex-end > .flex-item,
.flex-container.flex-start > .flex-item,
.flex-container.flex-center > .flex-item,
.flex-container.flex-space > .flex-item {
  flex-grow: 0; }

/* flex column styles */
.flex-item.col-1 {
  width: 8.33%; }

.flex-item.col-2 {
  width: 16.66%; }

.flex-item.col-3 {
  width: 24.99%; }

.flex-item.col-4 {
  width: 33.32%; }

.flex-item.col-5 {
  width: 41.65%; }

.flex-item.col-6 {
  width: 49.98%; }

.flex-item.col-7 {
  width: 58.31%; }

.flex-item.col-8 {
  width: 66.64%; }

.flex-item.col-9 {
  width: 74.97%; }

.flex-item.col-10 {
  width: 83.3%; }

.flex-item.col-11 {
  width: 91.63%; }

.flex-item.col-12 {
  width: 100%; }

.flex-item.auto {
  flex-grow: 1;
  flex-shrink: 1; }

@media screen and (max-width: 990px) {
  /* flex column styles */
  .flex-item.col-1 {
    width: 24.99%; }

  .flex-item.col-2 {
    width: 24.99%; }

  .flex-item.col-3 {
    width: 24.99%; }

  .flex-item.col-4 {
    width: 49.98%; }

  .flex-item.col-5 {
    width: 49.98%; }

  .flex-item.col-6 {
    width: 49.98%; }

  .flex-item.col-7 {
    width: 100%; }

  .flex-item.col-8 {
    width: 100%; }

  .flex-item.col-9 {
    width: 100%; }

  .flex-item.col-10 {
    width: 100%; }

  .flex-item.col-11 {
    width: 100%; }

  .flex-item.col-12 {
    width: 100%; }

  .flex-box.tablet-first {
    order: -1; }

  .flex-box.tablet-last {
    order: 13; } }
@media screen and (max-width: 740px) {
  /* flex column styles */
  .flex-item.col-1 {
    width: 49.98%; }

  .flex-item.col-2 {
    width: 49.98%; }

  .flex-item.col-3 {
    width: 49.98%; }

  .flex-item.col-4 {
    width: 49.98%; }

  .flex-item.col-5 {
    width: 49.98%; }

  .flex-item.col-6 {
    width: 49.98%; }

  .flex-item.col-7 {
    width: 100%; }

  .flex-item.col-8 {
    width: 100%; }

  .flex-item.col-9 {
    width: 100%; }

  .flex-item.col-10 {
    width: 100%; }

  .flex-item.col-11 {
    width: 100%; }

  .flex-item.col-12 {
    width: 100%; }

  .flex-box.mobile-first {
    order: -1; }

  .flex-box.mobile-last {
    order: 13; } }
@media screen and (max-width: 740px) {
  /* flex column styles */
  .flex-item.col-1 {
    width: 100%; }

  .flex-item.col-2 {
    width: 100%; }

  .flex-item.col-3 {
    width: 100%; }

  .flex-item.col-4 {
    width: 100%; }

  .flex-item.col-5 {
    width: 100%; }

  .flex-item.col-6 {
    width: 100%; }

  .flex-item.col-7 {
    width: 100%; }

  .flex-item.col-8 {
    width: 100%; }

  .flex-item.col-9 {
    width: 100%; }

  .flex-item.col-10 {
    width: 100%; }

  .flex-item.col-11 {
    width: 100%; }

  .flex-item.col-12 {
    width: 100%; } }
/****************************
/* Toggle Action Styles
/***************************/
*[data-action="toggle"] {
  border: 1px solid #ddd;
  padding: 8px 10px;
  position: relative;
  color: #333;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  padding-right: 30px; }

*[data-action="toggle"]:hover {
  background: #f7f7f7; }

*[data-action="toggle"]::after {
  content: "";
  border-width: 0.65rem 0.5rem 0 0.5rem;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  display: block;
  position: absolute;
  right: 10px;
  top: 40%;
  transition: all ease 0.5s; }

*[data-action="toggle"].active::after {
  transform: rotateZ(180deg);
  transition: all ease 0.5s; }

.action-toggle .toggle-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all ease 0.5s; }

.action-toggle .toggle-content.active {
  opacity: 1;
  max-height: 2000px;
  transition: all ease 0.5s; }

/****************************
/* Tabs Styles
/***************************/
.action-tabs .tabs-content {
  border: 1px solid #ddd;
  padding: 10px 20px;
  position: relative; }

.action-tabs .tabs {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap; }

.action-tabs .tabs *[data-action="tab"] {
  border: 1px solid #ddd;
  border-bottom: 0;
  padding: 10px 16px;
  flex-grow: 1;
  margin: 0 0px;
  cursor: pointer;
  font-size: 1.2em;
  flex-basis: 200px; }

.action-tabs .tabs *[data-action="tab"]:hover {
  background: #f7f7f7; }

.action-tabs .tabs *[data-action="tab"].active {
  background: #ddd; }

.action-tabs .tabs-content > * {
  display: none; }

.action-tabs .tabs-content > *.active {
  display: block; }

/****************************
/* Overlay Banner Styles
/***************************/
.overlay-banner {
  position: relative;
  margin-bottom: 40px; }

.overlay-banner img {
  width: 100%; }

.overlay-banner .overlay-text {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  text-align: center;
  display: table; }

/****************************
/* Parallax Styles
/***************************/
.action-parallax {
  padding: 15% 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.action-parallax h2 {
  text-align: center;
  color: #fff;
  font-size: 4vw;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.2); }

/****************************
/* Wrapper Styles
/***************************/
.content-wrapper {
  max-width: 1228px;
  margin: 0 auto;
  width: 100%; }

@media screen and (max-width: 1227px) {
  .content-wrapper {
    max-width: 990px;
    margin: 0 auto; } }
@media screen and (max-width: 989px) {
  .content-wrapper {
    max-width: 740px;
    margin: 0 auto;
    padding: 10px; } }
/* Partials */
/****************************
/* Garment Care
/***************************/
#garment-care .flex-item {
  text-align: center;
  padding: 50px !important; }
#garment-care .flex-item.col-6:nth-child(1) h2, #garment-care .flex-item.col-6:nth-child(4) h2, #garment-care .flex-item.col-6:nth-child(1) span, #garment-care .flex-item.col-6:nth-child(4) span {
  color: #ffffff; }
#garment-care .flex-item > img {
  max-width: 60px; }
#garment-care .flex-item.col-6:nth-child(1), #garment-care .flex-item.col-6:nth-child(4) {
  background: #0081c6; }
#garment-care .background-container > h2 {
  font-size: 4vw;
  text-align: center; }
#garment-care .page-content img {
  padding: 5px; }
#garment-care .overlay-banner h1 {
  color: #ffffff;
  height: 10vh;
  font-size: 10vh; }

@media only screen and (max-width: 600px) {
  #garment-care .overlay-banner h1 {
    height: 5vh;
    font-size: 5vh; } }
/****************************
/* Jackets Buying Guide
/***************************/
#jackets-buying-guide .flex-container .flex-container {
  max-width: 50%;
  float: left;
  text-align: center; }
#jackets-buying-guide #three .flex-container, #jackets-buying-guide #four .flex-container {
  max-width: 100%;
  width: 100%; }
#jackets-buying-guide .toggle-content {
  text-align: center; }
#jackets-buying-guide .flex-container.action-toggle h2 {
  background: #343334;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  clear: both; }

/****************************
/* Offers Hub
/***************************/
#offers-hub .overlay-text {
  font-size: 9vh;
  color: #ffffff; }
#offers-hub .overlay-text strong {
  border-bottom: solid 5px #ffffff; }

/****************************
/* Fabrics
/***************************/
#fabric .toggle-button {
  background: #333333;
  color: #ffffff;
  padding: 30px; }
#fabric .toggle-button:hover {
  background: #333333;
  box-shadow: inset 0px 30px 40px rgba(68, 68, 68, 0.59); }
#fabric .toggle-button::after {
  border-color: #fff transparent transparent transparent;
  right: 30px;
  top: 50%; }
#fabric .overlay-banner .overlay-text {
  color: #ffffff;
  font-size: 4vw; }
#fabric h2 img {
  width: initial;
  display: block;
  margin: auto; }
#fabric h2 {
  text-align: center;
  padding: 30px 60px; }
#fabric .flex-container img {
  width: initial; }
#fabric .flex-container {
  background: #f2f2f2;
  padding: 20px; }

/****************************
/* Email Sign Up
/***************************/
#email-sign-up.cms-page h1 {
  font-size: 8vh; }

#email-sign-up.cms-page {
  display: table; }

/****************************
/* Delivery Page
/***************************/
#delivery section h1 {
  color: #ffffff;
  background: #222222;
  padding: 10px;
  text-align: center;
  margin: 10px 0px 0px 0px; }
#delivery table {
  width: 100%; }
#delivery table tr:first-child td {
  color: #ffffff;
  background: #0080c5; }
#delivery table td {
  padding: 10px;
  border: solid 1px #000000; }
#delivery .collectPlus h1 img {
  margin: 0px auto 10px auto;
  display: block; }
#delivery .collectPlusInformation img {
  float: left; }
#delivery .collectPlusInformation span {
  float: left;
  max-width: 80%; }
#delivery .collectPlusInformation div {
  width: 100%;
  clear: both; }
#delivery .collectPlusInformation {
  float: left;
  width: 100%; }
#delivery section h2 {
  color: #ffffff;
  background: #222222;
  padding: 10px;
  text-align: center;
  display: table;
  width: 100%; }

#delivery .cms-page .content img {
  width: initial; }

/****************************
/* Cycle Padding Page
/***************************/
#cycle-padding .toggle-button {
  background: #333333;
  color: #ffffff;
  padding: 30px; }
#cycle-padding .toggle-button:hover {
  background: #333333;
  box-shadow: inset 0px 30px 40px rgba(68, 68, 68, 0.59); }
#cycle-padding .toggle-button::after {
  border-color: #fff transparent transparent transparent;
  right: 30px;
  top: 50%; }
#cycle-padding .overlay-banner .overlay-text {
  color: #ffffff;
  font-size: 4vw; }

/****************************
/* Contact Us Page
/***************************/
#contact-us .maps h2 {
  background: #343334;
  color: #ffffff;
  padding: 20px;
  text-align: center; }

#contact-us.cms-page h2 {
  background: #343334;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  margin: 20px 0px 20px 0px; }

#contact-us.cms-page {
  text-align: center; }

#contact-us.cms-page h1 {
  font-size: 8vh; }

/****************************
/* About Us Page
/***************************/
#about-us .page-content img {
  padding: 5px; }
#about-us .overlay-banner h1 {
  color: #ffffff;
  height: 10vh;
  font-size: 10vh; }

@media only screen and (max-width: 600px) {
  #about-us .overlay-banner h1 {
    height: 5vh;
    font-size: 5vh; } }
/* Singles */
#homepage section img {
  width: 100%; }
#homepage .flex-container {
  margin: 0px; }
#homepage .flex-container .flex-item {
  padding: 0px; }
#homepage .one.flex-item.col-9 {
  width: 71.4%; }
#homepage .two.flex-item.col-3 {
  width: 25.6%; }
#homepage .flex-item, #homepage .swiper-slide {
  border: 3px solid #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
#homepage .tabs > li {
  text-align: center;
  color: #ffffff;
  line-height: 40px; }
#homepage .action-tabs .tabs *[data-action="tab"] {
  background: #444444; }
#homepage .action-tabs .tabs *[data-action="tab"].active {
  background: #222222; }
#homepage .action-tabs .tabs *[data-action="tab"]:hover {
  background: #0080c5; }

@media only screen and (max-width: 740px) {
  #homepage .flex-item.col-6 {
    width: 50%; }
  #homepage .flex-item.col-12 {
    padding: 0; } }

/*# sourceMappingURL=styles.css.map */
