/*/////////////////////////////////////////*/
/* Dare 2b Styles                          */
/* Author: Shaun Pelling & Richard Silcock */
/*/////////////////////////////////////////*/
/* Modules */
/***************************************************
/* UTILITY CSS
/* All below css is external from reglib
/**************************************************/
/****************************
/* Media Query Mixins
/***************************/
/****************************
/* Image Styles
/***************************/
.cms-page img {
  width: 100%; }

/****************************
/* Effects Library
/***************************/
.ease {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }

/****************************
/* Colour Library
/***************************/
.blue {
  background-color: #0080c5;
  color: #fff; }

.green {
  background-color: #5aa11f;
  color: #fff; }

.black {
  background-color: #000;
  color: #fff; }

/****************************
/* Button Styles
/***************************/
.arrow-button {
  padding: 10px 30px 10px 20px;
  text-align: center;
  font-size: 20px;
  background-image: url(https://dbdhuxde2t9el.cloudfront.net/AW16/img/global/white-arrow-line.png);
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 10px;
  border-radius: 3px;
  box-shadow: 0px 11px 10px -5px rgba(0, 0, 0, 0.29);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  top: 0px;
  position: relative; }

.arrow-button:hover {
  position: relative;
  top: -10px;
  color: #fff;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }

/****************************
/* Redeye Styles
/***************************/
.redeye-form .successmessage {
  text-align: center;
  font-size: 30px;
  background: #5AA11F;
  color: #ffffff;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0px 11px 10px -10px rgba(0, 0, 0, 0.38); }
.redeye-form .redeye-form {
  max-width: 1200px;
  margin: auto; }
.redeye-form .invalid {
  box-shadow: 0px 0px 5px red; }
.redeye-form .popup {
  position: absolute;
  right: 0px;
  top: -10px;
  color: red; }
.redeye-form .redeye-form > div {
  margin: 1%;
  float: left;
  width: 31%;
  position: relative; }
.redeye-form .redeye-form label {
  width: 100%;
  font-size: 20px;
  color: #000000; }
.redeye-form .redeye-form input {
  width: 100%;
  height: 40px;
  border: 1px solid #cecece;
  border-radius: 3px; }
.redeye-form .newsletter, .redeye-form .toggles {
  width: inherit; }
.redeye-form .redeye-form button {
  clear: both;
  float: left;
  margin: 1%;
  width: 50%;
  padding: 20px;
  background: #000000;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  border: 0px;
  border-radius: 6px; }
.redeye-form .newsletter.first {
  clear: both; }
.redeye-form .newsletter {
  clear: none;
  width: 31%;
  margin: 1%;
  border: solid 1px #d0d0d0;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 10px 10px -10px #909090; }
.redeye-form .form-checkbox {
  max-width: 18%;
  text-align: center;
  border: solid 1px #c5c5c5;
  padding: 1%;
  box-shadow: 0px 5px 2px -5px #808080; }
.redeye-form input[type="checkbox"], .redeye-form input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  width: 20px !important;
  height: 14px !important;
  margin: 10px; }
.redeye-form .title {
  clear: both;
  width: 15%; }
.redeye-form .first-name {
  clear: left; }
.redeye-form .address-1 {
  clear: both; }
.redeye-form .postcode {
  width: 10%; }
.redeye-form .town {
  width: 27.3%; }
.redeye-form .county {
  width: 27.3%; }
.redeye-form .country {
  width: 27.3%; }
.redeye-form .toggles > label {
  float: left; }
.redeye-form .toggles > select {
  clear: both;
  float: left; }

.redeye-form > div {
  margin: 1%;
  float: left;
  width: 48%;
  position: relative; }

.redeye-form input {
  width: 100%;
  height: 40px;
  border: 1px solid #cecece;
  border-radius: 3px; }

.redeye-form button {
  clear: both;
  float: left;
  margin: 1%;
  width: 50%;
  padding: 20px;
  background: #000000;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  border: 0px;
  border-radius: 6px; }

@media only screen and (max-width: 767px) {
  html .redeye-form > div {
    width: 98% !important; }

  html .redeye-form input {
    max-width: 100%; }

  html .redeye-form button {
    width: 100%; } }
/****************************
/* Flex grid styles
/***************************/
/* base flex styles */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0; }

.flex-container.flex-end {
  justify-content: flex-end; }

.flex-container.flex-start {
  justify-content: flex-start; }

.flex-container.flex-center {
  justify-content: center; }

.flex-container.flex-space {
  justify-content: space-around; }

.flex-item {
  flex-grow: 1;
  padding: 0 5px;
  box-sizing: border-box; }

.flex-item > img {
  width: 100%; }

.flex-container.flex-end > .flex-item,
.flex-container.flex-start > .flex-item,
.flex-container.flex-center > .flex-item,
.flex-container.flex-space > .flex-item {
  flex-grow: 0; }

/* flex column styles */
.flex-item.col-1 {
  width: 8.33%; }

.flex-item.col-2 {
  width: 16.66%; }

.flex-item.col-3 {
  width: 24.99%; }

.flex-item.col-4 {
  width: 33.32%; }

.flex-item.col-5 {
  width: 41.65%; }

.flex-item.col-6 {
  width: 49.98%; }

.flex-item.col-7 {
  width: 58.31%; }

.flex-item.col-8 {
  width: 66.64%; }

.flex-item.col-9 {
  width: 74.97%; }

.flex-item.col-10 {
  width: 83.3%; }

.flex-item.col-11 {
  width: 91.63%; }

.flex-item.col-12 {
  width: 100%; }

.flex-item.auto {
  flex-grow: 1;
  flex-shrink: 1; }

@media screen and (max-width: 1024px) {
  /* flex column styles */
  .flex-item.col-1 {
    width: 24.99%; }

  .flex-item.col-2 {
    width: 24.99%; }

  .flex-item.col-3 {
    width: 24.99%; }

  .flex-item.col-4 {
    width: 49.98%; }

  .flex-item.col-5 {
    width: 49.98%; }

  .flex-item.col-6 {
    width: 49.98%; }

  .flex-item.col-7 {
    width: 100%; }

  .flex-item.col-8 {
    width: 100%; }

  .flex-item.col-9 {
    width: 100%; }

  .flex-item.col-10 {
    width: 100%; }

  .flex-item.col-11 {
    width: 100%; }

  .flex-item.col-12 {
    width: 100%; }

  .flex-box.tablet-first {
    order: -1; }

  .flex-box.tablet-last {
    order: 13; } }
@media screen and (max-width: 740px) {
  /* flex column styles */
  .flex-item.col-1 {
    width: 49.98%; }

  .flex-item.col-2 {
    width: 49.98%; }

  .flex-item.col-3 {
    width: 49.98%; }

  .flex-item.col-4 {
    width: 49.98%; }

  .flex-item.col-5 {
    width: 49.98%; }

  .flex-item.col-6 {
    width: 49.98%; }

  .flex-item.col-7 {
    width: 100%; }

  .flex-item.col-8 {
    width: 100%; }

  .flex-item.col-9 {
    width: 100%; }

  .flex-item.col-10 {
    width: 100%; }

  .flex-item.col-11 {
    width: 100%; }

  .flex-item.col-12 {
    width: 100%; }

  .flex-box.mobile-first {
    order: -1; }

  .flex-box.mobile-last {
    order: 13; } }
@media screen and (max-width: 740px) {
  /* flex column styles */
  .flex-item.col-1 {
    width: 100%; }

  .flex-item.col-2 {
    width: 100%; }

  .flex-item.col-3 {
    width: 100%; }

  .flex-item.col-4 {
    width: 100%; }

  .flex-item.col-5 {
    width: 100%; }

  .flex-item.col-6 {
    width: 100%; }

  .flex-item.col-7 {
    width: 100%; }

  .flex-item.col-8 {
    width: 100%; }

  .flex-item.col-9 {
    width: 100%; }

  .flex-item.col-10 {
    width: 100%; }

  .flex-item.col-11 {
    width: 100%; }

  .flex-item.col-12 {
    width: 100%; } }
/********************************
/* Product Page Size Table Styles
/*******************************/
.js-size-guide-modal td {
  background: #f9f9f9;
  border: solid 1px #e0e0e0;
  text-transform: uppercase;
  padding: 10px; }

.js-size-guide-modal .table-heading > td {
  background: #e0e0e0;
  height: 50px; }

/****************************
/* Toggle Action Styles
/***************************/
*[data-action="toggle"] {
  border: 1px solid #ddd;
  padding: 8px 10px;
  position: relative;
  color: #333;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  padding-right: 30px; }

*[data-action="toggle"]:hover {
  background: #f7f7f7; }

*[data-action="toggle"]::after {
  content: "";
  border-width: 0.65rem 0.5rem 0 0.5rem;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  display: block;
  position: absolute;
  right: 10px;
  top: 40%;
  transition: all ease 0.5s; }

*[data-action="toggle"].active::after {
  transform: rotateZ(180deg);
  transition: all ease 0.5s; }

.action-toggle .toggle-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all ease 0.5s; }

.action-toggle .toggle-content.active {
  opacity: 1;
  max-height: 2000px;
  transition: all ease 0.5s; }

/****************************
/* Tabs Styles
/***************************/
.action-tabs .tabs-content {
  border: 1px solid #ddd;
  padding: 10px 20px;
  position: relative; }

.action-tabs .tabs {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap; }

.action-tabs .tabs *[data-action="tab"] {
  border: 1px solid #ddd;
  border-bottom: 0;
  padding: 10px 16px;
  flex-grow: 1;
  margin: 0 0px;
  cursor: pointer;
  font-size: 1.2em;
  flex-basis: 200px; }

.action-tabs .tabs *[data-action="tab"]:hover {
  background: #f7f7f7; }

.action-tabs .tabs *[data-action="tab"].active {
  background: #ddd; }

.action-tabs .tabs-content > * {
  display: none; }

.action-tabs .tabs-content > *.active {
  display: block; }

/****************************
/* Overlay Banner Styles
/***************************/
.overlay-banner {
  position: relative;
  margin-bottom: 40px; }

.overlay-banner img {
  width: 100%; }

.overlay-banner .overlay-text {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  text-align: center;
  display: table; }

/****************************
/* Parallax Styles
/***************************/
.action-parallax {
  padding: 15% 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.action-parallax h2 {
  text-align: center;
  color: #fff;
  font-size: 4vw;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.2); }

/****************************
/* Wrapper Styles
/***************************/
.content-wrapper {
  max-width: 1228px;
  margin: 0 auto;
  width: 100%; }

@media screen and (max-width: 1227px) {
  .content-wrapper {
    max-width: 990px;
    margin: 0 auto; } }
@media screen and (max-width: 989px) {
  .content-wrapper {
    max-width: 740px;
    margin: 0 auto;
    padding: 10px; } }
/****************************
/* Lightbox Styles
/***************************/
.pop-overlay {
  display: none; }

.pop-overlay.active {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8; }

.rl-pop {
  display: none; }

.rl-pop.active {
  display: block;
  position: fixed;
  z-index: 9;
  background: #fff;
  width: 60%;
  margin: 20% 20% 10px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  top: 0; }

.rl-pop [data-action="pop-close"] {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 14px;
  background: #ddd;
  border-radius: 0 0 0 4px;
  line-height: 0;
  font-weight: bold;
  cursor: pointer; }

@media screen and (max-width: 700px) {
  .rl-pop.active {
    width: 90%;
    margin: 20px 5%; } }
/****************************
/* Basket Page Block
/***************************/
#basket-promo {
  max-width: 48%;
  margin: 1%;
  float: left; }

#basket-promo.returns span {
  max-width: 85%;
  margin: 0; }

#basket-promo li {
  display: block;
  float: left; }

#basket-promo li img {
  max-width: 40px;
  margin: 10px;
  float: left; }

#basket-promo li h3 {
  padding: 10px 0px;
  color: #000000;
  margin: 0;
  float: left;
  border-bottom: solid 1px #eaeaea;
  width: calc(100% - 60px); }

#basket-promo span {
  padding: 5px 0px;
  display: block;
  float: left;
  margin: 0px 0px 0px 60px; }

@media only screen and (max-width: 989px) {
  #basket-promo {
    max-width: 90%; }

  .delivery-basket-container {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll; }

  .basket-container-promo-block {
    position: relative; } }
@media only screen and (max-width: 739px) {
  .delivery-basket-container {
    max-height: none;
    overflow-x: visible;
    overflow-y: visible; }

  #basket-promo {
    max-width: 100%; }

  #basket-promo li {
    width: 100%; } }
/****************************
/* Customer Service Forms
/***************************/
.cs-form label {
  display: block !important;
  margin: 15px 0 5px;
  width: 100% !important; }

.cs-form input[type="text"], .cs-form textarea {
  width: 90%;
  display: block !important;
  clear: both !important; }

.cs-form input[type="checkbox"] {
  display: inline-block;
  position: relative;
  top: 2px;
  left: 6px; }

.cs-form button {
  margin: 10px 0; }

.cs-form .newsletter {
  margin-top: 5px; }

.cs-form .newsletter label {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0; }

.cs-form button {
  float: none !important;
  clear: both !Important;
  display: block; }

/****************************
/* Misc
/***************************/
.c-icon--extra {
  width: 20px; }

@media only screen and (max-width: 660px) {
  .c-icon--extra {
    width: 30px; } }
/****************************
/* Monetate - Endcaps
/***************************/
.page-product-configurable .monetate-product-relationships-one, .page-product-configurable .monetate-product-relationships-two {
  max-width: 48%;
  float: left;
  border: solid 1px #dedede;
  border-radius: 2px;
  margin: 1% 1% 2% 1%;
  background: white; }

.page-product-configurable .monetate-recently-viewed, .page-product-configurable .outfit-builder {
  clear: both;
  border: solid 1px #dedede;
  border-radius: 2px;
  margin: 1%;
  background: white; }

html .mt_animate {
  margin: 0px; }

#wrapper .o-region.c-page-wrapper + .o-region .o-region__inner {
  width: 100%;
  background: #efefef;
  padding: 20px 0px;
  position: relative;
  overflow: hidden; }

.page-product-configurable #wrapper .o-region .o-region__inner:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0%;
  width: 100%;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 10px 20px 0 #b8b8b8;
  z-index: 1; }

.monetate-container {
  max-width: 1228px;
  margin: auto; }

.c-tabs.product.info.detailed + .o-region__inner {
  width: 100%;
  background: #efefef; }

.page-product-configurable .monetate-container {
  max-width: 1228px;
  margin: auto;
  padding: 1% 0%; }

.monetate-product-relationships-one .mt_sliderMask ul li.mt_item, .monetate-product-relationships-two .mt_sliderMask ul li.mt_item {
  max-width: 245px; }

.c-tabs.product.info.detailed {
  z-index: 2; }

.c-tabs.product.info.detailed + .o-region__inner {
  position: relative; }

.page-product-configurable .c-tabs.product.info.detailed + .o-region__inner:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0%;
  width: 100%;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 10px 20px 0 #b8b8b8;
  z-index: 1; }

.mt_itemWrapper a {
  text-decoration: none; }

@media only screen and (max-width: 600px) {
  .page-product-configurable .monetate-product-relationships-one, .page-product-configurable .monetate-product-relationships-two {
    max-width: 100%; }

  .monetate-product-relationships-one, .monetate-product-relationships-two {
    max-width: 100%; }

  .c-tabs.product.info.detailed + .o-region__inner:before {
    display: none; }

  .c-tabs.product.info.detailed + .o-region__inner {
    background: transparent; }

  .monetate-product-relationships-one, .monetate-product-relationships-two {
    margin: 2% 0%; }

  .monetate-product-relationships-one .mt_sliderMask ul li.mt_item, .monetate-product-relationships-two .mt_sliderMask ul li.mt_item {
    max-width: none; }

  .monetate-recently-viewed {
    margin: 0; } }
.mt_endcap {
  overflow: hidden;
  position: relative; }

.mt_sliderMiddle {
  position: relative;
  overflow: hidden; }

.mt_sliderMask {
  width: 100%;
  height: auto;
  overflow: hidden; }

.mt_sliderMask ul {
  position: relative; }

.mt_sliderMask ul li.mt_item {
  box-sizing: border-box;
  padding: 10px;
  list-style: none; }

.mt_arrowContainer {
  cursor: pointer; }

.mt_ratings {
  display: inline-block;
  position: relative; }

.mt_ratings > .mt_rating {
  overflow: hidden;
  white-space: nowrap; }

.mt_ratings > .mt_rating.full {
  position: relative;
  z-index: 2; }

.mt_ratings > .mt_rating.empty {
  position: absolute;
  top: 0; }

.mt_endcap.mt_horizontal {
  width: 100%; }

.mt_horizontal .mt_sliderMiddle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center; }

.mt_horizontal .mt_sliderMask {
  float: left;
  max-width: calc(100% - 40px); }

.mt_horizontal .mt_sliderMask ul {
  left: 0; }

.mt_horizontal .mt_sliderMask ul.mt_animate {
  -webkit-transition: left .25s;
  transition: left .25s; }

.mt_horizontal li.mt_item {
  display: inline-block;
  vertical-align: top; }

.mt_horizontal .mt_itemImageContainer .mt_image {
  width: 100%;
  height: auto; }

.mt_horizontal .mt_arrowContainer {
  float: left;
  position: relative; }

.mt_sliderTop {
  text-align: center;
  margin: 0%;
  padding: 10px 0px 6px 0px; }

.mt_sliderTop .mt_title, .mt_item {
  font-family: 'futura-pt-book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #2f2f2f;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left; }

.mt_sliderTop .mt_title {
  padding: 0;
  font-size: 20px;
  border-bottom: solid 0px #d4d4d4;
  width: 96%;
  display: block;
  text-align: left;
  margin: 0px 2%;
  padding: 5px;
  color: #525252;
  text-transform: none; }

.mt_item {
  font-size: 14px; }

.mt_item .mt_prodName {
  margin-bottom: 6px;
  overflow: hidden;
  height: 38px;
  font-size: 16px;
  text-align: center;
  color: #676767;
  text-transform: initial; }

.mt_item a:hover {
  color: #2f2f2f; }

.mt_itemImageContainer {
  margin-bottom: 18px;
  padding: 1px; }

.mt_priceText {
  text-align: center; }

.mt_price {
  display: inline-block; }

.mt_altPrice {
  text-decoration: line-through;
  color: #bfbfbf; }

.mt_price:before {
  content: 'Now: '; }

.mt_altPrice:before {
  content: 'RRP: '; }

.mt_altPrice + .mt_price {
  color: #ba2626;
  padding: 5px 5px 15px 5px;
  font-size: 16px; }

/* Footer Endcap Styles */
.page-product-configurable #footer .c-footer .mt_endcap.mt_horizontal, .checkout-index-index #footer .c-footer .mt_endcap.mt_horizontal, .guest-checkout-login-account-login #footer .c-footer .mt_endcap.mt_horizontal, .guest-checkout-login-account-create #footer .c-footer .mt_endcap.mt_horizontal {
  display: none !important; }

#footer .c-footer .mt_endcap.mt_horizontal {
  background: #efefef;
  padding-top: 20px;
  padding-bottom: 40px; }

#footer .c-footer .mt_sliderTop, #footer .c-footer .mt_sliderMiddle, #footer .c-footer .mt_sliderBottom {
  max-width: 1228px;
  margin: auto;
  background: #ffffff; }

#footer .c-footer .mt_sliderTop {
  border-top: solid 1px #dedede;
  border-left: solid 1px #dedede;
  border-right: solid 1px #dedede;
  border-radius: 2px; }

#footer .c-footer .mt_sliderMiddle {
  border-left: solid 1px #dedede;
  border-right: solid 1px #dedede;
  border-radius: 2px; }

#footer .c-footer .mt_sliderBottom {
  border-top: solid 1px #dedede;
  border-left: solid 1px #dedede;
  border-right: solid 1px #dedede;
  border-radius: 2px; }

.mt_sliderTop .mt_title {
  padding: 0;
  font-size: 20px;
  border-bottom: solid 1px #d4d4d4;
  width: 96%;
  display: block;
  text-align: left;
  margin: 0px 2%;
  padding: 5px;
  color: #525252;
  text-transform: none; }

#footer .c-footer .mt_sliderMiddle {
  padding-top: 10px; }

.c-footer .mt_endcap.mt_horizontal:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0%;
  width: 100%;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 10px 20px 0 rgba(184, 184, 184, 0.36);
  z-index: 1; }

/*////////////////////////*/
/*    Responsive Table    */
/*////////////////////////*/
@media only screen and (max-width: 500px) {
  .responsive-table::-webkit-scrollbar {
    width: 1em;
    height: 5px; }

  .responsive-table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

  .responsive-table::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey; }

  .responsive-table {
    overflow-x: scroll;
    margin-bottom: 30px; }

  .responsive-table table {
    width: 250%; }

  .responsive-table tr > td:first-child {
    min-width: 120px;
    background: #eaeaea;
    position: absolute;
    width: 33%;
    left: inherit;
    z-index: 1;
    border: solid 1px #cccccc; }

  .responsive-table tr td {
    padding: 10px;
    background: #f9f9f9;
    /* left: 16%; */
    /* position: relative; */
    z-index: 0;
    border: solid 1px #ece9e9; }

  .responsive-table table tr {
    position: relative; }

  .responsive-table tr td:nth-child(2) {
    padding-left: 20%; } }
/* Partials */
#ui-id-12 {
  background: #c20000;
  color: #ffffff; }

#ui-id-12.ui-state-focus:after, #ui-id-12.ui-state-focus:after {
  display: none; }

body .c-product-tile__btn {
  background: transparent;
  border: 2px solid #34af65;
  color: #34af65; }

/*/////////////////////////*/
/* Moved colours available */
/*/////////////////////////*/
.c-product-tile__img-wrapper .c-product-tile__item-extra-info {
  position: relative;
  background: #f3f3f3;
  color: #4c4c4c; }

@media only screen and (max-width: 1227px) {
  body .s-main-menu .categories > li > a {
    font-size: 1rem; } }
@media only screen and (min-width: 660px) and (max-width: 989px) {
  body .s-main-menu .categories > li > a {
    font-size: 0.8rem; } }
/*////////////////////////*/
/*      Basket Page       */
/*////////////////////////*/
.c-basket__footer .c-input-combined__input-wrapper .c-input-combined__input {
  border: 2px solid #dedede !important;
  background-color: #ebebeb !important; }

/*////////////////////////*/
/*.   PDP Styles          */
/*////////////////////////*/
#PDP-Size-Chart table {
  width: 100%; }

#PDP-Size-Chart thead {
  background: #ddd; }

#PDP-Size-Chart tr, td {
  border: 1px solid;
  padding: 4px; }

body.page-product-configurable .o-region__inner .o-layout.u-padding-top > div {
  width: 100% !important; }

.page-product-configurable .o-list-stacked--spaced .o-list-stacked__item {
  margin-bottom: 18px;
  background: #efefef;
  display: table;
  padding: 5px 15PX;
  border-radius: 100px;
  color: #bdbdbd;
  margin: 5px;
  display: inline-block; }
.page-product-configurable .o-list-stacked--spaced .o-list-stacked__item a {
  color: #8c8c8c;
  text-decoration: none; }

/*////////////////////////*/
/*.    Roundel styling.   */
/*////////////////////////*/
#product-roundel {
  background: #2676ba;
  max-width: 53px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  line-height: 15px;
  border-radius: 6px 6px 6px 0px;
  color: #ffffff;
  box-shadow: 0px 3px 6px -5px #000000;
  display: block !important;
  float: right;
  clear: right; }

#monVars {
  position: relative; }

.roundel {
  position: absolute;
  right: 0;
  z-index: 1;
  background: #2676ba;
  max-width: 53px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  line-height: 15px;
  border-radius: 6px 6px 6px 0px;
  color: #ffffff;
  box-shadow: 0px 3px 6px -5px #000000;
  display: block !important; }

@media only screen and (max-width: 350px) {
  .mon-badge {
    z-index: 1;
    font-size: 10px;
    padding: 5px; }

  .roundel {
    max-width: 42px;
    padding: 5px; } }
/*//////////////////////////
/* Footer Block Links
/*/
.footerFeefo {
  text-decoration: none; }

.page-product-configurable #basket-promo {
  font-size: 15px; }

.c-feefo p, .c-feefo h4, .c-feefo h5 {
  color: #fff; }

.c-footer__links a[onclick] {
  text-decoration: none; }

@media only screen and (max-width: 739px) {
  .mobile-footer-links h4::before {
    content: "+";
    float: right;
    font-size: 15px;
    margin-top: -3px; }

  .mobile-footer-links .toggleMain::before {
    content: "-";
    float: right;
    font-size: 15px;
    margin-top: -3px; }

  .mobile-footer-links h4 {
    background: #606060;
    padding: 10px;
    color: #ffffff; }

  .mobile-footer-links h4 + ul {
    display: none; }

  .mobile-footer-links .toggleMain + ul {
    display: inline-block;
    margin: 0px; }

  .mobile-footer-links .toggleMain + ul li {
    display: block;
    padding: 10px;
    margin: 1%;
    width: 48%;
    float: left;
    background: #d4d4d4;
    text-align: left; }

  .mobile-footer-links .toggleMain + ul li a {
    color: #606060; } }
/*/////////////////////////////
/* Footer Block FeeFo Mobile */
/*///////////////////////////*/
@media screen and (max-width: 500px) {
  body .c-feefo {
    background-size: 80px;
    padding: 0;
    min-height: 42px;
    background-position: left 15px center;
    margin: 7px 0px;
    position: relative; }

  .c-feefo h4.c-feefo__titl {
    display: none; }

  .c-feefo .c-feefo__percentage {
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px; }

  .c-feefo__subtitle {
    position: absolute;
    bottom: -23px;
    right: 0;
    left: 0;
    color: #b9b9b9; } }
/*/////////////////////////////
/* Category Banners          */
/*///////////////////////////*/
.category-container.full .category-text {
  position: absolute;
  top: 45%;
  margin: auto;
  left: 0;
  display: table;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  max-width: 90%;
  width: 90%; }

.category-container.full .category-title {
  position: absolute;
  top: 20%;
  margin: auto;
  left: 40%;
  font-size: 30px;
  padding: 0px 20px;
  color: #000000;
  display: table;
  right: auto;
  background: rgba(255, 255, 255, 0.8);
  max-width: 90%; }

.s-text-banner {
  padding: 0px; }

.category-container.full {
  position: relative; }

.category-container.full .category-links {
  display: flex !important;
  flex-wrap: wrap;
  margin-top: -10px; }

.category-container.full .category-links a {
  flex-grow: 1;
  margin: 0;
  border: 1px solid #555;
  border-left: 0;
  background: #000000;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 15px;
  padding: 10px;
  flex-basis: 200px; }

.category-container.full .category-links a img {
  max-width: 10px;
  margin-top: 3px;
  filter: invert(100%);
  float: right; }

.no-banner-sub-links a {
  display: inline-block;
  margin: 10px 10px;
  font-size: 18px;
  color: #555; }

.no-banner-sub-links a:after {
  content: ">";
  display: inline-block;
  margin-left: 10px;
  transform: scale(1, 1.4);
  position: relative;
  top: 2px; }

@media only screen and (max-width: 1227px) {
  .category-container.full .category-title {
    top: 10%;
    font-size: 25px; }

  .category-container.full .category-text {
    top: 30%;
    max-width: 90%; } }
@media only screen and (max-width: 989px) {
  .category-container.full .category-image {
    display: none; }

  .category-container.full .category-text, .category-title {
    position: relative !important;
    left: auto !important;
    display: block !important;
    margin-bottom: 20px;
    max-width: 100%;
    text-align: center; }

  .category-container.full .category-title {
    margin: 0px; } }
@media only screen and (max-width: 480px) {
  .category-container.full .category-links a {
    flex-basis: 150px;
    font-size: 10px; }

  .category-container.full .category-text {
    padding: 5px; } }
@media screen and (max-width: 768px) {
  .no-banner-sub-links {
    margin-top: -10px; }

  .no-banner-sub-links a {
    margin: 0px 10px; } }
/* Account Style */
.account.sales-order-view .box-order-billing-method {
  display: none; }

/* END */
.s-text-banner {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+0,ffffff+20 */
  background: #ededed;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ededed 0%, #ffffff 20%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ededed 0%, #ffffff 20%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ededed 0%, #ffffff 20%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 */ }

.category-container-aw17 img {
  float: right;
  width: auto;
  margin-left: 20px; }

.category-container-aw17 .category-links,
.category-container-aw17 .category-banner-text {
  text-align: left !important;
  padding: 20px;
  font-size: 1.1em; }

.category-container-aw17 .category-links {
  padding-left: 0; }

.category-container-aw17 .category-links a {
  color: #111;
  margin-right: 10px; }

.category-container-aw17 h1 {
  margin-bottom: 10px;
  line-height: 1.1em; }

@media screen and (max-width: 989px) {
  .category-container-aw17 img {
    display: none; }

  .category-container-aw17 {
    background: #fff; }

  .category-container-aw17 .category-links,
  .category-container-aw17 .category-banner-text {
    text-align: center !important; } }
/* wooform fix */
#wufooFormk1hcbt9l12keg2l {
  height: 1000px; }

.js-fredhopper-fredhopper-plp-seo-text-wrapper-placeholder {
  max-width: 1120px;
  margin: 0 auto;
  padding: 10px; }

/* Mega menu styles Desktop and Tablet */
.mob-only {
  display: none !important; }

.s-main-menu .block .category-items {
  padding-top: 0; }

.category-items ul {
  padding: 0 !important; }

.category-items li a {
  margin: 0 !important;
  padding: 0 !important;
  color: #ddd !important; }

.category-items h3 {
  text-align: left;
  margin: 15px 0 5px 0;
  color: #fff; }

.category-items .flex-container {
  padding: 0 !important;
  margin-top: 0;
  margin-bottom: 30px; }

.category-items .menu-pics img {
  max-width: 80%;
  margin: 5%; }

.category-items .shop-by-links li {
  display: block;
  float: left;
  margin: 0 10px 10px 0; }

.category-items ul.shop-by-links a {
  padding: 6px !important;
  display: block;
  background: #d32526;
  color: #fff !important;
  min-width: 36px;
  text-align: center !important; }

.category-items .shop-by-links:after {
  content: "";
  display: block;
  clear: both; }

.menu-pics a {
  max-height: 140px;
  overflow: hidden; }

.s-main-menu .categories > li:last-child a {
  text-align: left; }

.s-main-menu .categories > li > a {
  font-size: 1.11rem; }

.s-main-menu img {
  width: 100% !important;
  max-width: 140px !important; }

.menu-pics ul:last-child li {
  float: left;
  width: 50%; }

/* Mega menu styles mobile */
@media screen and (max-width: 739px) {
  h3.mob-only {
    display: block !important;
    margin-top: 0; }

  .category-items div {
    display: block !important; }

  .category-items div h3 {
    color: #333;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold; }

  .category-items div h3 a {
    margin-left: 0px !important; }

  .category-items div ul a {
    display: block;
    padding: 5px 0 !important;
    color: #777 !important; }

  .category-items div ul a:before {
    display: none !important; }

  .category-items div ul {
    padding: 10px !important; } }
/****************************
/* Delivery And Returns Page
/***************************/
#delivery .cp-faq .arrow-button {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 30px;
  display: inline-block; }
#delivery section h1 {
  margin: 10px 0px 10px 0px !important; }
#delivery #tabs .my-parcel {
  max-width: 57px;
  float: left;
  margin: -5px 0px -10px -10px;
  padding-right: 5px; }
#delivery .action-tabs .tabs *[data-action="tab"] {
  flex-basis: initial !important; }
#delivery .methods, #delivery .hours {
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 20px !important;
  margin-bottom: 30px; }
#delivery .methods a, #delivery > p a {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer; }
#delivery h1 {
  color: #333;
  margin: 40px 0 20px 0; }
#delivery .rl-pop.active {
  left: 0; }
#delivery .buttons-set > button {
  float: left !important;
  background: #5AA11F !important;
  padding: 13px;
  border-radius: 6px; }
#delivery .webforms-fields-ex_data_export_time_sent {
  display: none; }
#delivery .webforms-fields-ex_data_export_recipient {
  display: none; }
#delivery .fields.first > div:nth-child(2) {
  display: none !important; }
#delivery textarea {
  width: 370px;
  border: 1px solid #ccc;
  max-width: 90%; }
#delivery .fields.last {
  display: none; }
#delivery .hours p {
  margin: 2px 0; }
#delivery .methods ul, #delivery .methods li {
  margin: 0 !important;
  padding: 0;
  list-style-type: none; }
#delivery .methods i {
  margin: 4px 10px 0 0; }
#delivery .methods ul li:nth-child(1) {
  margin-bottom: 10px !Important;
  display: block; }
#delivery .cms-page {
  margin: 10px; }
#delivery #cu-form {
  margin-top: 100px !important;
  max-height: 80%;
  overflow: auto;
  z-index: 999999999999999;
  border: 1px solid #ccc; }
#delivery .cms-page {
  width: 1200px;
  margin: 0 auto !important;
  max-width: 96%; }
#delivery .cms-page strong {
  font-weight: bold !important;
  font-size: 24px; }
#delivery .cms-page li {
  font-style: normal !important;
  font-size: 16px !important; }
#delivery #contact-us-form button {
  background: #333 !important; }
#delivery .cms-page .map {
  margin: 30px 0; }
#delivery .cms-page .map a {
  background: #333;
  color: #eee;
  text-decoration: none !important;
  font-size: 18px;
  text-align: center;
  display: block;
  padding: 8px; }
#delivery .cms-page ul, #delivery .cms-page li {
  list-style-type: none !important; }

/****************************
/* Garment Care
/***************************/
#garment-care .flex-item {
  text-align: center;
  padding: 50px !important; }
#garment-care .flex-item.col-6:nth-child(1) h2, #garment-care .flex-item.col-6:nth-child(4) h2, #garment-care .flex-item.col-6:nth-child(1) span, #garment-care .flex-item.col-6:nth-child(4) span {
  color: #ffffff; }
#garment-care .flex-item > img {
  max-width: 60px; }
#garment-care .flex-item.col-6:nth-child(1), #garment-care .flex-item.col-6:nth-child(4) {
  background: #0081c6; }
#garment-care .background-container > h2 {
  font-size: 4vw;
  text-align: center; }
#garment-care .page-content img {
  padding: 5px; }
#garment-care .overlay-banner h1 {
  color: #ffffff;
  height: 10vh;
  font-size: 10vh; }

@media only screen and (max-width: 600px) {
  #garment-care .overlay-banner h1 {
    height: 5vh;
    font-size: 5vh; } }
/****************************
/* Jackets Buying Guide
/***************************/
#jackets-buying-guide .flex-container .flex-container {
  max-width: 50%;
  float: left;
  text-align: center; }
#jackets-buying-guide #three .flex-container, #jackets-buying-guide #four .flex-container {
  max-width: 100%;
  width: 100%; }
#jackets-buying-guide .toggle-content {
  text-align: center; }
#jackets-buying-guide .flex-container.action-toggle h2 {
  background: #343334;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  clear: both; }

/****************************
/* Offers Hub
/***************************/
#offers-hub .overlay-text {
  font-size: 9vh;
  color: #ffffff; }
#offers-hub .overlay-text strong {
  border-bottom: solid 5px #ffffff; }

/****************************
/* Fabrics
/***************************/
#fabric .toggle-button {
  background: #333333;
  color: #ffffff;
  padding: 30px; }
#fabric .toggle-button:hover {
  background: #333333;
  box-shadow: inset 0px 30px 40px rgba(68, 68, 68, 0.59); }
#fabric .toggle-button::after {
  border-color: #fff transparent transparent transparent;
  right: 30px;
  top: 50%; }
#fabric .overlay-banner .overlay-text {
  color: #ffffff;
  font-size: 4vw; }
#fabric h2 img {
  width: initial;
  display: block;
  margin: auto; }
#fabric h2 {
  text-align: center;
  padding: 30px 60px; }
#fabric .flex-container img {
  width: initial; }
#fabric .flex-container {
  background: #f2f2f2;
  padding: 20px; }

/****************************
/* Email Sign Up
/***************************/
#email-sign-up.cms-page h1 {
  background: #343334;
  padding: 20px;
  color: #ffffff; }

#email-sign-up.cms-page {
  display: table; }

/****************************
/* Register Guarantee
/***************************/
#register-guarantee {
  display: inline-block; }

#register-guarantee h1 {
  background: #343334;
  padding: 20px;
  color: #ffffff; }

/****************************
/* Delivery Page
/***************************/
#delivery section h1 {
  color: #ffffff;
  background: #222222;
  padding: 10px;
  text-align: center;
  margin: 10px 0px 0px 0px; }
#delivery table {
  width: 100%; }
#delivery table tr:first-child td {
  color: #ffffff;
  background: #0080c5; }
#delivery table td {
  padding: 10px;
  border: solid 1px #000000; }
#delivery .collectPlus h1 img {
  margin: 0px auto 10px auto;
  display: block; }
#delivery .collectPlusInformation img {
  float: left; }
#delivery .collectPlusInformation span {
  float: left;
  max-width: 80%; }
#delivery .collectPlusInformation div {
  width: 100%;
  clear: both; }
#delivery .collectPlusInformation {
  float: left;
  width: 100%; }
#delivery section h2 {
  color: #ffffff;
  background: #222222;
  padding: 10px;
  text-align: center;
  display: table;
  width: 100%; }
#delivery .small {
  width: initial; }

#delivery .cms-page .content img {
  width: initial;
  display: block; }

/****************************
/* Cycle Padding Page
/***************************/
#cycle-padding .toggle-button {
  background: #333333;
  color: #ffffff;
  padding: 30px; }
#cycle-padding .toggle-button:hover {
  background: #333333;
  box-shadow: inset 0px 30px 40px rgba(68, 68, 68, 0.59); }
#cycle-padding .toggle-button::after {
  border-color: #fff transparent transparent transparent;
  right: 30px;
  top: 50%; }
#cycle-padding .overlay-banner .overlay-text {
  color: #ffffff;
  font-size: 4vw; }

/****************************
/* Terms
/***************************/
#terms img {
  width: initial; }

/****************************
/* Contact Us Page
/***************************/
#contact-us .maps h2 {
  background: #343334;
  color: #ffffff;
  padding: 20px;
  text-align: center; }

#contact-us.cms-page h2 {
  background: #343334;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  margin: 20px 0px 20px 0px; }

#contact-us.cms-page {
  text-align: center; }

#contact-us.cms-page h1 {
  font-size: 8vh; }

/****************************
/* About Us Page
/***************************/
#about-us {
  text-align: center; }

#about-us .page-content img {
  padding: 5px; }
#about-us .overlay-banner h1 {
  color: #ffffff;
  height: 10vh;
  font-size: 10vh; }
#about-us h1 {
  color: #b7262d; }

@media only screen and (max-width: 600px) {
  #about-us .overlay-banner h1 {
    height: 5vh;
    font-size: 5vh; } }
/* Singles */
#homepage section img {
  width: 100%; }
#homepage .flex-container {
  margin: 0px; }
#homepage .flex-container .flex-item {
  padding: 0px; }
#homepage .one.flex-item.col-9 {
  width: 71.4%; }
#homepage .two.flex-item.col-3 {
  width: 25.6%; }
#homepage .flex-item, #homepage .swiper-slide {
  border: 3px solid #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
#homepage .tabs > li {
  text-align: center;
  color: #ffffff;
  line-height: 40px; }
#homepage .action-tabs .tabs *[data-action="tab"] {
  background: #444444; }
#homepage .action-tabs .tabs *[data-action="tab"].active {
  background: #222222; }
#homepage .action-tabs .tabs *[data-action="tab"]:hover {
  background: #0080c5; }
#homepage .swiper-slide > ul {
  position: absolute;
  top: 30px;
  right: 30px;
  list-style-type: none;
  text-align: center; }
#homepage .swiper-slide > ul li a {
  padding: 10px;
  display: block;
  width: 140px;
  background: #111;
  margin-top: 20px;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px; }

@media only screen and (max-width: 740px) {
  #homepage .flex-item.col-6 {
    width: 50%; }
  #homepage .flex-item.col-12 {
    padding: 0; } }
/* New Swipe Banner Styles */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative; }

.swipe-wrap {
  overflow: hidden;
  position: relative; }

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden; }

.swipe .single-slide ul.slide-buttons {
  position: absolute;
  top: 0px;
  right: 30px;
  list-style-type: none;
  text-align: center; }
  @media (max-width: 1024px) {
    .swipe .single-slide ul.slide-buttons {
      display: none; } }

.swipe .single-slide ul.slide-buttons li a {
  padding: 10px;
  display: block;
  width: 140px;
  background: #111;
  margin-top: 20px;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px; }

/*# sourceMappingURL=styles.css.map */
